include ../links/links.pug

mixin navigation({ navigationList=[] })
  nav
    ul.navigation
      each navigationItem in navigationList
        -
          const activeLinkClass = navigationItem.active ? "navigation__link_active" : ""
          const dropdownItemClass = navigationItem.dropdown ? "navigation__item_dropdown" : ""

        li.navigation__item(class=dropdownItemClass)
          a&attributes({
            class: ["navigation__link", activeLinkClass ],
            href: navigationItem.url,
          }) #{navigationItem.name}
          if navigationItem.dropdown
            .navigation__dropdown
              +links({ linksList: [
                { name: "О нас", url: "./error-page.html"},
                { name: "Новости", url: "./error-page.html"},
                { name: "Служба поддержки", url: "./error-page.html"},
                { name: "Услуги", url: "./error-page.html"},
              ]})