@import '@variables';
@import '@mixins';

.price-calc {
  @include font-body;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__undiscounted {
    display: flex;
    justify-content: space-between;
  }

  &__service-charge {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 10px;
  }

  &__additional-services {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    line-height: 18px;
  }
}

.service-charge {
  max-width: 214px;
  min-width: 214px;
}

.additional-services {
  max-width: 214px;
  min-width: 214px;
}

.total-price {
  @include font-h2;
  display: flex;
  align-items: baseline;
  padding-top: 31px;

  &__text {
    font-family: Montserrat, Arial, sans-serif;
    vertical-align: text-bottom;
  }

  &__points {
    width: 100%;
    margin: 0 5px;
    border-bottom: dotted 1px $textColor_25;
    box-sizing: border-box;
  }
}