include ../info-icon/info-icon.pug

mixin price-calc()
  .price-calc
    .price-calc__undiscounted
      span.price-calc__undiscounted-value 9 990 x 4 суток
      span.price-calc__undiscounted-full-value 39 960₽

    .price-calc__service-charge
      .service-change
        span.service-charge__text Сбор за услуги: 
        span.service-charge__discount скидка 2 197₽
      +info-icon({ href: "error-page", text: "Здесь будет ваша подсказка, а подробности можно узнать кликнув на иконку" })
      span.service-charge__full-value 0₽

    .price-calc__additional-services
      .additional-services
        span.additional-services__text Сбор за дополнительные услуги
      +info-icon({ href: "error-page", text: "Здесь будет ваша подсказка, а подробности можно узнать кликнув на иконку" })
      span.additional-services__full-value 300₽

    .price-calc__total-price
      .total-price
        span.total-price__text Итого
        .total-price__points
        span.total-price__value 38081₽