@import "@variables";
@import "@mixins";

.price-calc {
  @include font-body;

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__undiscounted {
    display: flex;
    justify-content: space-between;
  }

  &__service-charge {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 10px;
  }

  &__additional-services {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    line-height: 18px;
  }
}

.service-charge {
  min-width: 214px;
  max-width: 214px;
}

.additional-services {
  min-width: 214px;
  max-width: 214px;
}

.total-price {
  display: flex;
  align-items: baseline;
  padding-top: 28px;
  color: $mainTextColor;
  font: 700 19px/23px $mainFont;

  &__text {
    font-family: Montserrat, Arial, sans-serif;
    vertical-align: text-bottom;
  }

  &__points {
    width: 100%;
    margin: 0 5px;
    border-bottom: dotted 1px $textColor_25;
  }
}
