@import '@variables';

.dropdown {
  position: relative;

  &_type_guests {
    min-width: 100%;
  }

  &_type_comfort {
    min-width: 266px;
  }

  &__input {
    position: relative;
    width: 100%;
    min-height: $inputHeight;
    padding: 0 0 0 14px;
    font: 1rem/18px $mainFont;
    border: $mainBorder;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus-within {
      border: $focusBorder;
    }

    &[value] {
      color: rgba(31, 32, 65, 0.75);
    }
  }

  &__arrow-down {
    position: absolute;
    top: 10px;
    right: 10px;

    &::before {
      color: $textColor_75;
      font: 1.7143rem/24px 'Material Icons', sans-serif;
      cursor: pointer;
      content: '\e5cf';
    }
  }

  &__drop {
    position: absolute;
    top: $inputHeight;
    right: 0;
    left: 0;
    display: none;
    border: $mainBorder;
    border-radius: 0 0 4px 4px;
  }

  &__menu {
    margin: 0;
    padding: 0;
    color: $mainTextColor;
    font: 700 0.8571rem/15px $mainFont;
    text-transform: uppercase;
  }

  &__menu-item {
    display: flex;
    justify-content: space-between;
    padding: 7px 6px 0 6px;
    text-transform: uppercase;

    &:first-child {
      padding-top: 6px;
    }

    &:last-child {
      padding-bottom: 7px;
      border-radius: 0 0 4px 4px;
    }
  }

  &__menu-item-text {
    padding: 6px 0 0 8px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 92px;
    height: 30px;
    border: 0;
  }

  &__decrement {
    width: 30px;
    height: 30px;
    color: gray;
    font-size: 1.2857rem;
    background: #fff;
    border: $mainBorder;
    border-radius: 100px;
    outline: none;
    cursor: pointer;

    &::after {
      content: '-';
    }

    &:hover,
    &:focus {
      border: $focusBorder;
    }

    &.disabled {
      cursor: auto;
      opacity: 0.4;
    }
  }

  &__counter {
    width: 30px;
    height: 28px;
    padding: 0;
    font: 700 0.8571rem $mainFont;
    text-align: center;
    border: 0;
    outline: none;
  }

  &__increment {
    width: 30px;
    height: 30px;
    padding-top: 3px;
    color: gray;
    font-size: 1.2857rem;
    background: #fff;
    border: $mainBorder;
    border-radius: 100px;
    outline: none;
    cursor: pointer;

    &::after {
      content: '+';
    }

    &:hover,
    &:focus {
      border: $focusBorder;
    }

    &.disabled {
      cursor: auto;
      opacity: 0.4;
    }
  }

  &__buttons {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 12px 7px 13px 14px;
    background: #fff;
    border-radius: 0 0 4px 4px;
  }

  &__button-clear {
    visibility: hidden;

    & .dropdown__button-clear_show {
      visibility: visible;
    }
  }
}

.dropdown.dropdown_open {
  .dropdown__drop {
    z-index: 1000;
    display: block;
    background: #fff;
    border: $focusBorder;
    border-top: none;
  }

  .dropdown__input {
    border: $focusBorder;
    border-radius: 4px 4px 0 0;
  }
}
