@import "@variables";
@import "@mixins";

.dropdown {
  position: relative;

  &_type_guests {
    min-width: 100%;
  }

  &_type_comfort {
    min-width: 266px;
  }

  &__arrow-down {
    position: absolute;
    top: 10px;
    right: 10px;

    &::before {
      color: $textColor_75;
      font: 24px/24px "Material Icons", sans-serif;
      cursor: pointer;
      content: "\e5cf";
    }
  }

  &__input {
    position: relative;
    width: 100%;
    height: $inputHeight;
    padding: 0 0 0 14px;
    font: 14px/18px $mainFont;
    border: $mainBorder;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    caret-color: transparent;

    &:hover,
    &:focus-within {
      border: $focusBorder;
    }

    &[value] {
      color: rgba(31, 32, 65, 0.75);
    }
  }

  &__drop {
    position: absolute;
    top: $inputHeight;
    right: 0;
    left: 0;
    display: none;
    border: $mainBorder;
    border-radius: 0 0 4px 4px;
  }

  &__menu {
    @include font-h3;

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__menu-item {
    display: flex;
    justify-content: space-between;
    padding: 7px 6px 0 6px;
    text-transform: uppercase;

    &:first-child {
      padding-top: 6px;
    }
    &:last-child {
      padding-bottom: 7px;
      border-radius: 0 0 4px 4px;
    }
  }

  &__menu-item-text {
    padding: 6px 0 0 8px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 92px;
    height: 30px;
    border: 0;
  }

  &__decrement {
    width: 30px;
    height: 30px;
    color: gray;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    background: none;
    border: $mainBorder;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    &::after {
      content: "-";
    }

    &:hover,
    &:focus {
      border: $focusBorder;
    }

    &.disabled {
      cursor: auto;
      opacity: 0.4;
    }
  }

  &__counter {
    width: 30px;
    height: 28px;
    padding: 0;
    font: 700 12px $mainFont;
    text-align: center;
    border: 0;
    outline: none;
  }

  &__increment {
    width: 30px;
    height: 30px;
    color: gray;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    background: #fff;
    border: $mainBorder;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    &::after {
      content: "+";
    }

    &:hover,
    &:focus {
      border: $focusBorder;
    }

    &.disabled {
      cursor: auto;
      opacity: 0.4;
    }
  }

  &__buttons {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 12px 7px 13px 14px;
    background: #fff;
    border-radius: 0 0 4px 4px;
  }

  &__button-clear {
    visibility: hidden;

    &.dropdown__button-clear_show {
      visibility: visible;
    }
  }
}

.dropdown.dropdown_open {
  .dropdown__drop {
    z-index: 1000;
    display: block;
    background: #fff;
    border: $focusBorder;
    border-top: none;
  }
  .dropdown__input {
    border: $focusBorder;
    border-radius: 4px 4px 0 0;
  }
}
