$inputHeight: 44px;
$inputWidthSizeL: 320px;
$inputWidthSizeM: 266px;
$inputWidthSizeS: 150px;
@import '@variables';

.dropdown {
  position: relative;

  &__guests {
    width: $inputWidthSizeL;
  }

  &__comfort {
    width: $inputWidthSizeM;
  }

  &__arrow {
    &_down {
      position: absolute;
      top: 10px;
      right: 10px;

      &::before {
        content: '\e5cf';
        font-family: 'Material Icons';
        font-size: 24px;
        line-height: 24px;
        color: $textColor_75;
        cursor: pointer;
      }
    }
  }

  &__input {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 0px 0 14px;
    border: $mainBorder;
    height: $inputHeight;
    border-radius: 4px;
    font-family: $mainFont;
    font-size: $mainFont_size;
    line-height: 18px;
    cursor: pointer;
    caret-color: transparent;

    &[value] {
      color: rgba(31, 32, 65, 0.75);
    }
  }

  &__drop {
    display: none;
    position: absolute;
    border: $mainBorder;
    border-radius: 0 0 4px 4px;
    top: $inputHeight;
    left: 0;
    right: 0;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__menu-item {
    box-sizing: border-box;
    padding: 7px 6px 0 6px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    &:first-child {
      padding-top: 6px;
    }
    &:last-child {
      padding-bottom: 7px;
    }

    &_text {
      padding-top: 6px;
      padding-left: 8px;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }

  &__controls {
    width: 92px;
    height: 30px;
    border: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .controls__decrement {
      font-size: 18px;
      line-height: 22px;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: $mainBorder;
      border-radius: 50%;
      outline: none;
      background: none;
      color: gray;
      cursor: pointer;
      text-align: center;
      line-height: 27px;

      &::after {
        content: '-';
      }

      &.disabled {
        opacity: 0.5;
      }
    }

    .controls__counter {
      //refactor
      border: 0;
      width: 30px;
      height: 28px;
      text-align: center;
      font-family: inherit;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      padding: 0px;
    }

    .controls__increment {
      font-size: 18px;
      line-height: 22px;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: $mainBorder;
      border-radius: 50%;
      outline: none;
      background: #fff;
      color: gray;
      cursor: pointer;
      text-align: center;
      line-height: 29px;

      &::after {
        content: '+';
      }

      &.disabled {
        opacity: 0.5;
      }
    }
  }
}

.dropdown.open {
  .dropdown__drop {
    display: block;
    border: $focusBorder;
    border-top: none;
    background: #fff;
    z-index: 1000;
  }
  .dropdown__input {
    border-radius: 4px 4px 0 0;
    border: $focusBorder;
  }
}

.js-buttons-dropdown {
  &__wrapper {
    padding: 6px 0 4px 7px;
    background: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    border-radius: 0 0 4px 4px;
  }

  &__button {
    margin: 0;
    border: none;
    background: #fff;
    height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    &:hover {
      opacity: 0.5;
    }

    &_clear {
      visibility: hidden;

      &.display {
        visibility: visible;
      }
    }

    &_apply {
    }
  }
}

.buttons-dropdown__wrapper_datepicker {
  padding: 0 20px;
}
