@import '@variables';
@import '@mixins';

.paginationjs {
  display: flex;
  flex-direction: column;
  max-width: 22.8571rem;
  font: 0.8571rem/1.0714rem $mainFont;
}

.js-pagination__next-button {
  color: #fff;
  line-height: 2.8571rem;
}
.js-pagination__next-button::before {
  @include font-material-icons;
  content: '\e5c8';
  color: #fff;
  line-height: 2.8571rem;
}

.js-pagination__next-button:hover::before {
  color: $textColor_75;
}

.paginationjs .paginationjs-pages li {
  border: none;
}

.paginationjs .paginationjs-pages li > a {
  min-width: 2.8571rem;
  height: 2.8571rem;
  line-height: 2.8571rem;
  background: #fff;
  font-size: 0.8571rem;
  color: $textColor_50;
  outline: none;
}

.paginationjs .paginationjs-pages li > a:hover {
  background: #eee;
  border-radius: 1.5714rem;
}

.paginationjs .paginationjs-pages li.active > a {
  height: 40px;
  border-radius: 22px;
  line-height: 40px;
  background: $mainGradient;
  font-weight: 700;
  color: #fff;
}
.paginationjs .paginationjs-pages li.active > a:hover {
  color: $textColor_75;
}

.paginationjs .paginationjs-pages li.disabled > a {
  opacity: 1;
}

.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child > a {
  border-radius: 1.5714rem;
}

.paginationjs .paginationjs-pages li:last-child {
  border-right: none;
  border-radius: 1.5714rem;
}

.paginationjs .paginationjs-pages li:last-child > a {
  border-radius: 1.5714rem;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  font-weight: 700;
}

.paginationjs .paginationjs-nav {
  height: 1.7143rem;
  margin: 0.5714rem 0 0 0.3571rem;
  line-height: 1.7143rem;
  font-family: Montserrat, Arial, sans-serif;
  color: $textColor_75;
}