@import '@variables';
@import '@mixins';

.paginationjs {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  font: 12px/15px $mainFont;
}

.paginationjs a:focus {
  border: 2px solid $designColor_main;
  border-radius: 50%;
}

.paginationjs-next-button {
  color: #fff;
  line-height: 40px;
}

.paginationjs-next-button::before {
  @include font-material-icons;

  color: #fff;
  line-height: 40px;
  content: '\e5c8';
}

.paginationjs-next-button:hover::before {
  color: $textColor_75;
}

.paginationjs .paginationjs-pages li {
  border: none;
}

.paginationjs .paginationjs-pages li > a {
  min-width: 40px;
  height: 40px;
  color: $textColor_50;
  font-size: 12px;
  line-height: 40px;
  background: #fff;
  outline: none;
}

.paginationjs .paginationjs-pages li > a:hover {
  background: #eee;
  border-radius: 22px;
}

.paginationjs .paginationjs-pages li.active > a {
  height: 40px;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  background: $mainGradient;
  border-radius: 22px;
}

.paginationjs .paginationjs-pages li.disabled > a {
  opacity: 1;
}

.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child > a {
  border-radius: 22px;
}

.paginationjs .paginationjs-pages li:last-child > a {
  font-weight: 700;
  background: $secondGradient;
  border-radius: 22px;
}

.paginationjs .paginationjs-pages li.active > a:hover {
  color: $textColor_75;
}

.paginationjs .paginationjs-pages li:last-child {
  border-right: none;
  border-radius: 22px;
}

.paginationjs .paginationjs-nav {
  margin: 8px 0 0 5px;
  color: $textColor_75;
  font: 14px/24px $mainFont;
}
