@import "@variables";
@import "@mixins";

.landing {
  box-sizing: border-box;
  background: 50% 68% / 106% url("../../images/page-background/landing.jpg")
    no-repeat;

  @media (max-width: 1280px) {
    background-size: cover;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 0 0 140px;

    @media (max-width: 960px) {
      flex-direction: row;
      justify-content: center;
      padding: 100px 0;
    }

    @media (max-width: 480px) {
      padding: 100px 0 200px 0;
    }
  }

  &__search-room {
    min-width: 380px;
    @media (max-width: 960px) {
      align-items: center;
      padding-bottom: 100px;
    }
    @media (max-width: 480px) {
      min-width: 320px;
      padding-bottom: 50px;
    }
  }

  &__self-presentation {
    @include font-body;

    align-self: flex-end;
    max-width: 400px;
    padding: 316px 133px 21px 0;
    text-align: end;

    @media (max-width: 960px) {
      display: none;
    }
  }
}
