extends ../../layouts/main-layout.pug
include ../../components/card/card.pug

block variables
  - const title = "Landing page"

block content
  main.landing
    .landing__container
      .landing__search-room
        +card({
          title: "Найдём номера под ваши пожелания",
          type: "search",
          formAction: "search-room-page",
          buttonText: "подобрать номер",
          buttonType: "submit",
        })
      .landing__self-presentation
        p Лучшие номера для вашей работы, отдыха и просто вдохновения
  
block footer
  +footer({
    border: false,
    logo: { type: "colorWithText" },
    footerText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
    footerNavigation: {
      column1: { 
        title: "навигация", 
        linksList: [
          { name: "О нас", url: "./error-page.html" },
          { name: "Новости", url: "./error-page.html" },
          { name: "Служба поддержки", url: "./error-page.html" },
          { name: "Услуги", url: "./error-page.html" },
        ]
      },
      column2: { 
        title: "О нас", 
        linksList: [
          { name: "О сервисе", url: "./error-page.html" },
          { name: "Наша команда", url: "./error-page.html" },
          { name: "Вакансии", url: "./error-page.html" },
          { name: "Инвесторы", url: "./error-page.html" },
        ]
      },
      column3: { 
        title: "Служба поддержки", 
        linksList: [
          { name: "Соглашение", url: "./error-page.html" },
          { name: "Сообщества", url: "./error-page.html" },
          { name: "Связь с нами", url: "./error-page.html" },
        ]
      },
    },
    subscribe: { title: "Подписка", text: "Получайте специальные   предложения и новости сервиса" },
    copyright: "Copyright © 2018 Toxin отель. Все\u00A0права\u00A0защищены.",
    social: { 
      socialLinks: [
        { title: "twitter", link: "https://twitter.com" },
        { title: "facebook", link: "https://facebook.com" },
        { title: "instagram", link: "https://instagram.com" },
      ]
    },
  })