mixin social()
  .social__wrapper
    a&attributes({
      class: "social social_twitter", 
      href: "https://www.twitter.com/",
      target: "_blank",
      rel: "noopener noreferrer"
    })
    a&attributes({
      class: "social social_facebook", 
      href: "https://www.twitter.com/",
      target: "_blank",
      rel: "noopener noreferrer"
    })
    a&attributes({
      class: "social social_instagram", 
      href: "https://www.twitter.com/",
      target: "_blank",
      rel: "noopener noreferrer"
    })