.radio{
  box-sizing: border-box;
  display: inline-block;
  color: $textColor_50;
  cursor: pointer;
  margin-left: 2em;

  &__input{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .radio__box{
      border-color: $designColor_main;
    }

    &:checked ~ .radio__title{
      color: $textColor_75;
    }

    &:checked + .radio__box:before{
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $mainGradient;
    }

  }

  &__box{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -2em;
    box-sizing: border-box;
    border: $mainBorder;
    border-radius: 50%;
    background-color: #fff;
  }
}