extends ../../blocks/main

block variables
	- var title = "Colors & Type"
	- var description = ""
	- var keywords = ""

block content
	body.body-wrapper
		header
			include ../../basis/header_uikit/header_uikit.pug
		main.content-wrapper_colors-type
			section.colors__wrapper
				include ../../blocks/colors/colors.pug
			section.type__wrapper
				include ../../blocks/type/type.pug
		footer
			include ../../basis/footer_uikit/footer_uikit.pug