extends ../../layouts/main-layout.pug
include ../../components/filter/filter.pug
include ../../components/room-selection/room-selection.pug

block variables
  - const title = "Search room"

block content
  main.search-room
    .search-room__container
      aside.search-room__filter(data-id="search-room-filter")
        +filter({
          dateDropdown: {
            title: "даты пребывания в отеле",
            options: { 
              type: "text",
              dataType: "filter-date-dropdown",
              placeholder: "дд.мм - дд.мм",
              size: "medium",
              lowercase: true,
              name: "text", 
              autocomplete: "off",
              arrow: true,
              readonly: true, 
            }
          },
          dropdownGuests: {
            title: "гости",
            options: {
              isOpen: false,
              group: "guests", 
              elements: [
                { title: "Взрослые", count: 2 },
                { title: "Дети", count: 0 }, 
                { title: "Младенцы", count: 1 }
              ]
            }
          },
          rangeSlider: {
            title: "диапазон цены",
            description: "Стоимость за сутки пребывания в номере"

          },
          checkbox: {	
            title: "Правила дома",
            dropdown: false,
            rich: false,
            listItems: [
              { title: "Можно курить" },
              { title: "Можно с питомцами" },
              { title: "Можно пригласить гостей (до\u00A010\u00A0человек)", checked: true }
            ]
          },
          richCheckbox: {	
            title: "доступность",
            dropdown: false,
            rich: true,
            listItems: [
              { 
                title: "Широкий коридор",
                rich: true, 
                description: "Ширина коридоров в номере не\u00A0менее 91 см." 
              },
              { 
                title: "Помощник для инвалидов",
                rich: true, 
                description: "На 1 этаже вас встретит специалист и\u00A0проводит до номера."
              }
            ]
          },
          dropdownComfort: { 
            title: "удобства номера",
            isOpen: false, 
            group: "comfort", 
            elements: [
              { title: "Спальни", count: 2 }, 
              { title: "Кровати", count: 2 }, 
              { title: "Ванные комнаты", count: 0 }
            ]
          },
          expandableCheckbox: {	
            title: "дополнительные удобства",
              dropdown: true,
              rich: false,
              listItems: [
                { title: "Завтрак" }, 
                { title: "Письменный стол", checked: true }, 
                { title: "Стул для кормления", checked: true },
                { title: "Кроватка", checked: true },
                { title: "Телевизор" },
                { title: "Шампунь" }
              ]
          },
        })
        
      section.search-room__room-selection
        +room-selection({
          title: "Номера, которые мы для вас подобрали",
          widgets: [
            {
              images: [
                "room-img-1.jpg",
                "room-img-2.jpg",
                "room-img-3.jpg",
                "room-img-4.jpg",
              ],
              roomNumber: { symbol: "№", value: "888", text: "люкс" },
              roomPrice: { value: "9 990", text: "в сутки" },
              rating: 5,
              commentCount: { value: "145", text: "Отзывов" } 
            },
            {
              images: [
                "room-img-2.jpg",
                "room-img-5.jpg",
                "room-img-6.jpg",
                "room-img-7.jpg",
              ],
              roomNumber: { symbol: "№", value: "840" },
              roomPrice: { value: "9 900", text: "в сутки" },
              rating: 4,
              commentCount: { value: "65", text: "Отзывов" } 
            },
            {
              images: [
                "room-img-3.jpg",
                "room-img-2.jpg",
                "room-img-3.jpg",
                "room-img-4.jpg",
              ],
              roomNumber: { symbol: "№", value: "980", text: "люкс" },
              roomPrice: { value: "8 500", text: "в сутки" },
              rating: 3,
              commentCount: { value: "35", text: "Отзывов" } 
            },
            {
              images: [
                "room-img-4.jpg",
                "room-img-3.jpg",
                "room-img-2.jpg",
                "room-img-1.jpg",
              ],
              roomNumber: { symbol: "№", value: "856" },
              roomPrice: { value: "7 300", text: "в сутки" },
              rating: 5,
              commentCount: { value: "19", text: "Отзывов" } 
            },
            {
              images: [
                "room-img-5.jpg",
                "room-img-4.jpg",
                "room-img-3.jpg",
                "room-img-2.jpg",
              ],
              roomNumber: { symbol: "№", value: "740" },
              roomPrice: { value: "6 000", text: "в сутки" },
              rating: 4,
              commentCount: { value: "44", text: "Отзывов" } 
            },
            {
              images: [
                "room-img-6.jpg",
                "room-img-5.jpg",
                "room-img-4.jpg",
                "room-img-3.jpg",
              ],
              roomNumber: { symbol: "№", value: "982" },
              roomPrice: { value: "5 800", text: "в сутки" },
              rating: 3,
              commentCount: { value: "56", text: "Отзывов" } 
            },
            {
              images: [
                "room-img-7.jpg",
                "room-img-6.jpg",
                "room-img-5.jpg",
                "room-img-4.jpg",
              ],
              roomNumber: { symbol: "№", value: "678" },
              roomPrice: { value: "5 500", text: "в сутки" },
              rating: 5,
              commentCount: { value: "45", text: "Отзывов" } 
            },
            {
              images: [
                "room-img-8.jpg",
                "room-img-5.jpg",
                "room-img-6.jpg",
                "room-img-7.jpg",
              ],
              roomNumber: { symbol: "№", value: "450" },
              roomPrice: { value: "5 300", text: "в сутки" },
              rating: 4,
              commentCount: { value: "39", text: "Отзывов" } 
            },
            {
              images: [
                "room-img-9.jpg",
                "room-img-8.jpg",
                "room-img-7.jpg",
                "room-img-6.jpg",
              ],
              roomNumber: { symbol: "№", value: "350" },
              roomPrice: { value: "5 000", text: "в сутки" },
              rating: 3,
              commentCount: { value: "77", text: "Отзывов" } 
            },
            {
              images: [
                "room-img-10.jpg",
                "room-img-9.jpg",
                "room-img-8.jpg",
                "room-img-7.jpg",
              ],
              roomNumber: { symbol: "№", value: "666" },
              roomPrice: { value: "5 000", text: "в сутки" },
              rating: 5,
              commentCount: { value: "25", text: "Отзывов" } 
            },
            {
              images: [
                "room-img-11.jpg",
                "room-img-12.jpg",
                "room-img-3.jpg",
                "room-img-7.jpg",
              ],
              roomNumber: { symbol: "№", value: "444" },
              roomPrice: { value: "5 000", text: "в сутки" },
              rating: 3,
              commentCount: { value: "15", text: "Отзывов" } 
            },
            {
              images: [
                "room-img-12.jpg",
                "room-img-11.jpg",
                "room-img-10.jpg",
                "room-img-9.jpg",
              ],
              roomNumber: { symbol: "№", value: "352" },
              roomPrice: { value: "5 000", text: "в сутки" },
              rating: 3,
              commentCount: { value: "55", text: "Отзывов" } 
            },
          ]
        })