@import '@variables';

.room-review-widget {
  max-width: 270px;
  max-height: 257.5px;
  background: $cardsBackground;
  box-sizing: border-box;
  box-shadow: $mainBoxShadow;
  border-radius: $mainBorderRadius;

  &__info {
    padding: 1.2857rem 1.2143rem 1.3571rem 1.4286rem;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & .room-number__value {
      font-size: 1.4286rem;
    }
  }

  &__price {
    & .room-price__text {
      font-size: 0.8571rem;
    }
  }

  &__border {
    padding-top: 0.5rem;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5714rem;
  }
}
