@import '@variables';

.room-review-widget {
  max-width: 270px;
  max-height: 257.5px;
  background: $cardsBackground;
  box-sizing: border-box;
  box-shadow: $mainBoxShadow;
  border-radius: $mainBorderRadius;

  &__info {
    padding: 16px 17px 19px 20px;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & .room-number__value {
      font-size: 20px;
    }
  }

  &__price {
    & .room-price__text {
      font-size: 12px;
    }
  }

  &__border {
    padding-top: 7px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
  }

  &__item {
    list-style: none;
  }
}
