include ../carousel/carousel.pug
include ../room-number/room-number.pug
include ../rating/rating.pug
include ../comment-count/comment-count.pug
include ../room-price/room-price.pug

mixin room-review-widget({ images=[], roomNumber={}, roomPrice={}, rating={}, commentCount={} })
  .room-review-widget
    .room-review-widget__image
      +carousel({ images })
    .room-review-widget__info
      .room-review-widget__data
        +room-number(roomNumber)
        .room-review-widget__price
          +room-price(roomPrice)
      .room-review-widget__border
      .room-review-widget__rating
        +rating(rating)
        +comment-count(commentCount)
