@import '@variables';

.room-review-widget {
  max-width: 270px;
  max-height: 257.5px;
  background: $cardsBackground;
  border-radius: $mainBorderRadius;
  box-shadow: $mainBoxShadow;

  &__info {
    padding: 16px 17px 19px 20px;
  }

  &__data {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__border {
    padding-top: 7px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
  }

  &__comment-count {
    padding-top: 4px;
    color: $textColor_50;
    font: 1rem/18px;

    &-value {
      font-weight: 700;
    }

    &-text {
      padding: 0 4px 0 3px;
    }
  }
}
