include ../pagination/pagination.pug
include ../room-review-widget/room-review-widget.pug

mixin selection-rooms({ title, widgets })
  .selection-rooms__container
    h1.selection-rooms__title #{title}
    ul.selection-rooms__widgets
      each widget in widgets
        li.room-review-widget__item
          +room-review-widget(widget)
    .selection-rooms__pagination
      +pagination()