@import '@variables';
@import '@mixins';

.selection-rooms {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__title {
    @include font-h1;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &__widgets {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
    padding: 22px 0 40.5px 0;
    max-width: 834px;

    @media (max-width: 1280px) {
      grid-template-rows: repeat(3, 1fr);
    }
  }
}
