include ../pagination/pagination.pug
include ../room-review-widget/room-review-widget.pug
include ../heading/heading.pug

mixin selection-rooms({ title, widgets })
  .selection-rooms
    +heading({ level: "h1", title: title })
    ul.selection-rooms__widgets
      each widget in widgets
        li.room-review-widget-item
          +room-review-widget(widget)
    .selection-rooms__pagination
      +pagination()