@import "@variables";

.radio {
  display: inline-block;
  color: $textColor_50;
  cursor: pointer;

  &__container {
    margin-left: 30px;
  }

  &__box {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    background-color: #fff;
    border: $mainBorder;
    border-radius: 50%;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .radio__box {
      border-color: $designColor_main;
    }

    &:checked ~ .radio__title {
      color: $textColor_75;
    }

    &:checked + .radio__box::before {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      background: $mainGradient;
      border-radius: 50%;
      content: "";
    }

    &:focus + .radio__box {
      box-shadow: 3px 3px 2px $designColor_main;
    }
  }
}
