/*Rating*/
.rating {
  display: inline-block;
  font-family: "Material Icons";
  font-weight: normal;
  font-size: 24px;
  background: $mainGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &__star::before {
    content: '\e838';
  }
  &__star_border::before {
    content: '\e83a';
  }
}