@import '@variables';
@import '@mixins';

.rating {
  @include font-material-icons;
  display: inline-block;
  font-family: 'Material Icons';
  background: $mainGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  &__star::before {
    content: '\e838';
  }
  &__star_border::before {
    content: '\e83a';
  }
}