mixin text-field({ classList=[], type="", placeholder="", size="", name="", autocomplete="off", spellcheck=false})

  -
    const mainTextFieldClass = "text-field__input"
    const textFieldSizeClass = `text-field__size_${size}`
    classList.push(mainTextFieldClass)

    let inputAttributes = {
      class: classList,
      type: type,
      name: name,
      autocomplete: autocomplete,
      placeholder: placeholder,
      spellcheck: spellcheck
    }
  .text-field(class=textFieldSizeClass)
    input&attributes(inputAttributes)
    div(class="text-field__arrow_down")&attributes({"data-type": "arrow", onmousedown: "return false"})