 input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
  }

.text-field{
  position: relative;

	&__size{
		&_large{
			width: 320px;
		}
		&_m{
			width: 266px;
		}
		&_s{
			width: 150px;
		}
  }
  
  &__arrow{
    &_down{
      position: absolute;
      top: 10px;
      right: 10px;
      &::before{
        content: '\e5cf';
        font-family: 'Material Icons';
        font-size: 24px;
        line-height: 24px;
        color: $textColor_50;
        cursor: pointer;
      }
    }
  }

  &__input{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 0px 0 14px;
    border: $mainBorder;
    height: $inputHeight;
    border-radius: 4px;
    font-family: $mainFont;
    font-size: $mainFont_size;
    line-height: 18px;
    cursor: pointer;
    color: $textColor_75;

    &::placeholder{
      color: $textColor_25;
    }

    &:hover,
    &:focus{
      border: $focusBorder;
      &::placeholder{
        color: $textColor_75;
      }
    }
    

		&_hover{
			&::placeholder{
    		color:$textColor_75;
  		}
  		border: $focusBorder;
    }
    
    &_lowercase{
      text-transform: lowercase;
    }

    &_placeholder_dark-75{
      &::placeholder{
        color:$textColor_75;
      }
    }
		
  }
}