@import "@variables";
@import "@mixins";

.chart {
  display: flex;
  justify-content: space-between;
  max-width: 313px;
  max-height: 148px;
  padding-top: 21px;

  &__body {
    width: 100%;
    height: 100%;
  }

  &__doughnut {
    box-sizing: content-box;
    width: 120px;
    height: 120px;
    margin-right: 25px;
    padding-bottom: 7px;
  }

  &__sum-of-vote {
    color: $mainTextColor;
    font: 700 24px/29px $mainFont;
  }

  &__number {
    font-size: 6.5px;
    line-height: 30px;
  }
  &__text {
    font-size: 3.5px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__legend-list {
    margin: 0;
    padding: 27px 2px 5px 0;
  }

  &__legend-item {
    @include font-body;

    position: relative;
    display: block;
    cursor: pointer;

    &::first-letter {
      text-transform: uppercase;
    }

    &::before {
      position: absolute;
      top: 7px;
      left: -15px;
      width: 10px;
      height: 10px;
      border-radius: 8px;
      content: "";
    }

    &_type {
      &_sumptuously::before {
        background: $sumptuouslyRatingGradient;
      }
      &_good::before {
        background: $goodRatingGradient;
      }
      &_satisfactorily::before {
        background: $satisfactorilyRatingGradient;
      }
      &_disappointed::before {
        background: $badRatingGradient;
      }
    }

    &:hover {
      color: $textColor_50;
    }
    &:focus {
      color: $textColor_50;
      outline: none;
    }
  }

  &__circle {
    cursor: pointer;
    transition: all 0.5s;
    fill: none;
    stroke-width: 1.2;

    &_type {
      &_sumptuously {
        stroke-dasharray: 49 100;
        stroke-dashoffset: -25.5;
      }
      &_good {
        stroke-dasharray: 24.5 100;
        stroke-dashoffset: -75;
      }
      &_satisfactorily {
        stroke-dasharray: 24.7 100;
        stroke-dashoffset: -0.2;
      }
      &_disappointed {
        stroke-dasharray: 0 100;
      }
    }

    &_focused {
      stroke-width: 2.3;
    }

    &:hover {
      stroke-width: 2.3;
    }
  }
}
