mixin chart()
  .canvas
    svg(class="chart" width="120px" height="120px" viewBox="0 0 33 31")
      circle(class="unit" r="15.9" cx="50%" cy="50%" stroke="url(#yellow_gradient)")
      circle(class="unit" r="15.9" cx="50%" cy="50%" stroke="url(#purple_gradient)")
      circle(class="unit" r="15.9" cx="50%" cy="50%" stroke="url(#green_gradient)")
      linearGradient(id="purple_gradient" x1="60" y1="0" x2="60" y2="120")
        stop(stop-color="#BC9CFF")
        stop(offset="1" stop-color="#8BA4F9")
      linearGradient(id="green_gradient" x1="60" y1="0" x2="60" y2="120")
        stop(stop-color="#6FCF97")
        stop(offset="1" stop-color="#66D2EA")
      linearGradient(id="yellow_gradient" x1="60" y1="0" x2="60" y2="120")
        stop(stop-color="#FFE39C")
        stop(offset="1" stop-color="#FFBA9C")
      linearGradient(id="black_gradient" x1="60" y1="0" x2="60" y2="120")
        stop(stop-color="#919191")
        stop(offset="1" stop-color="#3D4975")