mixin dignity-room({ icon="", title="", subtitle=""})
  div.dignity-room__item
    i.material-icons.dignity-room__icon #{icon}
    .dignity-room__description
      .dignity-room__description_title #{title}
      .dignity-room__description_subtitle #{subtitle}
  .dignity-room__line