mixin dignity-room({ icon="", title="", subtitle=""})
  - const iconClass = "dignity-room__icon_" + icon
  div.dignity-room__item
    div(class=iconClass).dignity-room__icon
    .dignity-room__description
      .dignity-room__description_title #{title}
      .dignity-room__description_subtitle #{subtitle}
  hr.dignity-room__line