.dignity-room{
  
  &__item{
    display: flex;
    align-items: center;
    padding: 20px 0;
  }
  
  &__icon{
    font-family: "Material Icons";
    font-size: 48px;
    line-height: 41px;
    background: $mainGradient;
    background-clip: text;
    padding-top: 1px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &_mood::before {
      content: '\e7f2'
    }
    &_location_city::before {
      content: '\e7f1'
    }
    &_whatshot::before {
      content: '\e80e'
    }
	}
	
  &__description{
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    height: 48px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_title{
      font-weight: bold;
    }

    &_subtitle{
			font-weight: normal;
    }
  }

  &__line {
    border: none;
    color: rgba(31, 32, 65, 0.1);
    background-color: rgba(31, 32, 65, 0.1);
    height: 1px;
    margin: 0;
  }
}