mixin dignity-room({ icon="", title="", subtitle=""})
  - const iconClass = "dignity-room__icon-" + icon
  div.dignity-room__item
    div.dignity-room__icon
      span(class=iconClass).dignity-room__icon_color_purple-gradient
    .dignity-room__description
      .dignity-room__title #{title}
      .dignity-room__subtitle #{subtitle}
  hr.dignity-room__line