include ../logo/logo.pug

mixin footer-mobile()
  footer.footer-mobile.footer-mobile_show
    .footer-mobile__wrapper
      +logo({ type: "colorWithText" })
      .footer-mobile__copyright-text Copyright © 2018 Toxin отель. Все права зачищены.
      .footer-mobile__social
        +social({ socialLinks: [
          { title: "twitter", link: "https://twitter.com"},
          { title: "facebook", link: "https://facebook.com"},
          { title: "instagram", link: "https://instagram.com"},
        ]})