@import "@variables";

.footer-mobile {
  min-width: 320px;
  max-width: 768px;
  background: #fff;

  &_show {
    display: block;
  }

  @media (min-width: 767px) {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding: 120px 0;
  }

  &__copyright-text {
    padding: 20px 0 25px;
    color: $textColor_75;
    font: 14px/17px $mainFont;
    text-align: center;

    @media (max-width: 480px) {
      padding: 20px 50px;
    }
  }
}
