{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "node": true
  },
  "extends": [
    "airbnb/base",
    "plugin:fsd/all"
  ],
  "globals": {
    "$": "readonly",
    "jQuery": "readonly"
  },
  "plugins": ["fsd"],
  "rules": {
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "no-new": "off",
    "class-methods-use-this": "off",
    "func-names": "off",
    "fsd/hof-name-prefix": "error",
    "fsd/no-heavy-constructor": "error",
    "fsd/jq-cache-dom-elements": "error",
    "fsd/jq-use-js-prefix-in-selector": "error",
    "fsd/no-function-declaration-in-event-listener": "off",
    "fsd/split-conditionals": "error"
  }
}