.landing {
  flex: 1 0 auto;
  
  &__content {
    background: url('./components/landing/image/landing.jpg') no-repeat;
    background-size: cover;
    background-size: 107%;
    background-position: 51% 68%;
    box-sizing: border-box;
    
    @media (max-width: 1280px) {
      background-size: cover;
    }
  }

  &__container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 70px 0 0 140px;
    min-width: 320px;
    margin: 0 auto;

    @media (max-width: 960px) {
      flex-direction: row;
      justify-content: center;
      padding: 100px 0 100px 0;
    }

    @media (max-width: 480px) {
      padding: 100px 0 200px 0;
    }
  }

  &__search-room {
    @media (max-width: 960px) {
      align-items: center;
      padding-bottom: 100px;
    }
    @media (max-width: 480px) {
      padding-bottom: 50px;
    }

  }

  &__self-presentation {
    font-size: 14px;
    line-height: 24px;
    color: $textColor_75;
    align-self: flex-end;
    max-width: 300px;
    text-align: end;
    padding: 318px 134px 20px 0;

    @media (max-width: 960px) {
      display: none;
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}