@import '@variables';
@import '@mixins';

.landing {
  &__content {
    background: url('../landing/image/landing.jpg') no-repeat;
    background-size: cover;
    background-size: 108%;
    background-position: 44% 68%;
    box-sizing: border-box;

    @media (max-width: 1280px) {
      background-size: cover;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1440px;
    padding: 5rem 0 0 10rem;
    min-width: 22.8571rem;
    margin: 0 auto;

    @media (max-width: 960px) {
      flex-direction: row;
      justify-content: center;
      padding: 7.1429rem 0 7.1429rem 0;
    }

    @media (max-width: 480px) {
      padding: 7.1429rem 0 14.2857rem 0;
    }
  }

  &__search-room {
    @media (max-width: 960px) {
      align-items: center;
      padding-bottom: 7.1429rem;
    }
    @media (max-width: 480px) {
      padding-bottom: 3.5714rem;
    }
  }

  &__self-presentation {
    @include font-body;
    align-self: flex-end;
    max-width: 28.5714rem;
    padding-top: 22.7143rem;
    padding-right: 8.5rem;
    padding-bottom: 1.4286rem;
    text-align: end;

    @media (max-width: 960px) {
      display: none;
    }
  }
}