.landing {
  flex: 1 0 auto;
  
  &__content {
    background: url('./components/landing/image/landing.jpg') no-repeat;
    background-size: cover;
    background-size: 107%;
    background-position: 51% 68%;
    box-sizing: border-box;
    
    @media (max-width: 1280px) {
      background-size: cover;
    }
  }

  &__container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5rem 0 0 10rem;
    min-width: 22.8571rem;
    margin: 0 auto;

    @media (max-width: 960px) {
      flex-direction: row;
      justify-content: center;
      padding: 7.1429rem 0 7.1429rem 0;
    }

    @media (max-width: 480px) {
      padding: 7.1429rem 0 14.2857rem 0;
    }
  }

  &__search-room {
    @media (max-width: 960px) {
      align-items: center;
      padding-bottom: 7.1429rem;
    }
    @media (max-width: 480px) {
      padding-bottom: 3.5714rem;
    }

  }

  &__self-presentation {
    font-size: 1rem;
    line-height: 1.7143rem;
    color: $textColor_75;
    align-self: flex-end;
    max-width: 21.4286rem;
    text-align: end;
    padding: 22.7143rem 9.5714rem 1.4286rem 0;

    @media (max-width: 960px) {
      display: none;
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}