.search-room {
  flex: 1 0 auto;

  &__container {
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 69px;

    @media (max-width: 1280px) {
      max-width: 1280px;
    }
  }

  &__filter {
    position: relative;
    max-width: 266px;
    padding-top: 30px;
    transition: 0.1s;

    @media (max-width: 1280px) {
      position: absolute;
      transform: translateX(-270px);
    }

    & .dropdown__guests { //это нужно пофиксить в dropdown!
      width: 100%;
    }
  }

  &__selection-rooms {
    padding: 30px 0 0px 60px;
    width: 100%;

    @media (max-width: 1190px) {
      padding-left: calc(20% - 100px);
    }
    @media (max-width: 918px) {
      padding-left: calc(30% - 100px);
      padding-top: 60px;
    }
    @media (max-width: 645px) {
      padding-left: calc(40% - 100px);
    }
    @media (max-width: 400px) {
      padding: 60px 25px 25px 25px;
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}

.search-room__container.js-search-room__active {
  .search-room__filter {
    background: #fff;
    min-height: 100%;
    padding: 20px;
    z-index: 1000;
    transform: translateX(10px);
  }
}