include ../header/header.pug
include ../filter/filter.pug

include ../card/card.pug
include ../footer/footer.pug

mixin search-room({ header, filter, footer })
  body
    .search-room
      header.search-room__header
        +header(header)
      main.search-room__content
        .search-room__container
          aside.search-room__filter
            +filter(filter)
            

          section.search-room__selection-of-rooms
            .selection-of-rooms__widgets
            .selection-of-rooms__pagination

    footer.search-room__footer
      +footer(footer)