include ../header/header.pug
include ../filter/filter.pug
include ../selection-rooms/selection-rooms.pug

include ../card/card.pug
include ../footer/footer.pug

mixin search-room({ header, filter, selectionRooms, footer })
  body
    .search-room
      header.search-room__header
        +header(header)
      main.search-room__content
        .search-room__container.js-search-room
          aside.search-room__filter.js-search-room__filter
            +filter(filter)
            
          section.search-room__selection-rooms
            +selection-rooms(selectionRooms)

    footer.search-room__footer
      +footer(footer)