@import '@variables';
@import '@mixins';

.button {
  @include font-h3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 100px;
  background: $mainGradient;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $mainGradientTransparent;
  }

  &_hover {
    background: $mainGradientTransparent;
  }

  &_fill-white {
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    background: #fff;
    border-radius: 100px;
  }

  &_size {
    &_stretch {
      padding: 9px 20px 10px;
    }
    &_small {
      min-width: 98px;
      padding: 15px 0px 14px;
    }
    &_large {
      padding: 15px 19px 14px;
    }
  }

  &_inline {
    @include font-h3;
    padding: 0;
    border: none;
    background: none;
    display: inline-block;
    color: $designColor_main;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $textColor_50;
      background: none;
    }
  }

  &_text-color {
    &_purple {
      position: relative;
      z-index: 1;
      color: $designColor_main;
    }
    &_gray {
      color: $textColor_50;
    }
    &_white {
      color: #fff;
    }
  }

  &__arrow {
    position: absolute;
    right: 10px;
    top: 10px;
    
    &:before {
      position: relative;
      content: '\e5c8';
      font: 400 24px/24px 'Material Icons';
      color: #fff;
    }
  }
}
