@import "@variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2px;
  font: 700 12px/15px $mainFont;
  text-transform: uppercase;
  background: $mainGradient;
  border: none;
  border-radius: 100px;
  outline: none;
  cursor: pointer;

  &:disabled {
    background: $mainGradientTransparent;
    cursor: auto;
  }

  &:hover,
  &:focus {
    background: $mainGradientTransparent;
  }

  &_no-text-decoration {
    text-decoration: none;
  }

  &__inner {
    width: 100%;
    color: $mainTextColor;
    border-radius: 100px;

    &_size {
      &_large {
        padding: 13px 32px 12px 64px;
      }

      &_small {
        padding: 12px 12px 13px 11px;
        text-align: center;
      }

      &_stretching {
        padding: 7px 18px 8px;
      }
    }

    &_text-color {
      &_purple {
        color: $designColor_main;
      }
      &_gray {
        color: $textColor_50;
      }
      &_white {
        color: #fff;
      }
    }

    &_fill {
      &_white {
        background: #fff;
      }
    }
  }

  &_inline {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    background: none;

    &:hover,
    &:focus {
      color: $textColor_50;
      background: none;
      outline: none;
    }

    & .button__inner:hover,
    & .button__inner:focus {
      color: $textColor_50;
      background: none;
      outline: none;
    }

    &:disabled {
      color: $textColor_50;
      background: none;
      cursor: auto;
    }
  }

  &__arrow {
    padding-right: 8px;

    &::before {
      color: #fff;
      font: 400 24px/24px "Material Icons", sans-serif;
      content: "\e5c8";
    }
  }
}
