@import '@variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border: none;
  background: $mainGradient;
  border-radius: 100px;
  font-family: $mainFont;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $mainGradientTransperent;
  }

  &_hover {
    background: $mainGradientTransperent;
  }

  &_fill-white {
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    background: #fff;
    border-radius: 100px;
  }
  /*------Size------*/
  &_size {
    &_stretch {
      padding: 9px 20px 10px;
    }
    &_small {
      min-width: 98px;
      padding: 15px 0px 14px;
    }
    &_large {
      padding: 15px 19px 14px;
    }
  }

  /*------Inline------*/
  &_inline {
    padding: 0;
    border: none;
    background: none;
    display: inline-block;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.5;
      background: none;
    }
  }

  /*------Text-Colors------*/
  &_text-color {
    &_purple {
      color: $designColor_main;
      position: relative;
      z-index: 1;
    }
    &_gray {
      color: $textColor_50;
    }
    &_white {
      color: #fff;
    }
  }

  &__arrow {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;

    &:before {
      font-family: 'Material Icons';
      content: '\e5c8';
      position: relative;
      color: #fff;
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
    }
  }
}
