@import '@variables';
@import '@mixins';

.room-details {
  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    min-height: 400px;
    padding: 70px 140px 0 140px;

    @media (max-width: 1240px) {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 50px;
    }

    @media (max-width: 980px) {
      padding: 28px 0 0 0;
    }
  }

  &__information {
    display: grid;
    grid-gap: 12px 70px;
    grid-template-columns: 291px 1fr;
    padding-bottom: 71px;

    @media (max-width: 800px) {
      grid-gap: 50px;
      grid-template-columns: 320px;
    }

    @media (max-width: 480px) {
      max-width: 300px;
    }
  }

  &__calculation {
    margin-left: 20px;

    @media (max-width: 1200px) {
      padding-bottom: 70px;
    }

    @media (max-width: 800px) {
      margin-left: 0;
    }
  }

  &__cancel-text {
    @include font-body;

    margin: 0;
    padding-top: 19px;
  }

  &__rules-list {
    padding-top: 10px;
  }

  &__subtitle {
    color: $textColor_50;
    font: 14px/14px $mainFont;
  }

  &__dignities {
    padding-right: 11px;

    @media (max-width: 480px) {
      max-width: 300px;
      padding: 0;
    }
  }

  &__impressions {
    max-width: 320px;

    @media (max-width: 480px) {
      max-width: 300px;
      padding: 5px 10px;
    }
  }

  &__feedback {
    grid-column: 1/3;
    max-width: 711px;
    padding-top: 2px;
    padding-bottom: 23px;

    @media (max-width: 800px) {
      grid-column: 1/2;
    }

    @media (max-width: 480px) {
      max-width: 300px;
      padding: 5px 10px;
    }
  }

  &__rules {
    @media (max-width: 480px) {
      max-width: 300px;
      padding: 5px 10px;
    }
  }

  &__rules-heading {
    padding-left: 20px;
  }

  &__cancel {
    max-width: 341px;

    @media (max-width: 480px) {
      max-width: 300px;
      padding: 5px 10px;
    }
  }

  &__feedback-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__feedback-item {
    padding-top: 20px;

    &:last-child {
      padding-top: 23px;
    }
  }

  &__room-photo {
    display: flex;
    max-width: 1440px;
    max-height: 485px;
    margin: 0 auto;

    &-item {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-main {
      flex: 1 0 981px;
      min-width: 320px;

      @media (max-width: 981px) {
        flex-grow: 0;
        flex-shrink: 1;
      }
    }

    &-aside {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 400px;

      @media (max-width: 1280px) {
        display: none;
      }
    }

    &-aside-top {
      height: 50%;
      transform: scale(-1, 1);
    }

    &-aside-bottom {
      height: 50%;
    }
  }
}
