extends ../../layouts/main-layout.pug
include ../../components/room-photo/room-photo.pug
include ../../components/room-dignities/room-dignities.pug
include ../../components/comment/comment.pug
include ../../components/chart/chart.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/card/card.pug
include ../../components/heading/heading.pug

block variables
  - const title = "Room details"

block content
  .room-details
    .room-details__room-photo
      +room-photo({
        main: "room-details-main.jpg",
        asideTop: "room-details-aside-top.jpg",
        asideBottom: "room-details-aside-bottom.jpg",
        alt: "room photo"
      })
    .room-details__container
      .room-details__content
        .room-details__information
          section.room-details__dignities
            +heading({ level: "h2",  title: "сведения о номере" })
            +room-dignities({ icon: "mood", title: "Комфорт", subtitle: "Шумопоглощающие стены" })
            +room-dignities({ icon: "location-city", title: "Удобство", subtitle: "Окно в каждой из спален" })
            +room-dignities({ icon: "whatshot", title: "Уют", subtitle: "Номер оснащён камином", hasBottomLine: false })

          section.room-details__impressions
            +heading({ level: "h2",  title: "впечатления от номера" })
            +chart({
              sumOfVote: "260",
              items: [
                { 
                  label: "великолепно", 
                  type: "sumptuously",
                  colorName: "yellow_gradient",
                  firstStopColor: "#FFE39C",
                  secondStopColor: "#FFBA9C",
                },
                { 
                  label: "хорошо",
                  type: "good",
                  colorName: "green_gradient",
                  firstStopColor: "#6FCF97",
                  secondStopColor: "#66D2EA"
                },
                { 
                  label: "удовлетворительно",
                  type: "satisfactorily",
                  colorName: "purple_gradient",
                  firstStopColor: "#BC9CFF",
                  secondStopColor: "#8BA4F9", 
                },
                { 
                  label: "разочарован",
                  type: "disappointed",
                  colorName: "black_gradient",
                  firstStopColor: "#919191",
                  secondStopColor: "#3D4975",
                },
              ]
            })

          section.room-details__feedback
            +heading({ level: "h2",  title: "Отзывы посетителей номера", description: "2 отзыва" })
            .room-details__feedback-item
              +comment({ 
                imageName: "murad_sarafanov.jpg", 
                name: "Мурад Сарафанов", 
                dateOfVisit: "5 дней назад", 
                commentText: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", 
                likeCount: 12
              })
            .room-details__feedback-item
              +comment({ 
                imageName: "patricia_steklyshkova.jpg", 
                name: "Патрисия Стёклышкова", 
                dateOfVisit: "Неделю назад", 
                commentText: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент", 
                likeCount: 2,
                disabled: true
              })

          section.room-details__rules
            +heading({ level: "h2",  title: "правила" })
            .room-details__rules-list
              +bullet-list([ 
                "Нельзя с питомцами", 
                "Без вечеринок и мероприятий",  
                "Время прибытия — после 13:00, а\u00A0выезд до 12:00",
              ])

          .room-details__cancel
            +heading({ level: "h2",  title: "отмена" })
            p.room-details__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

        .room-details__calculation
          +card({
            type: "calculation",
            buttonText: "забронировать",
            numberOfGuests: 3,
            formAction: "room-details-page",
            buttonType: "submit"
          })