extends ../../layouts/main-layout.pug
include ../../components/room-dignities/room-dignities.pug
include ../../components/comment/comment.pug
include ../../components/chart/chart.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/booking-card/booking-card.pug
include ../../components/heading/heading.pug

block variables
  -
    const title = "Room details"
    const description = "Отель Toxin в самом центре приглашает остановиться\
    в одном из уютных номеров. Отличный вид, просторная закрытая парковка.\
    Онлайн-бронирование"
    const keywords = "жильё, проживание, Отель, Отели, специальные предложения,\
    пакеты услуг, предложения на выходные со скидками, специальные предложения."

block content
  .room-details
    .room-details__room-photo
      .room-details__room-photo-main
        img&attributes({
          class: "room-details__room-photo-item",
          src: require("./images/room-photo/room-details-main.jpg"),
          alt: "room photo",
        })
      .room-details__room-photo-aside
        .room-details__room-photo-aside-top
          img&attributes({
            class: "room-details__room-photo-item",
            src: require("./images/room-photo/room-details-aside-top.jpg"),
            alt: "room photo",
          })
        .room-details__room-photo-aside-bottom
          img&attributes({
            class: "room-details__room-photo-item",
            src: require("./images/room-photo/room-details-aside-bottom.jpg"),
            alt: "room photo",
          })
    .room-details__container
      .room-details__content
        .room-details__information
          section.room-details__dignities
            +heading({ level: "h2",  title: "сведения о номере" })
            +room-dignities({
              icon: "mood",
              title: "Комфорт",
              subtitle: "Шумопоглощающие стены"
            })
            +room-dignities({
              icon: "location-city",
              title: "Удобство",
              subtitle: "Окно в каждой из спален"
            })
            +room-dignities({
              icon: "whatshot",
              title: "Уют",
              subtitle: "Номер оснащён камином",
              hasBottomLine: false
            })

          section.room-details__impressions
            +heading({ level: "h2",  title: "впечатления от номера" })
            +chart([
                {
                  id: 'sumptuously',
                  name: 'великолепно',
                  votesAmount: 520,
                  firstStopColor: '#FFE39C',
                  secondStopColor: '#FFBA9C',
                },
                {
                  id: 'good',
                  votesAmount: 260,
                  name: 'хорошо',
                  firstStopColor: '#6FCF97',
                  secondStopColor: '#66D2EA',
                },
                {
                  id: 'satisfactorily',
                  name: 'удовлетворительно',
                  votesAmount: 260,
                  firstStopColor: '#BC9CFF',
                  secondStopColor: '#8BA4F9',
                },
                {
                  id: 'disappointed',
                  name: 'разочарован',
                  votesAmount: 0,
                  firstStopColor: '#919191',
                  secondStopColor: '#3D4975',
                },
            ])

          section.room-details__feedback
            +heading({
              level: "h2",
              title: "Отзывы посетителей номера",
              description: "2 отзыва"
            })
            .room-details__feedback-item
              +comment({ 
                imageName: "murad_sarafanov.jpg", 
                name: "Мурад Сарафанов", 
                dateOfVisit: "5 дней назад", 
                commentText: "Великолепный матрас на кровати в основной спальне!\
                А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.\
                Выкрикивал комплименты повару — никто не жаловался из соседей.",
                likeCount: 12
              })
            .room-details__feedback-item
              +comment({ 
                imageName: "patricia_steklyshkova.jpg", 
                name: "Патрисия Стёклышкова", 
                dateOfVisit: "Неделю назад", 
                commentText: "Обслуживание на высоте! Всё аккуратно, чисто.\
                Завтраки в номер советую заказать, каждый день новое блюдо и\
                десерт как комплимент", 
                likeCount: 2,
                disabled: true
              })

          section.room-details__rules
            .room-details__rules-heading
              +heading({ level: "h2",  title: "правила" })
            .room-details__rules-list
              +bullet-list([ 
                "Нельзя с питомцами", 
                "Без вечеринок и мероприятий",  
                "Время прибытия — после 13:00, а\u00A0выезд до 12:00",
              ])

          .room-details__cancel
            +heading({ level: "h2",  title: "отмена" })
            p.room-details__cancel-text 
             | Бесплатная отмена в течение 48 ч.
             | После этого при отмене не позднее чем за 5 дн.
             | до прибытия вы получите полный возврат за вычетом сбора за услуги.

        .room-details__calculation
          +booking-card({
            formAction: "room-details-page",
            header: {
              number: { symbol: "№", value: "888", text: "люкс" },
              price: { value: "9 990", text: "в сутки" },
            },            
            dateDropdown: { 
              type: "text",
              dataType: "date-dropdown-start",
              dataTypeEnd: "date-dropdown-end",
              placeholder: "ДД.ММ.ГГГГ",
              size: "small",
              name: "date",
              autocomplete: "off", 
              hasArrow: true,
              hasTwoInputs: true,
              startTitle: "прибытие",
              endTitle: "выезд",
              withMask: true,
              options: {
                inline: true,
                dateFormat: 'dd.mm.yyyy',
                position: 'bottom left',
                hasTwoInputs: true,
                initialDates: ['2019-08-19', '2019-08-23'],
              },
            },
            dropdown: {
              isOpen: false, 
              group: "guests", 
              elements: [
                { title: "Взрослые", id: "adults", count: 3 },
                { title: "Дети", id: "children", count: 0 }, 
                { title: "Младенцы", id: "babies", count: 0 },
              ],
              options: {
                defaultText: 'Сколько гостей',
                buttons: true,
                total: true,
                numberOfLetters: 35,
                plurals: {
                  totalItems: ['гость', 'гостя', 'гостей'],
                  babies: ['младенец', 'младенца', 'младенцев'],
                },
              }
            },
            button: {
              submit: {
                buttonName: "забронировать",
                type: "submit",
                buttonVariation: "withArrow",
                textColor: "white",
                size: "large",
              },
            }
          })