@import '@variables';
@import '@mixins';

.room-details {
  &__room-photo {
    display: flex;
    max-width: 1440px;
    max-height: 485px;
    margin: 0 auto;
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    min-height: 400px;
    padding-top: 5rem;
    padding-left: 140px;
    padding-right: 125px;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 800px) {
      padding-top: 2rem;
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  &__information {
    display: grid;
    grid-template-columns: 291px 1fr;
    grid-gap: 33px 70px;
    padding-bottom: 5.1429rem;

    @media (max-width: 800px) {
      grid-template-columns: 320px;
    }
    @media (max-width: 400px) {
      padding-left: 0.3571rem;
    }
  }

  &__calculation {
    margin-left: 20px;
    @media (max-width: 1200px) {
      padding-bottom: 70px;
    }
    @media (max-width: 800px) {
      margin-left: 0;
    }
  }
}

.information {
  &__title {
    @include font-h2;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__subtitle {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    color: $textColor_50;
  }

  &__dignity {
    box-sizing: border-box;
    padding-right: 0.7857rem;

    & .dignity-room__item:nth-last-child(2) {
      padding-bottom: 0;
    }
    & .dignity-room__item:nth-last-child(2) + hr {
      display: none;
    }
  }

  &__impressions {
    max-width: 320px;
  }

  &__feedback {
    max-width: 50.7857rem;
    grid-column: 1/3;
    padding-top: 2px;

    @media (max-width: 800px) {
      grid-column: 1/2;
    }
  }

  &__rules {
    & .information__title {
      padding: 0rem 0 1.2143rem 1.4286rem;
    }
  }

  &__cancel {
    max-width: 24.3571rem;
  }
}

.feedback {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__item {
    padding-top: 1.4286rem;

    &:last-child {
      padding-top: 1.6429rem;
    }
  }
}

.cancel {
  &__text {
    @include font-body;
    padding-top: 19px;
  }
}
