extends ../../blocks/main

block variables
	- var title = "Headers & Footers"
	- var description = ""
	- var keywords = ""

block content
	body.body-wrapper.body-wrapper__background
		header
			include ../../basis/header_uikit/header_uikit.pug
		main
			.content-wrapper_headers-footers
				include ../../basis/standart-bar/standart-bar.pug
				include ../../basis/logged-bar/logged-bar.pug
				include ../../basis/footer-widgets/footer-widgets.pug
		footer
			include ../../basis/footer_uikit/footer_uikit.pug