extends ../../blocks/main

block variables
	- var title = "Headers & Footers"
	- var description = ""
	- var keywords = ""

block content
	body.body-wrapper
		header
			include ../../blocks/header_uikit/header_uikit.pug
		main
		footer
			include ../../blocks/footer_uikit/footer_uikit.pug