.body__background {
  background: #E5E5E5;
}

.headers-footers {

  &__header_sing-in {
    margin-bottom: 40px;
  }
  &__header_logged {
    margin-bottom: 40px;
  }
  &__footer {
    margin-bottom: 40px;
  }
}