.content-wrapper_headers-footers {
	padding: 10px 0 0px;
	display: flex;
	flex-direction: column;
	height: 1070px;
	// justify-content: space-between;
	// margin: 0px auto 145px;
	// max-width: 1160px;
	// width: 80.55556%;
}

.body-wrapper__background {
	background: #E5E5E5;
}