extends ../../blocks/main
include ../../blocks/ui-kit-header/ui-kit-header.pug
include ../../blocks/header/header.pug
include ../../blocks/ui-kit-footer/ui-kit-footer.pug

block variables
  - var title = "Headers & Footers"
  - var description = ""
  - var keywords = ""

block content
  body.body-wrapper.body-wrapper__background
    header
      +ui-kit-header()
    main
      .content-wrapper_headers-footers
        .headers-footers__header_sing-in
          +header()
        .headers-footers__header_logged
        include ../../basis/logged-bar/logged-bar.pug
        include ../../blocks/footer/footer.pug
        include ../../basis/footer-creative/footer-creative.pug
    footer
      +ui-kit-footer({ footerLinks: [
        { link: "index", name: "Colors & Type" },
        { link: "headers_footers", name: "Headers & Footers" },
        { link: "form_elements", name: "Form Elements" },
        { link: "cards", name: "Cards" },
        { link: "#", name: "Landing page" },
      ]})