extends ../../layouts/ui-kit-layout.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/like/like.pug
include ../../components/checkbox/checkbox.pug
include ../../components/radio/radio.pug
include ../../components/toggle/toggle.pug
include ../../components/rating/rating.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/range-slider/range-slider.pug
include ../../components/dignity-room/dignity-room.pug
include ../../components/comment/comment.pug
include ../../components/pagination/pagination.pug
include ../../components/text-field/text-field.pug
include ../../components/button/button.pug

block variables
  - const title = "Form & Elements"

block content
  main.form-elements
    section.form-elements__text-fields-buttons
      .form-elements__text-fields
        .text-field__wrapper
          .text-field__header
            h3.text-field__title text field
            span.text-field__description default
          +text-field({ 
            type: "text", placeholder: "Email", 
            size:"large", name: "email", autocomplete: "on" 
          })

        .text-field__wrapper
          .text-field__header
            h3.text-field__title text field
            span.text-field__description hover / focus
          +text-field({ 
            type: "text",  placeholder: "This is pretty awesome", 
            size:"large", name: "email",  autocomplete: "off", focused: true, 
          })

        .text-field__wrapper
          .text-field__header
            span.text-field__title dropdown
            span.text-field__description default
          +dropdown({
            isOpen: false, group: "guests", 
            elements: [
              {title: "Взрослые", count: 0},
              {title: "Дети", count: 0}, 
              {title: "Младенцы", count: 0}
            ]
          })

        .text-field__wrapper
          .text-field__header
            h3.text-field__title masked text field
            span.text-field__description default
          +text-field({ 
            type: "text", dataType: "masked-text-field", masked: true, 
            placeholder: "ДД.ММ.ГГГГ", size:"large", name: "text"
          })

        .text-field__wrapper.text-field__wrapper_date-dropdown
          div
            .text-field__header
              span.text-field__title date dropdown
            +date-dropdown({ 
              type: "text", dataType: "date-dropdown-start", placeholder: "ДД.ММ.ГГГГ",
              size:"small", name: "date", autocomplete: "off", arrow: true 
            })
          div
            .text-field__header
              span.text-field__title date dropdown
            +date-dropdown({ 
              type: "text", dataType: "date-dropdown-end", placeholder: "ДД.ММ.ГГГГ", 
              size:"small", name: "date", autocomplete: "off", arrow: true 
             })

        .text-field__wrapper   
          .text-field__header
            span.text-field__title filter date dropdown
          +date-dropdown({ 
            type: "text", dataType: "filter-date-dropdown", placeholder: "ДД.ММ - ДД.ММ", size:"medium", name:"text",  autocomplete: "off", arrow: true,
            readonly: true, lowercase: true,
           })

        .text-field__wrapper 
          .text-field__header 
            span.text-field__title subscription text field
          +text-field({ 
            type: "text", dataType: "subscription-text-field", placeholder: "Email", size:"medium", 
            name: "email", autocomplete: "on", subscribe: true,
          })    

      .form-elements__buttons_small
        .button__wrapper
          +checkbox({	
            mainTitle: "Checkbox buttons",
            dropdown: false,
            rich: false,
            listItems: [
              { title: "Можно курить" },
              { title: "Можно с питомцами" },
              { title: "Можно пригласить гостей (до\u00A010\u00A0человек)", checked: true }
            ]
          })

        .button__wrapper
          h3.button__title.font__h3 radio buttons
          .button__wrapper_radio
            +radio({ group: "gender", title: "Мужчина", checked: true })
            +radio({ group: "gender", title: "Женщина", checked: false })

        .button__wrapper
          h3.button__title.font__h3 toggle
          +toggle({title: "Получать спецпредложения", checked: true })
          +toggle({title: "Получать спецпредложения", checked: false})

        .button__wrapper
          h3.button__title.font__h3 like button
          .button__wrapper_like
            +like({ icon: "heart", value: 2, disable: true })
            +like({ icon: "heart", value: 12, disable: false })

        .button__wrapper
          h3.button__title.font__h3 rate button
          .button__wrapper_rating
            +rating({ rating: 5 })
            +rating({ rating: 4 })

      .form-elements__buttons
        .button__wrapper_range-slider
          +range-slider({
            title: "range slider"
          })

        .button__wrapper
          h3.button__title buttons
          .button__block
            +button({ buttonName: "click me", size: "small", textColor: "white" })
            +button({ buttonName: "click me", size: "small", textColor:  "white", focused: true })
          .button__block
            +button({ buttonName: "click me", size: "small", textColor: "purple",  buttonVariation: "fillWhite" })
            +button({ buttonName: "click me", size: "small", textColor:  "purple", buttonVariation: "fillWhite", focused: true })
          .button__block_inline
            +button({ buttonName: "click me", textColor: "purple"})
            +button({ buttonName: "click me", textColor: "gray"})
          +button({ buttonName: "перейти к оплате", textColor: "white", size: "large",buttonVariation: "withArrow"})

        .button__wrapper
          h3.button__title.font__h3 pagination
          +pagination()

    section.form-elements__dropdowns
      .dropdown__block_left
        .dropdown__wrapper
          .text-field__header
            h3.text-field__title dropdown
            span.text-field__description default
          +dropdown({ 
            title: "dropdown",
            subtitle: "default",
            isOpen: false, 
            group: "comfort", 
            elements: [
              {title: "Спальни", count: 2}, 
              {title: "Кровати", count: 2}, 
              {title: "Ванные комнаты", count: 0}
            ]
          })
        .dropdown__wrapper
          .text-field__header
            h3.text-field__title.font__h3 dropdown
            span.text-field__description expanded
          +dropdown({
            title: "dropdown",
            subtitle: "expanded",
            isOpen: true, 
            group: "comfort", 
            elements: [
              {title: "Спальни", count: 2}, 
              {title: "Кровати", count: 2}, 
              {title: "Ванные комнаты", count: 0}
            ]
          })

      .dropdown__block_right
        .dropdown__wrapper
          .dropdown__header
            span.dropdown__title dropdown
          +dropdown({
            title: "dropdown",
            isOpen: true, 
            group: "guests", 
            elements: [
              {title: "Взрослые", count: 0},
              {title: "Дети", count: 0}, 
              {title: "Младенцы", count: 0}
            ]
          })

        .dropdown__wrapper
          .dropdown__header
            span.dropdown__title dropdown
          +dropdown({
            title: "dropdown",
            isOpen: true, 
            group: "guests", 
            elements: [
              {title: "Взрослые", count: 2},
              {title: "Дети", count: 1}, 
              {title: "Младенцы", count: 0}
            ]
          })

    section.form-elements__lists
      .list__block_expandable
        .list__wrapper
          +checkbox({	
            mainTitle: "Expandable checkbox list",
            dropdown: true,
            rich: false,
            listItems: []
          })
          +checkbox({	
            mainTitle: "Expandable checkbox list",
            dropdown: true,
            rich: false,
            listItems: [
              { title: "Завтрак" }, 
              { title: "Письменный стол", checked: true }, 
              { title: "Стул для кормления", checked: true },
              { title: "Кроватка", checked: true },
              { title: "Телевизор" },
              { title: "Шампунь" }
            ]
           })

      .list__block_other
        .list__wrapper
          +checkbox({	
            mainTitle: "rich checkbox buttons",
            dropdown: false,
            rich: true,
            listItems: [
              { title: "Широкий коридор", rich: true, 
                description: "Ширина коридоров в номере не\u00A0менее 91 см." },
              { title: "Помощник для инвалидов", rich: true, 
                description: "На 1 этаже вас встретит специалист и\u00A0проводит до номера." }
            ]
          })

        .list__wrapper_bullet
          h3.list__title.font__h3 bullet list
          +bullet-list([ 
            { title: "Нельзя с питомцами" }, 
            { title: "Без вечеринок и мероприятий" },  
            { title: "Время прибытия — после 13:00, а\u00A0выезд до 12:00" }
          ])

    section.form-elements__room-review
      .room-review__wrapper
        +dignity-room({ icon: "mood", title: "Комфорт", subtitle: "Шумопоглощающие стены" })
        +dignity-room({ icon: "location_city", title: "Удобство", subtitle: "Окно в каждой из спален" })
          
      .room-review__wrapper_comment
        .comment
          +comment({ 
            imageName: "comment-image-1.jpg", 
            name: "Мурад Сарафанов", 
            dateOfVisit: "5 дней назад", 
            commentText: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", 
            likeCount: 12
           })