include ../social/social.pug

mixin copyright({ text="" })
  .copyright__wrapper
    .copyright__content
      .copyright__text #{text}
      +social({ socialLinks: [
        { title: "twitter", link: "https://twitter.com"},
        { title: "facebook", link: "https://facebook.com"},
        { title: "instagram", link: "https://instagram.com"},
      ]})
