@import '@variables';

.date-dropdown {
  &__two-inputs {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.datepicker {
  z-index: 1500;
  min-width: 320px;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  line-height: 15px;
  font-size: 12px;
  color: $textColor_50;
  border: $mainBorder;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.25);
  transition: none;

  &__arrow {
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 20px;
    color: #bc9cff;

    &_back::before {
      content: '\e5c4';
    }
    &_forward::before {
      content: '\e5c8';
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;
  }

  &__button-clear {
    visibility: hidden;

    &.datepicker__button-clear_show {
      visibility: visible;
    }
  }
}

.date-dropdown__two-inputs .datepicker-inline {
  position: absolute;
  z-index: 1500;
  transform: translateX(-100000px);
  opacity: 0;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.25);

  &.active {
    transform: translateX(0px);
    transform: translateY(70px);
    opacity: 1;
  }
}

/* -------------------------------------------------
    Small datepicker
   ------------------------------------------------- */

.datepicker.datepicker--small {
  min-width: 266px;
  .datepicker--cell {
    height: 32px;
  }

  .datepicker--nav {
    padding-bottom: 20px;
  }
}

.datepicker--content {
  box-sizing: border-box;
  padding: 18px 20px 20px 21px;
}

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {
  border-radius: 22px;
  height: 40px;

  &.-focus- {
    background: $textColor_5;
  }

  &.-current- {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    color: #fff;
    font-weight: bold;

    &.-in-range- {
      color: #fff;
    }
  }

  &.-in-range- {
    background: $mainGradientTransparent_25;
    color: $textColor_50;
    border-radius: 0;

    &.-focus- {
      color: #fff;
      background: $mainGradientTransparent_25;
    }
  }

  &.-range-from- {
    border: none;
    background: $mainGradient;
    border-radius: 22px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $mainGradientTransparent_25;
      border-radius: 50% 0 0 50%;
      z-index: -1;
    }

    &.-focus- {
      color: #fff;
    }
  }
  &.-range-to- {
    border: none;
    background: $mainGradient;
    border-radius: 22px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $mainGradientTransparent_25;
      border-radius: 0 50% 50% 0;
      z-index: -1;
    }

    &.-focus- {
      color: #fff;
    }
  }

  &.-range-from-.-range-to- {
    border-radius: 22px;
  }

  &.-selected- {
    color: #fff;
    font-weight: bold;
    border: none;
    background: $mainGradient;

    &.-current- {
      color: #fff;
      background: $mainGradient;
    }

    &.-focus- {
      background: $mainGradientTransparent_25;
    }
  }
}

//  Day names
// -------------------------------------------------
.datepicker--day-name {
  color: $designColor_main;
  text-transform: none;
  font-size: 12px;
  font-weight: 700;
}

//  Months
// -------------------------------------------------

.datepicker--cells-months {
  box-sizing: border-box;
  height: 226px;
}

//  Month cell
// -------------------------

.datepicker--cell-month {
  border-radius: 100px;
  width: 33.33%;
  height: 25%;

  &.-range-from- {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: none;
      border-radius: 50% 0 0 50%;
      z-index: -1;
    }
  }
  &.-range-to- {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: none;
      border-radius: 0 50% 50% 0;
      z-index: -1;
    }
  }

  &.-range-from-.-range-to- {
    border-radius: 100px;
  }
}

//  Years
// -------------------------

.datepicker--years {
  box-sizing: border-box;
  height: 226px;
}

//  Year cell
// -------------------------

.datepicker--cell-year {
  border-radius: 100px;
  width: 33.33%;
  height: 35%;

  &.-range-from- {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: none;
      border-radius: 50% 0 0 50%;
      z-index: -1;
    }
  }
  &.-range-to- {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: none;
      border-radius: 0 50% 50% 0;
      z-index: -1;
    }
  }

  &.-range-from-.-range-to- {
    border-radius: 100px;
  }
}

/* -------------------------------------------------
    Navigation
	 ------------------------------------------------- */
.datepicker--nav {
  border-bottom: none;
  padding: 20px 20px 25px 20px;
  align-items: flex-start;

  font-family: $mainFont;
  font-size: 19px;
  line-height: 24px;
  color: $mainTextColor;
}

.datepicker--nav-title {
  font-weight: 700;
  text-align: center;
  &:hover {
    background: none;
    opacity: 0.5;
  }
}

.datepicker--nav-action {
  color: $designColor_main;
  max-width: 24px;
  padding-top: 2px;
  &:hover {
    background: none;
    opacity: 0.5;
  }
}

.datepicker--days-names {
  margin: 0;
}

.datepicker--cells {
  padding-top: 12px;
}

/* -------------------------------------------------
    Pointer
	 ------------------------------------------------- */

.datepicker--pointer {
  display: none;
}
