@import '@variables';

.date-dropdown {
  &__two-inputs {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__start {
    @media (max-width: 480px) {
      padding-right: 5px;
    }
  }
}

.datepicker {
  z-index: 1500;
  min-width: 320px;
  color: $textColor_50;
  font: 12px/15px Montserrat, sans-serif;
  border: $mainBorder;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.25);
  transition: none;

  @media (max-width: 400px) {
    min-width: 266px;

    .datepicker--cell {
      height: 32px;
    }

    .datepicker--nav {
      padding-bottom: 20px;
    }
  }

  &__arrow {
    color: #bc9cff;
    font: 24px/20px 'Material Icons', sans-serif;

    &_back::before {
      content: '\e5c4';
    }

    &_forward::before {
      content: '\e5c8';
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;
  }

  &__button-clear {
    visibility: hidden;

    & .datepicker__button-clear_show {
      visibility: visible;
    }
  }
}

.date-dropdown .datepicker-inline {
  position: absolute;
  z-index: 1500;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.25);
  transform: translateX(-100000px);
  opacity: 0;

  &.active {
    transform: translate(0, 5px);
    opacity: 1;
  }
}

[data-id='date-inline'] .datepicker-inline {
  position: static;
  transform: translateX(0);
  opacity: 1;
}

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
}

.datepicker--cell {
  height: 40px;
  border-radius: 22px;

  &.-focus- {
    background: $textColor_5;
  }

  &.-current- {
    color: #fff;
    font-weight: bold;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

    &.-in-range- {
      color: #fff;
    }
  }

  &.-in-range- {
    color: $textColor_50;
    background: $mainGradientTransparent_25;
    border-radius: 0;

    &.-focus- {
      color: #fff;
      background: $mainGradientTransparent_25;
    }
  }

  &.-range-from- {
    background: $mainGradient;
    border: none;
    border-radius: 22px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: $mainGradientTransparent_25;
      border-radius: 50% 0 0 50%;
      content: '';
    }

    &.-focus- {
      color: #fff;
    }
  }
  &.-range-to- {
    background: $mainGradient;
    border: none;
    border-radius: 22px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: $mainGradientTransparent_25;
      border-radius: 0 50% 50% 0;
      content: '';
    }

    &.-focus- {
      color: #fff;
    }
  }

  &.-range-from-.-range-to- {
    border-radius: 22px;
  }

  &.-selected- {
    color: #fff;
    font-weight: bold;
    background: $mainGradient;
    border: none;

    &.-current- {
      color: #fff;
      background: $mainGradient;
    }

    &.-focus- {
      background: $mainGradientTransparent_25;
    }
  }
}

//  Day names
// -------------------------------------------------
.datepicker--day-name {
  color: $designColor_main;
  font-weight: 700;
  font-size: 12px;
  text-transform: none;
}

//  Months
// -------------------------------------------------

.datepicker--cells-months {
  height: 226px;
}

//  Month cell
// -------------------------

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
  border-radius: 100px;

  &.-range-from- {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: none;
      border-radius: 50% 0 0 50%;
      content: '';
    }
  }
  &.-range-to- {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: none;
      border-radius: 0 50% 50% 0;
      content: '';
    }
  }

  &.-range-from-.-range-to- {
    border-radius: 100px;
  }
}

//  Years
// -------------------------

.datepicker--years {
  height: 226px;
}

//  Year cell
// -------------------------

.datepicker--cell-year {
  width: 33.33%;
  height: 35%;
  border-radius: 100px;

  &.-range-from- {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: none;
      border-radius: 50% 0 0 50%;
      content: '';
    }
  }
  &.-range-to- {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: none;
      border-radius: 0 50% 50% 0;
      content: '';
    }
  }

  &.-range-from-.-range-to- {
    border-radius: 100px;
  }
}

/* -------------------------------------------------
    Navigation
	 ------------------------------------------------- */
.datepicker--nav {
  align-items: flex-start;
  padding: 20px 20px 25px 20px;
  color: $mainTextColor;
  font: 19px/24px $mainFont;
  border-bottom: none;
}

.datepicker--nav-title {
  font-weight: 700;
  text-align: center;

  &:hover {
    background: none;
    opacity: 0.5;
  }
}

.datepicker--nav-action {
  max-width: 24px;
  padding-top: 2px;
  color: $designColor_main;
  &:hover {
    background: none;
    opacity: 0.5;
  }
}

.datepicker--days-names {
  margin: 0;
}

/* -------------------------------------------------
    Pointer
	 ------------------------------------------------- */

.datepicker--pointer {
  display: none;
}

/* -------------------------------------------------
    Small datepicker
   ------------------------------------------------- */

.datepicker.datepicker--small {
  min-width: 266px;

  .datepicker--cell {
    height: 32px;
  }

  .datepicker--nav {
    padding-bottom: 20px;
  }
}

.datepicker--content {
  padding: 18px 20px 20px 21px;
}
