.bar
	.bar-wrapper
		.bar__logo_logged
			include ../bar/bar__logo/logo.pug
		include ../bar/bar__navigation/navigation.pug
		img(src="../src/img/rectangle.svg", alt="")
		.username
			p Cosmin Negoita
