.subscribe
  h2 Subscribe to our newsletter
  p Receive our latest news and promotions in your inbox!
  form
    input(
      type='text'
      name='email'
      placeholder='Your email address'
    )
    button(type='submit'): i.material-icons.subscribe__email_entry_icon.gradient arrow_forward