.subscribe {
  box-sizing: border-box;
  min-width: 260px;
  max-width: 260px;
  font-family: $mainFont;
  padding-top: 4px;

  &__title {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: $mainTextColor;
  }

  &__text {
    font-size: $mainFont_size;
    line-height: 24px;
    color: $textColor_75;
    margin: 0;
    padding: 18px 0 23px 0;
  }
}