mixin checkbox({ title="", checked=false })
  label.checkbox
    input&attributes({
      class: "checkbox__input",
      type: "checkbox",
      title: title,
      checked: checked
    })
    span.checkbox__box
    span.checkbox__title=title