mixin checkbox({ title="", checked=false, rich=false, description="" })

  - let titleClassName = "checkbox__title"
  - let descriptionClassName = "checkbox__description"
  - titleClassName += rich ? "_rich" : ""
  - descriptionClassName += rich ? "_rich" : ""    

  label.checkbox
    input&attributes({
      class: "checkbox__input",
      type: "checkbox",
      title: title,
      checked: checked
    })
    span.checkbox__box
    div(class = titleClassName) #{title}
      div(class = descriptionClassName) #{description}