.checkbox{
  width: 266px;

  &__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    cursor: pointer;
    &_arrow-up{
      &::before{
        content: '\e5ce';
        font-family: 'Material Icons';
        font-size: 24px;
        line-height: 24px;
        padding-right: 10px;
        color: $textColor_50;
      }
    }
    &_arrow-down{
      &::before{
        content: '\e5cf';
        font-family: 'Material Icons';
        font-size: 24px;
        line-height: 24px;
        padding-right: 10px;
        color: $textColor_50;
      }
    }

  }

  &__item{
    color: $textColor_50;
    display: block;
    box-sizing: border-box;
    min-height: 20px;
    max-width: 192px;
    margin-left: 30px;
    padding-bottom: 13px;
    cursor: pointer;
    &:last-child{
      padding-bottom: 0;
    }

    /*-----Focus/Hover-----*/
    &:hover{
      color:$textColor_75;
    }

    &:focus-within{
      color:$textColor_75;
    }
  }

  &__input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); //see this property!

    &:checked + .checkbox__box{
      border-color: $designColor_main;
    }

    &:checked + .checkbox__box::after {
      content: "";
      position: absolute;
      box-sizing: border-box;
      top: 4px;
      left: 6px;
      width: 6px;
      height: 8px;
      border-style: solid;
      border-width: 0 2px 2px 0;
      -moz-border-image:  $mainGradient; 
      -webkit-border-image:  $mainGradient; 
      border-image: $mainGradient; 
      border-image-slice: 1; 
      border-color: transparent;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &__box{
    box-sizing: border-box;
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #fff;
    border: $mainBorder;
  }

  &__title_rich{
    width: 230px;
    font-weight: bold;
    color: $textColor_75;
  }

  &__description_rich{
    color: $textColor_50;
    font-weight: normal;
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;
  }

}


