mixin menu-widget({ uiKit=[], sitePages=[] })
  .menu-widget
      ul.menu-widget__ui-kit
        each item in uiKit
          li.menu-widget__item
            a&attributes({
              class: ['menu-widget__text', 'js-menu-widget__text'],
              href: `./${item.link}.html`,
            }) #{item.title}
      ul.menu-widget__pages
        each item in sitePages
          li.menu-widget__item
            a&attributes({
              class: ['menu-widget__text', 'js-menu-widget__text'],
              href: `./${item.link}.html`,
            }) #{item.title}