@import '@variables';
@import '@mixins';

.menu-widget {
  &__list {
    display: flex;
    justify-content: space-around;
    padding: 0 100px 0 100px;
    
    @media (max-width: 840px) {
      padding: 0;
    }

    &_ui-kit {
      @media (max-width: 659px) {
        padding: 2.1429rem 0;
      }
    }

    @media (max-width: 659px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.7143rem;
    grid-auto-flow: dense;
    padding-left: 3.5714rem;
    list-style: none;

    @media (max-width: 659px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  &__item {
    display: block;
    max-width: 16.4286rem;
    margin-bottom: 1.4286rem;
    text-align: center;

    @media (max-width: 480px) {
      margin-left: 0;
    }
  }

  &__item img {
    display: block;
    width: 100%;
    min-height: 10.7143rem;
    margin-top: 1.3rem;
    border-radius: 1.4286rem;
    object-fit: cover;
    box-shadow: 0rem 0.7143rem 1.4286rem rgba(31, 32, 65, 0.2);
    transition: 0.3s;
  }

  &__item img:hover {
    transform: scale(1.02);
  }

  &__text {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: $mainTextColor;
    transition: .3s;
  }

  &__text:hover {
    transform: scale(1.1);
  }
}