@import '@variables';
@import '@mixins';

.menu-widget {
  &__list {
    display: flex;
    justify-content: space-around;
    padding: 0 100px 0 100px;
    
    @media (max-width: 840px) {
      padding: 0;
    }

    &_ui-kit {
      @media (max-width: 659px) {
        padding: 2.1429rem 0;
      }
    }

    @media (max-width: 659px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    display: block;
    max-width: 16.4286rem;
    margin-bottom: 1.4286rem;

    @media (max-width: 480px) {
      margin-left: 0;
    }
  }

  &__text {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: $mainTextColor;
    transition: .3s;
  }

  &__text:hover {
    color: #1D1E33;
    transform: translateX(-15px);
  }
}
