extends ../../layouts/ui-kit-layout.pug

block variables
  - const title = "404"

block header
block content
  .canvas-error
    .box_front
      .sea
      .ship
        .smoke
          .smoke-1
          .smoke-2
          .smoke-3
        .ship_smokestack
        .ship_window
      .sun-wrapper
        .sun
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div
      .cloud.cloud-1
      .cloud.cloud-2
      .cloud.cloud-3
      .cloud.cloud-4
      .cloud.cloud-5
      .errorPage
        h1.errorPage__title Страница находится в разработке
        h2.errorPage__text Пожалуйста, возвращайтесь позже
          p на главную
            a.errorPage__link(href=`./start-page.html`)  тык

block footer