mixin like({ value=0, active=false } = {})
  - const isActive = active ? "like_active" : ""

  button&attributes({
    class: ["like", "js-like", isActive],
    type: "button",
    name: "like",
    tabindex: 0,
  })
    span.like__inner
      span.like__icon
      span&attributes({
        class: ["like__text js-like__text"],
      }) #{value}