mixin likeButton({ icon="", value=0, disable=false })
  -
    const btnDisableClassName = disable ? "like__disable_border" : ""
    const disableClassName = disable ? "like__disable" : ""
    icon = disable ? icon + "_border" : icon 
    const likeIconClass = "like__icon"
    const likeIconType = "like__icon_" + icon

  button&attributes({
    type: "button",
    name: "like",
    class: ["like__button", `${btnDisableClassName}`, "js-like__button" ]
  })
    span(class=`${disableClassName}`).like__text.js-like__text #{value}
    span.like__button_border
      span&attributes({
        class: [
          likeIconClass,
          disableClassName,
          likeIconType
        ]
      })