mixin like({ icon="", value=0, disabled=false } = {})
  -
    const btnDisableClassName = disabled ? "like_inactive" : ""
    const disabledButtonTextModifier = disabled ? "like__text_inactive" : ""
    const iconState = disabled ? `empty-${icon}` : icon 
    const likeIconClass = "like__icon js-like__icon"
    const likeIconTypeModifier = `like__icon_type_${iconState}`

  button&attributes({
    class: ["like", "js-like", btnDisableClassName],
    type: "button",
    name: "like",
    tabindex: 0,
  })
    span.like__inner
      span&attributes({
        class: [
          likeIconClass,
          likeIconTypeModifier,
        ],
      })
      span&attributes({
        class: ["like__text js-like__text", disabledButtonTextModifier],
      }) #{value}