@import '@variables';

.like {
  display: inline-flex;
  position: relative;
  min-width: 40px;
  height: 20px;
  border: none;
  border-radius: 100px;
  background: $mainGradient;
  outline: none;
  cursor: pointer;

  &_inactive-border {
    background: $textColor_25;
  }

  &__button-border {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100px;
    background: #fff;
  }

  &__icon {
    position: absolute;
    top: 4px;
    left: 5px;
    font-family: 'Material Icons';
    font-size: 10px;

    &_heart::before {
      content: '\e87d';
      background: $mainGradient;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }

    &_empty-heart::before {
      content: '\e87e';
      background: $textColor_25;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    margin: 2px 0px 0 15px;
    color: $designColor_main;
    font-family: $mainFont;
    font-size: 10px;

    &_inactive {
      color: $textColor_25;
    }
  }
}
