mixin like({ icon="", value=0, disabled=false } = {})
  -
    const btnDisableClassName = disabled ? "like_inactive" : ""
    const disabledButtonTextModifier = disabled ? "like__text_inactive" : ""
    const iconState = disabled ? `empty-${icon}` : icon 
    const likeIconClass = "like__icon"
    const likeIconTypeModifier = `like__icon_type_${iconState}`

  button&attributes({
    class: ["like", btnDisableClassName],
    type: "button",
    "data-id": "like-button",
    name: "like",
    tabindex: 0,
  })
    span.like__inner
      span&attributes({
        class: [
          likeIconClass,
          likeIconTypeModifier,
        ],
        "data-id": "like-icon",
      })
      span&attributes({
        class: ["like__text", disabledButtonTextModifier],
        "data-id": "like-text"
      }) #{value}