mixin like({ icon="", value=0, inactive=false } = {})
  -
    const btnInactiveClassName = inactive ? "like_inactive-background" : ""
    const btnTextInactiveClassName = inactive ? "like__text_inactive-text" : ""
    const iconState = inactive ? `empty-${icon}` : icon 
    const likeIconClass = "like__icon js-like__icon"
    const likeIconTypeModifier = `like__icon_type_${iconState}`

  button&attributes({
    class: ["like", "js-like", btnInactiveClassName],
    type: "button",
    name: "like",
    tabindex: 0,
  })
    span.like__inner
      span&attributes({
        class: [
          likeIconClass,
          likeIconTypeModifier,
        ],
      })
      span&attributes({
        class: ["like__text js-like__text", btnTextInactiveClassName],
      }) #{value}