@import '@variables';

.like {
  display: flex;
  min-width: 40px;
  min-height: 20px;
  padding: 1px;
  background: $mainGradient;
  border: none;
  border-radius: 100px;
  outline: none;
  cursor: pointer;

  &:focus-within {
    box-shadow: 3px 3px 2px $designColor_main;
  }

  &_inactive {
    background: $textColor_25;
  }

  &__inner {
    display: flex;
    justify-content: start;
    width: 100%;
    background: #fff;
    border-radius: 100px;
  }

  &__icon {
    padding: 4px 2px 3px 4px;
    font: 10px 'Material Icons', sans-serif;

    &_type {
      &_heart::before {
        background: $mainGradient;
        -webkit-background-clip: text;
        background-clip: text;
        content: '\e87d';
        -webkit-text-fill-color: transparent;
      }

      &_empty-heart::before {
        background: $textColor_25;
        -webkit-background-clip: text;
        background-clip: text;
        content: '\e87e';
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__text {
    padding: 2px 4px 3px 4px;
    color: $designColor_main;
    font: 10px $mainFont;

    &_inactive {
      color: $textColor_25;
    }
  }
}
