@import '@variables';
@import '@mixins';

.like {
  min-width: 40px;
  min-height: 20px;
  padding: 1px;
  background: $textColor_25;
  border: none;
  border-radius: 100px;
  outline: none;
  cursor: pointer;

  &:focus-within {
    box-shadow: 3px 3px 2px $designColor_main;
  }

  &__text {
    padding: 2px 4px 3px 4px;
    color: $textColor_25;
    font: 0.7143rem $mainFont;
  }

  &__icon {
    padding: 4px 2px 3px 4px;
    font: 0.7143rem 'Material Icons', sans-serif;

    &::before {
      color: $textColor_25;
      content: '\e87e';
    }
  }

  &__inner {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background: #fff;
    border-radius: 100px;
  }

  &_active {
    background: $mainGradient;

    & .like__icon::before {
      @include text-gradient-fill($mainGradient);

      content: '\e87d';
    }

    & .like__text {
      color: $designColor_main;
    }
  }
}
