@import '@variables';
@import '@mixins';

.range-slider {
  &__value {
    @include font-body;
    font-size: 12px;
    line-height: 15px;
    color: $textColor_50;
    border: none;
    text-align: right;
  }

  &__scale {
    position: relative;
    height: 6px;
  }

  &__scale-border {
    height: 6px;
    border: $mainBorder;
    border-radius: 6px;
    box-sizing: border-box;
  }

  &__header {
    @include font-h3;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
  }

  &__title {
    flex-shrink: 0;
  }

  &:focus {
    border: none;
  }
}

.ui-slider {
  position: relative;
  text-align: left;
  top: 10px;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  box-sizing: content-box;
  left: 50px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: $secondGradient;
  border: 2px solid #fff;
  cursor: pointer;
}
.ui-slider .ui-slider-handle:focus,
.ui-slider .ui-slider-handle:hover {
  outline: none;
  box-shadow: 3px 3px 2px $designColor_second;
}

.ui-widget.ui-widget-content {
  border: none;
}
.ui-widget-header {
  background: $secondGradient;
}
.ui-slider-horizontal {
  top: 22px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
}

.slider-text {
  padding-top: 36px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}
