@import '@variables';
@import '@mixins';

.range-slider {
  &:focus {
    border: none;
  }

  &__header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    color: $mainTextColor;
    font: 700 12px/15px $mainFont;
    text-transform: uppercase;
  }

  &__title {
    flex-shrink: 0;
  }

  &__value {
    @include font-body;

    color: $textColor_50;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    border: none;
  }

  &__scale {
    position: relative;
    height: 6px;
  }

  &__scale-border {
    height: 6px;
    border: $mainBorder;
    border-radius: 6px;
  }

  &__description {
    margin: 0;
    padding-top: 36px;
    color: rgba(31, 32, 65, 0.5);
    font: 400 12px/14px Montserrat, sans-serif;
  }
}

.ui-slider {
  position: relative;
  top: 10px;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  left: 50px;
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  background: $secondGradient;
  border: 2px solid #fff;
  border-radius: 100%;
  cursor: pointer;
}

.ui-widget.ui-widget-content {
  border: none;
}
.ui-widget-header {
  background: $secondGradient;
}
.ui-slider-horizontal {
  top: 22px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
}

.ui-slider .ui-slider-handle:focus,
.ui-slider .ui-slider-handle:hover {
  outline: none;
  box-shadow: 3px 3px 2px $designColor_second;
}
