@import '@variables';

.range-slider {
  font-family: $mainFont;
  font-size: 12px;
  color: $textColor_50;
  border: none;
  text-align: right;

  &__scale {
    position: relative;
    height: 6px;

    &_border {
      height: 6px;
      border: $mainBorder;
      border-radius: 6px;
      box-sizing: border-box;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    font-family: $mainFont;
    font-size: 0.8571rem;
    line-height: 1rem;
    color: $textColor_50;
    padding-top: 2.5rem;
  }

  &:focus {
    border: none;
  }
}

.ui-slider {
  position: relative;
  text-align: left;
  top: 0.7143rem;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  left: 3.5714rem;
  width: 0.8571rem;
  height: 0.8571rem;
  border-radius: 100%;
  background: $secondGradient;
  border: 0.1429rem solid #fff;
  cursor: pointer;
}
.ui-slider .ui-slider-handle:focus {
  outline: none;
}

.ui-widget.ui-widget-content {
  border: none;
}
.ui-widget-header {
  background: $secondGradient;
}
.ui-slider-horizontal {
  top: 1.5714rem;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.3571rem;
}