mixin range-slider({ title="", description="" })
  .range-slider
    .range-slider__header
      .range-slider__title #{title}
      input&attributes({
        class: "range-slider__value",
        type: "text",
        readonly: "readonly",
        "data-id": "slider-value", 
        tabindex: -1,
      })
    .range-slider__scale.js-range-slider__scale
      .range-slider__scale-border
    p.slider-text #{description}
    