mixin range-slider({ title="", subtitle="" })
  .range-slider__header
    .font__h3 #{title}
    input&attributes({
      class: "range-slider",
      type: "text",
      readonly: "readonly"
      })
  .range-slider__scale
    .range-slider__scale_border
  .range-slider__subtitle #{subtitle}