@import '@variables';
@import '@mixins';

.body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page-wrapper {
  flex: 1 0 auto;

  &_background {
    background: $uiKitPagesBackground;
  }
}

a {
  color: $textColor_50;
  text-decoration: none;

  &:hover {
    color: $textColor_75;
  }
}

.gradient {
  @include text-gradient-fill($mainGradient);
}

.visibility_hidden {
  visibility: hidden;
}