@import "@variables";
@import "@mixins";

html {
  font: 400 14px $mainFont;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & .footer {
    flex: 0 0 auto;
  }
}

.page-content {
  flex: 1 0 auto;
}

a {
  color: $textColor_50;
  text-decoration: none;

  &:hover {
    color: $textColor_75;
  }
}

.gradient {
  @include text-gradient-fill($mainGradient);
}
