@import '@variables';

@mixin font-body {
  color: $textColor_75;
  font: 400 1rem/24px $mainFont;
}

@mixin font-material-icons {
  font: 400 1.7143rem/24px 'Material Icons', sans-serif;
}

@mixin text-gradient-fill($color) {
  color: transparent;
  background-image: $color;
  background-clip: text;
}

@mixin card() {
  min-width: 380px;
  max-width: 380px;
  padding: 39px 30px 30px 29px;
  background: $cardsBackground;
  border: $cardsBorder;
  border-radius: $cardsBorderRadius;
  box-shadow: $mainBoxShadow;

  @media (max-width: 480px) {
    min-width: 200px;
    padding: 10px;
  }
}

@mixin card-title() {
  color: $mainTextColor;
  font: 700 1.7143rem/29px $mainFont;

  @media (max-width: 480px) {
    max-width: 300px;
    padding: 10px;
    font-size: 1.4286rem;
    line-height: 26px;
  }
}

@mixin question() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 400 14px $mainFont;

  &-button {
    min-width: 100px;
  }
}
