//  colors
$mainTextColor                   : #1F2041;
$textColor_75                    : rgba(31, 32, 65, 0.75);
$textColor_50                    : rgba(31, 32, 65, 0.50);
$textColor_25                    : rgba(31, 32, 65, 0.25);
$textColor_5                     : rgba(31, 32, 65, 0.05);
$designColor_main                : #BC9CFF;
$designColor_second              : #6FCF97;
$mainGradient                    : linear-gradient(180deg,
                                   #BC9CFF 0%, #8BA4F9 100%);
$mainGradientTransparent          : linear-gradient(180deg, 
                                    rgba(#BC9CFF, 0.5) 0%, 
                                    rgba(#8BA4F9, 0.5) 100%);
$mainGradientTransparent_25      : linear-gradient(180deg, 
                                    rgba(#BC9CFF, 0.25) 0%, 
                                    rgba(#8BA4F9, 0.25) 100%);
$gradientForShadow               : linear-gradient(
                                    90deg,
                                    rgba(0, 0, 0, 0.5) 0%,
                                    rgba(0, 0, 0, 0) 99.99%,
                                    rgba(255, 255, 255, 0) 100%); 

$arrowColorCarousel              : #fff;
$dotsBorderCarousel              : 1px solid #fff;

$mainBoxShadow                   : 0px 0px 25px rgba(0, 0, 0, 0.2);
$cardsBorderRadius               : 4px;
$cardsBackground                 : #fff;
$uiKitPagesBackground            : #e5e5e5;

// fonts
$mainFont                        : Montserrat, Areal, san-serif;
$secondFont                      : Quicksand, Arial, sans-serif;
$forRussianFont                  : 'Open Sans', Arial, sans-serif;
$mainFont_size                   : 14px;

$inputHeight                     : 44px;
$inputWidthSizeL                 : 320px;
$inputWidthSizeM                 : 266px;
$inputWidthSizeS                 : 150px;

//  borders
$mainBorder                      : 1px solid rgba(31, 32, 65, 0.25);
$colorBorder                     : 1px solid $designColor_main;
$focusBorder                     : 1px solid rgba(31, 32, 65, 0.5); 
$cardsBorder                     : 1px solid rgba(0, 0, 0, 0.12);