@import "@variables";

.registration {
  background: 44.2% 51.5% / 106.5%
    url("../../images/page-background/registration.jpg") no-repeat;

  @media (max-width: 1280px) {
    background-size: cover;
  }

  &__container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 19px 0 19px 6px;

    @media (max-width: 960px) {
      flex-direction: row;
      justify-content: center;
      padding: 100px 0;
    }

    @media (max-width: 480px) {
      padding: 100px 0 200px 0;
    }
  }

  &__registration {
    min-width: 380px;

    @media (max-width: 960px) {
      align-items: center;
      padding-bottom: 100px;
    }
    @media (max-width: 480px) {
      min-width: 320px;
      padding-bottom: 50px;
    }
  }
}
