extends ../../layouts/main-layout.pug
include ../../components/registration-card/registration-card.pug

block variables
  -
    const title = "Registration page"
    const description = "Отель Toxin в самом центре приглашает остановиться в одном из уютных номеров. Отличный вид, просторная закрытая парковка. Онлайн-бронирование"
    const keywords = "жильё, проживание, Отель, Отели, специальные предложения, пакеты услуг, предложения на выходные со скидками, специальные предложения."

block content
  main.registration
    .registration__container
      .registration__registration-card
        +registration-card({
          title: "Регистрация аккаунта",
          formAction: "registration-page",
          textField: {
            name: { 
              placeholder: "Имя",
              type: "text",
              name: "name",
              autocomplete: "on"
            },
            surname: {
              placeholder: "Фамилия",
              type: "text",
              name: "surname",
              autocomplete: "on"
            },
            birthday: {
              placeholder: "ДД.ММ.ГГГГ",
              type: "text",
              name: "birthday",
              autocomplete: "on",
              withMask: true,
            },
            login: {
              placeholder:"Email",
              type: "email",
              name: "email",
              autocomplete: "on"
            },
            password: {
              placeholder: "Пароль",
              type: "password",
              name: "password",
              autocomplete: "on"
            }
          },
          radio: {
            men: { group: "gender", title: "Мужчина", checked: true },
            women: { group: "gender", title: "Женщина", checked: false }
          },
          button: {
            submit: {
              buttonName: "зарегистрироваться",
              type: "submit",
              buttonVariation: "withArrow",
              textColor: "white",
              size: "large",
            },
            question: {
              buttonName: "войти",
              buttonVariation: "fillWhite",
              textColor: "purple",
              size: "small",
              link: "sign-in-page",
            }
          }
        })