extends ../../layouts/main-layout.pug
include ../../components/card/card.pug

block variables
  -
    const title = "Registration page"
    const description = "Отель Toxin в самом центре приглашает остановиться в одном из уютных номеров. Отличный вид, просторная закрытая парковка. Онлайн-бронирование"
    const keywords = "жильё, проживание, Отель, Отели, специальные предложения, пакеты услуг, предложения на выходные со скидками, специальные предложения."

block content
  main.registration
    .registration__container
      .registration__registration-card
        +card({
          title: "Регистрация аккаунта",
          type: "registration",
          buttonText: "зарегистрироваться",
          formAction: 'registration-page',
          buttonType: "submit",
          question: "Уже есть аккаунт на Toxin",
        })