extends ../../layouts/main-layout.pug
include ../../components/card/card.pug

block variables
  - const title = "Registration page"

block content
  main.registration
    .registration__container
      .registration__registration
        +card({
          title: "Регистрация аккаунта",
          type: "registration",
          buttonText: "зарегистрироваться",
          formAction: 'registration-page',
          buttonType: "submit",
          question: "Уже есть аккаунт на Toxin",
        })