@import '@variables';

.ui-kit-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  margin: 0 auto;
  padding: 2.1429rem 0rem;
  
  & a {
    &:not(:first-child){
      margin-left: 3.5714rem;
    }
  }
  @media (max-width: 960px) {
    flex-direction: column;

    a {
      margin-bottom: 0.3571rem;
    }
  }

  &_background {
    background: $uiKitPagesBackground;
  }
}