.ui-kit-footer__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 700px;
	margin: 0 auto;
  padding: 30px 0px;
  & a {
    &:not(:first-child){
      margin-left: 50px;
    }
  }
  @media (max-width: 960px) {
    flex-direction: column;
    a {
      margin-bottom: 5px;
    }
  }
}