.bar__navigation {
	display: flex;
	justify-content: space-between;
	min-width: 530px;
}
.bar__navigation_font{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
		a{
			color: rgba(31, 32, 65, 0.5);
			text-decoration: none;
		}
		a:first-child {
			font-weight: 700;
		}
}