.bar__navigation.bar__navigation_font
	a(href="#") Home
	a(href="#") About Us
	a(href="#") Services 
		img(src="../src/img/expand_more.svg", alt="")
	a(href="#") Careers
	a(href="#") News
	a(href="#") Documentation