@import '@variables';

.info-icon {
  display: inline-flex;
  margin: 0 auto 0 5px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 50%;
  line-height: 24px;
  width: 20px;
  height: 20px;

  &:hover {
    border: 1px solid $textColor_50;
    .info-icon__text {
      color: $textColor_50;
    }
  }

  & [data-tooltip] {
    position: relative;
  }

  & [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 200px;
    right: -50px;
    top: 0;
    background: #e5e5e5;
    color: $textColor_50;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
  }

  & [data-tooltip]:hover:after {
    opacity: 1;
    top: 1.5rem;
  }

  &__text {
    align-self: center;
    line-height: 14px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    color: rgba(85, 86, 126, 0.25);
    padding: 0px 7px;
  }
}
