@import '@variables';

.info-icon {
  display: inline-flex;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 0 auto 0 5px;
  border-radius: 50%;
  border: $infoIconBorder;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    border: $focusBorder;

    .info-icon__text {
      color: $textColor_50;
    }
  }

  & [data-tooltip] {
    position: relative;
  }

  & [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 0;
    width: 200px;
    right: -50px;
    border-radius: $mainBorderRadius;
    padding: 7px;
    opacity: 0;
    transition: 0.5s;

    background: $uiKitPagesBackground;
    color: $textColor_50;
    box-shadow: $infoIconBoxShadow ;
    pointer-events: none;
  }

  & [data-tooltip]:hover:after {
    opacity: 1;
    top: 21px;
  }

  &__text {
    font: 700 12px/14px Montserrat, Arial, sans-serif;
    align-self: center;
    color: rgba(85, 86, 126, 0.25);
    padding: 0px 7px;
  }
}