@import '@variables';

.logo {
  &__link {
    line-height: 0;
  }

  &_colorless {
    min-width: 48px;
    min-height: 48px;
  }

  &_color {
    min-width: 40px;
  }

  &_color-with-text {
    min-width: 106px;
  }

  &_big-size {
    min-width: 200px;
    min-height: 80px;
  }
}
