include ../heading/heading.pug
include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin room-search-card({ title="", formMethod="", formAction="error-page", dateDropdown={}, dropdown={}, button={} })
  .room-search-card
    .room-search-card__title
      +heading({ level: "h1", title: title })
      form(class="room-search-card__form" method=`${formMethod}`, action=`./${formAction}.html`)
        section.room-search-card__date-dropdown
          +date-dropdown(dateDropdown)
        .room-search-card__dropdown
          +heading({ level: "h3", title: "гости" })
          +dropdown(dropdown)
        .room-search-card__button
          +button(button)