html,
body {
  height: 100%;
}

.cards {
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #E5E5E5;
  }
  
  &__container {
    max-width: 1160px;
    min-width: 1160px;
    margin: 0 auto;
    flex: 1 0 auto;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  &__footer {
    flex-shrink: 0;
  }

  &__gag1 {
    width: 380px;
    height: 374px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
  }
  &__gag2 {
    width: 380px;
    height: 511px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
  }
  &__gag3 {
    width: 320px;
    height: 369px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
  }
  &__gag4 {
    align-self: flex-start;
    width: 380px;
    height: 646px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }
  &__gag5 {
    width: 380px;
    height: 358px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }
  &__gag6 {
    width: 320px;
    height: 257.5px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }

}