html,
body {
  height: 100%;
}

.cards {
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #E5E5E5;
  }
  
  &__container {
    max-width: 1160px;
    min-width: 1160px;
    margin: 10px auto;
    flex: 1 0 auto;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    font-family: Quicksand, sans-serif;
    font-size: 24px;
    line-height: 30px;
    // letter-spacing: 1px;
    color: $mainTextColor;
  }
  
  &__footer {
    flex-shrink: 0;
  }

  &__block {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    &_no-border{
      border: none;
    }
  }

  &__find-room {
    padding: 40px 30px 30px 30px;
    max-width: 380px;
  }

  &__price-calc {
    width: 380px;
    padding: 40px 30px 0px 30px;
  }

  &__calendar {
    width: 320px;
    height: 369px;
  }

  &__register {
    padding: 40px 30px 30px 30px;
    max-width: 380px;
    margin-top: 40px;
  }
  &__enter {
    width: 380px;
    padding: 40px 30px 30px 30px;
    margin-top: 40px;
  }
  &__room-review {
    width: 270px;
    height: 257.5px;
    margin-top: 40px;
  }

}

.find-room {

  &__date-dropdown{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__dropdown{
    margin-top: 20px;
  }
  &__button{
    margin-top: 30px;
  }
}

.register {
  &__details {
    margin-top: 20px;
  }
  &__surname {
    margin-top: 10px;
  }
  &__radio-buttons {
    padding: 10px 100px 0 0;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
  }
  &__birthday {
    padding-top: 20px;
  }
  &__login-details {
    padding-top: 20px;
    & .login-details__email {
      margin-bottom: 10px;
    }
  
  } 
  &__toggle {
    margin: 10px 0 0;
  }
  &__button {
    padding-top: 20px;
    margin-bottom: 30px;
  }
  &__question {
    display: flex;
    justify-content: space-between;
    &_text {
      display: block;
      align-self: center;
    }
    &_button {
      min-width: 99px;
    }
  }
}
.room-data {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: Quicksand;
  font-weight: 700;
  min-width: 280px;

  &__number_symbol {
    font-size: 14px;
    line-height: 17px;
    color: $mainTextColor;
  }
  &__number_value{
    font-size: 24px;
    line-height: 30px;
    padding-left: 5px;
    color: $mainTextColor;
  }
  &__number_text {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    padding-left: 5px;
    color: $designColor_main;
  }

  &__price_value {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    color: $textColor_50;
  }
  &__price_text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $textColor_50;
    padding-left: 5px;
  }
}

.price-calc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $textColor_75;
  padding-top: 20px;

  &__days {
    display: flex;
    justify-content: space-between;
  }
  &__service-charge {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    &_text {
      max-width: 214px;
      min-width: 214px;
    }
    &_full-value {

    }
  }
  &__additional-services {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    line-height: 18px;
    &_text {
      max-width: 214px;
      min-width: 214px;
    }
  }
}

.price-calc__info-icon {
  display: inline-flex;
  margin: 0 auto 0 5px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 50%;
  line-height: 24px;
  width: 20px;
  height: 20px;
  
  &_text {
    align-self: center;
    line-height: 14px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    color: rgba(85, 86, 126, 0.25);
    padding: 0px 7px;
  }
}

.total-price {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $mainTextColor;
  display: flex;
  align-items: baseline;
  padding-top: 30px;

  &__text {
    font-family: Montserrat;
    vertical-align: text-bottom;
  }
  &__points {
    width: 100%;
    margin: 0 5px;
    border-bottom: dotted 1px $textColor_25;
    box-sizing: border-box;
  }
}

.cards__calendar .text-field__input{
  display: none;
}
.cards__calendar .text-field{
  border: none;
  &:hover {
    border: none;
  }
}
.cards__calendar .datepicker-inline .datepicker{
  border: none;
}