extends ../../components/main.pug
include ../../components/ui-kit-header/ui-kit-header.pug
include ../../components/ui-kit-footer/ui-kit-footer.pug

block variables
  - var title = "Cards"
  - var description = ""
  - var keywords = ""

block content
  body.body-wrapper.body-wrapper__background
    header
      +ui-kit-header()
    main.content-wrapper_cards
      div.room-selection
        .room-selection_wrapper.border
          h1.room-selection__text.border Найдём номера под ваши пожелания
    footer
      +ui-kit-footer({ footerLinks: [
        { link: "index", name: "Colors & Type" },
        { link: "headers-footers", name: "Headers & Footers" },
        { link: "form-elements", name: "Form Elements" },
        { link: "cards", name: "Cards" },
        { link: "error-page", name: "Landing page" },
      ]})
      