extends ../../components/main.pug
include ../../components/ui-kit-header/ui-kit-header.pug
include ../../components/ui-kit-footer/ui-kit-footer.pug

block variables
  - var title = "Cards"
  - var description = ""
  - var keywords = ""

block content
  body.cards__wrapper
    .cards__header
      +ui-kit-header()
    main.cards__container
      .cards__content
        .cards__column
          .cards__find-room.cards__block
          .cards__register.cards__block
        .cards-column
          .cards__price-calc.cards__block
          .cards__enter.cards__block
        .cards__column
          .cards__calendar.cards__block.cards__block_no-border
          .cards__room-review.cards__block.cards__block_no-border
          .cards__room-review.cards__block.cards__block_no-border

    .cards__footer
      +ui-kit-footer({ footerLinks: [
          { link: "index", name: "Colors & Type" },
          { link: "headers-footers", name: "Headers & Footers" },
          { link: "form-elements", name: "Form Elements" },
          { link: "cards", name: "Cards" },
          { link: "error-page", name: "Landing page" },
        ]})
        