html,
body {
  height: 100%;
}

.cards {
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #E5E5E5;
  }
  
  &__container {
    max-width: 1160px;
    min-width: 1160px;
    margin: 0 auto;
    flex: 1 0 auto;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  &__footer {
    flex-shrink: 0;
  }

  &__block {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    &_no-border{
      border: none;
    }
  }

  &__find-room {
    box-sizing: border-box;
    padding: 40px 30px 30px 30px;
    width: 380px;
    height: 374px;
  }

  &__price-calc {
    width: 380px;
    height: 511px;
  }

  &__calendar {
    width: 320px;
    height: 369px;
  }

  &__register {
    width: 380px;
    height: 646px;
    margin-top: 40px;
  }
  &__enter {
    width: 380px;
    height: 358px;
    margin-top: 40px;
  }
  &__room-review {
    width: 270px;
    height: 257.5px;
    margin-top: 40px;
  }

}

.find-room {
  &__title {
    font-family: Quicksand, sans-serif;
    font-size: 24px;
    color: $mainTextColor;
  }

  &__text-field_date-dropdown{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__dropdown{
    margin-top: 20px;
  }
  &__button{
    margin-top: 30px;
  }
}