include ../ui-kit-header/ui-kit-header.pug
include ../card/card.pug
include ../room-review-card/room-review-card.pug
include ../air-datepicker/air-datepicker.pug
include ../ui-kit-footer/ui-kit-footer.pug

mixin cards({ cards={}, calendar={}, widgets={}, footerLinks=[] })

  - const { search, registration, calculation, entry } = cards
  
  body.cards__wrapper
    .cards__header
      +ui-kit-header()
    main.cards__container
      .cards__content
        .cards__column
          +card(search)
          +card(registration)
        .cards__column
          +card(calculation)
          +card(entry)

        .cards__column
          .cards__calendar
            +air-datepicker()

          each widget in widgets
            +room-review-card(widget)

    .cards__footer
      +ui-kit-footer({ footerLinks })
        