extends ../../components/main.pug
include ../../components/ui-kit-header/ui-kit-header.pug
include ../../components/ui-kit-footer/ui-kit-footer.pug

block variables
  - var title = "Cards"
  - var description = ""
  - var keywords = ""

block content
  body.cards__wrapper
    .cards__header
      +ui-kit-header()
    main.cards__container
      .cards__content
        .cards__column
          .cards__gag1
          .cards__gag4
        .cards-column
          .cards__gag2
          .cards__gag5
        .cards__column
          .cards__gag3
          .cards__gag6

    .cards__footer
      +ui-kit-footer({ footerLinks: [
          { link: "index", name: "Colors & Type" },
          { link: "headers-footers", name: "Headers & Footers" },
          { link: "form-elements", name: "Form Elements" },
          { link: "cards", name: "Cards" },
          { link: "error-page", name: "Landing page" },
        ]})
        