extends ../main.pug
include ../ui-kit-header/ui-kit-header.pug
include ../ui-kit-footer/ui-kit-footer.pug
include ../text-field/text-field.pug
include ../room-review-card/room-review-card.pug
include ../card/card.pug

block variables
  - var title = "Cards"
  - var description = ""
  - var keywords = ""

block content
  body.cards__wrapper
    .cards__header
      +ui-kit-header()
    main.cards__container
      .cards__content
        .cards__column
          +card({ 
            title: "Найдём номера под ваши\u00A0пожелания",
            type: "search",
            buttonText: "подобрать номер",
          })
          +card({ 
            title: "Регистрация аккаунта",
            type: "registration",
            buttonText: "перейти к оплате",
            question: "Уже есть аккаунт на Toxin"
          })
        .cards__column
          +card({ 
            type: "calculation",
            buttonText: "забронировать",
            numberOfGuests: 3,
          })
          +card({ 
            title: "Войти",
            type: "entry",
            buttonText: "войти",
            question: "Нет аккаунта на Toxin?"
          })

        .cards__column
          .cards__calendar.cards__block.cards__block_no-border
            +text-field({classList: [ "air-datepicker__inline" ]})

          +room-review-card({
            images: [
              { name: "room-img-1.png"},
              { name: "room-img-2.png"},
              { name: "room-img-3.png"},
              { name: "room-img-4.png"},
            ],
              roomNumber: { symbol: "№", value: "888", text: "люкс" },
              roomPrice: { value: "9 990₽", text: "в сутки"},
              rating: { rating: 5 },
              commentCount: { value: "145", text: "Отзывов"} 
            })

          +room-review-card({
            images: [
              { name: "room-img-2.png"},
              { name: "room-img-5.png"},
              { name: "room-img-6.png"},
              { name: "room-img-7.png"},
            ],
            roomNumber: { symbol: "№", value: "840", text: "люкс" },
            roomPrice: { value: "9 900₽", text: "в сутки"},
            rating: { rating: 4 },
            commentCount: { value: "65", text: "Отзывов"} 
          })

    .cards__footer
      +ui-kit-footer({ footerLinks: [
          { link: "index", name: "Colors & Type" },
          { link: "headers-footers", name: "Headers & Footers" },
          { link: "form-elements", name: "Form Elements" },
          { link: "cards", name: "Cards" },
          { link: "error-page", name: "Landing page" },
        ]})
        