@import "@variables";
@import "@mixins";

.subscribe {
  min-width: 260px;
  max-width: 260px;
  padding-top: 4px;
  font-family: $mainFont;

  &__title {
    @include font-h3;
  }

  &__text {
    @include font-body;

    margin: 0;
    padding: 18px 0 23px 0;
  }
}
