@import '@variables';
@import '@mixins';

.subscribe {
  min-width: 260px;
  max-width: 260px;
  padding-top: 4px;
  font-family: $mainFont;

  &__text {
    @include font-body;

    margin: 13px 0 23px 0;
  }
}
