include ../text-field/text-field.pug

mixin subscribe({ title="", text="" })
  .subscribe
    h3.subscribe__title #{title}
    p.subscribe__text #{text}
    +text-field({ type: "text", placeholder: "Email", name: "email", autocomplete: "on", subscribe: true })