include ../heading/heading.pug
include ../text-field/text-field.pug

mixin subscribe({ title="", text="" } = {})
  .subscribe
    +heading({ level: "h3", title: title })
    p.subscribe__text #{text}
    +text-field({ type: "text", placeholder: "Email", name: "email", autocomplete: "on", isSubscription: true })