@import "@variables";
@import "@mixins";

.links {
  &__title {
    @include font-h3;
  }

  &__list {
    margin: 0;
    font-family: $mainFont;
    list-style-type: none;
  }

  &__item {
    padding-top: 21px;
    font: 400 14px/17px $mainFont;
    white-space: wrap;
    text-transform: none;

    & a:focus {
      color: $textColor_75;
      outline: none;
    }

    &:first-child {
      padding-top: 22px;
    }
  }

  &__link {
    color: $textColor_50;
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:hover {
      color: $textColor_75;
      outline: none;
    }
  }
}
