mixin links({ title="", linksList=[] })
  h3.links.links__title #{title}
  ul.links__list
    each linkItem in linksList
      li.links__item
        a&attributes({
          class: "links__link",
          href: linkItem.url,
        }) #{linkItem.name}