/*-------Quicksland---------*/
@font-face {
  font-family: 'Quicksand';
  src: 
    url('fonts/Quicksand/Quicksand-Regular.woff') format('woff'),
    url('fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'),
    url('fonts/Quicksand/Quicksand-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: 
    url('fonts/Quicksand/Quicksand-Bold.woff') format('woff'),
    url('fonts/Quicksand/Quicksand-Bold.svg') format('svg'),
    url('fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*-------Montserrat---------*/
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('fonts/Montserrat/Montserrat-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('fonts/Montserrat/Montserrat-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
/*-------Material Icon---------*/
@font-face {
  font-family: 'Material Icons';
  src: local('MaterialIcons'),
       local('MaterialIcons-Regular'),
       url('fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
       url('fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype'),
       url('fonts/MaterialIcons/MaterialIcons-Regular.svg') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome';
  src:  url("fonts/Fontawesome5/fa-brands-400.woff") format("woff"), 
        url("fonts/Fontawesome5/fa-brands-400.ttf") format("truetype"), 
        url("fonts/Fontawesome5/fa-brands-400.svg") format("svg"); 
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Font Awesome regular';
  src:  url("fonts/Fontawesome5/fa-regular-400.woff") format("woff"), 
        url("fonts/Fontawesome5/fa-regular-400.ttf") format("truetype"), 
        url("fonts/Fontawesome5/fa-regular-400.svg") format("svg"); 
  font-style: normal;
  font-weight: 400;
  font-display: block;
}


// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
//   src: local('MaterialIcons'),
//        local('MaterialIcons-Regular'),
//        url(MaterialIcons-Regular.woff2) format('woff2'),
//        url(MaterialIcons-Regular.woff) format('woff'),
//        url(MaterialIcons-Regular.ttf) format('truetype');
// }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.font__h1{
  font-family: $secondFont;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;  
  line-height: 30px;
  color: $mainTextColor; 
}
.font__h2{
  font-family: $secondFont;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;  
  line-height: 24px;
  color: $mainTextColor; 
}
.font__h3{
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;  
  line-height: 15px;
  color: $mainTextColor;
  text-transform: uppercase; 
  margin: 0;
}
.font__body{
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;  
  line-height: 24px;
  color: $textColor_75;
}