@import '@variables';

/*-------Montserrat--Regular--Latin----*/
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat'), local('Montserrat-Regular'),
    url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat/Montserrat-Regular-Latin.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD, U+20BD;
}
/*-------Montserrat--Regular--Cyrillic----*/
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat'), local('Montserrat-Regular'),
    url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat/Montserrat-Regular-Cyrillic.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+20BD;
}

/*-------Montserrat--Bold--Latin----*/
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat'), local('Montserrat-Bold'),
    url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('../fonts/Montserrat/Montserrat-Bold-Latin.svg') format('svg');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD, U+20BD;
}
/*-------Montserrat--Bold--Cyrillic----*/
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat'), local('Montserrat-Bold'),
    url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('../fonts/Montserrat/Montserrat-Bold-Cyrillic.svg') format('svg');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+20BD;
}

/*-------Material Icon---------*/
@font-face {
  font-family: 'Material Icons';
  src: local('Material Icons'),
    url('../fonts/MaterialIcons/MaterialIcons-Regular.woff2') format('woff2'),
    url('../fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
    url('../fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype'),
    url('../fonts/MaterialIcons/MaterialIcons-Regular.svg') format('svg');
  font-style: normal;
  font-weight: 400;
  unicode-range: e5cf, e5ce, e5c8, e5c4, e7f2, e7f3, e7f1, e80e, e87d, e87e,
    e5c8, e838, e83a;
}

@font-face {
  font-family: 'Font Awesome';
  src: local('Font Awesome'),
    url('../fonts/Fontawesome5/FontAwesome5Brands-Regular.woff2')
      format('woff2'),
    url('../fonts/Fontawesome5/FontAwesome5Brands-Regular.woff') format('woff'),
    url('../fonts/Fontawesome5/FontAwesome5Brands-Regular.ttf')
      format('truetype'),
    url('../fonts/Fontawesome5/FontAwesome5Brands-Regular.svg') format('svg');
  font-style: normal;
  font-weight: 400;
  font-display: block;
  unicode-range: f099, f082, f16d, f189;
}

@font-face {
  font-family: 'Font Awesome solid';
  src: url('../fonts/Fontawesome5/FontAwesome5Free-Solid.woff2') format('woff2'),
    url('../fonts/Fontawesome5/FontAwesome5Free-Solid.woff') format('woff'),
    url('../fonts/Fontawesome5/FontAwesome5Free-Solid.ttf') format('truetype'),
    url('../fonts/Fontawesome5/FontAwesome5Free-Solid.svg') format('svg');
  font-style: normal;
  font-weight: 400;
  font-display: block;
  unicode-range: f0b0;
}
