/*-------Quicksland---------*/
@font-face {
  font-family: 'Quicksand';
  src: 
    url('fonts/Quicksand/Quicksand-Regular.woff') format('woff'),
    url('fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'),
    url('fonts/Quicksand/Quicksand-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: 
    url('fonts/Quicksand/Quicksand-Bold.woff') format('woff'),
    url('fonts/Quicksand/Quicksand-Bold.svg') format('svg'),
    url('fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*-------Montserrat---------*/
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('fonts/Montserrat/Montserrat-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('fonts/Montserrat/Montserrat-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
/*-------Material Icon---------*/
@font-face {
  font-family: 'Material Icons';
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
       url('fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype'),
       url('fonts/MaterialIcons/MaterialIcons-Regular.svg') format('svg');
  font-style: normal;
  font-weight: 400;
}