mixin social({ socialLinks })
  .social__wrapper
    each socialLink in socialLinks
      - const socialClass = "social_" + socialLink.title
      a&attributes({
        class: ["social", socialClass], 
        href: `${socialLink.link}`,
        target: "_blank",
        rel: "noopener noreferrer"
      })