mixin social( socialLinks=[] )
  -
    const titles = ["twitter", "facebook", "instagram"]

  .social
    each socialLink in socialLinks
      -
        const { title } = socialLink
        const socialClass = titles.includes(title) && `social__link_${title}`

      a&attributes({
        class: ["social__link", socialClass], 
        href: `${socialLink.link}`,
        target: "_blank",
        rel: "noopener noreferrer"
      })