mixin social({ socialLinks })
  .social
    each socialLink in socialLinks
      - const socialClass = "social__link_" + socialLink.title
      a&attributes({
        class: ["social__link", socialClass], 
        href: `${socialLink.link}`,
        target: "_blank",
        rel: "noopener noreferrer"
      })