@import '@variables';
@import '@mixins';

.comment {
  z-index: 1;
  box-sizing: border-box;
  max-width: 711px;

  &__header {
    display: flex;
  }

  &__avatar {
    width: 3.405rem;
    height: 3.4286rem;
    border: $avatarBorder;
    box-sizing: border-box;
    box-shadow: $avatarBoxShadow;
    border-radius: 2.2857rem;
  }

  &__description {
    @include font-body;
    padding-left: 10px;

    &_name {
      font-weight: 700;
    }

    &_date-of-visit {
      font-variant: normal;
    }
  }

  &__body {
    display: flex;
    line-height: 1.7143rem;
    color: $textColor_75;

    p {
      margin: 0;
    }
  }

  &__like {
    padding-left: 0.25rem;
    padding-top: 0.5714rem;
  }

  &__text {
    padding-left: 1.0221rem;
    padding-top: 0.7143rem;
  }
}