mixin comment({ imageName="", name="", commentText="", dateOfVisit="", likeCount=0 })
  .comment__header
    img&attributes({
      src: require(`../components/comment/img/${imageName}`).default,
      class: "comment__avatar",
      alt: "avatar"
    })
    .comment__description
      .comment__description_name #{name}
      .comment__description_date-of-visit #{dateOfVisit}
  .comment__body
    .comment__like
      +likeButton({ icon: "favorite", value: likeCount})
    .comment__text
      p
        | #{commentText}