@import "@variables";
@import "@mixins";

.comment {
  max-width: 711px;

  &__header {
    display: flex;
  }

  &__avatar {
    width: 47.5px;
    height: 48px;
    border: $avatarBorder;
    border-radius: 32px;
    box-shadow: $avatarBoxShadow;
  }

  &__description {
    @include font-body;

    padding-left: 10px;
  }

  &__name {
    font-weight: 700;
  }

  &__date-of-visit {
    font-variant: normal;
  }

  &__body {
    display: flex;
    color: $textColor_75;
    line-height: 24px;
  }

  &__like {
    padding: 12px 0 0 3.5px;
  }

  &__text {
    margin: 0;
    padding: 10px 0 0 14px;
  }
}
