@import "@variables";
@import "@mixins";

.comment {
  z-index: 1;
  box-sizing: border-box;
  max-width: 711px;

  &__header {
    display: flex;
  }

  &__avatar {
    box-sizing: border-box;
    width: 47.67px;
    height: 48px;
    border: $avatarBorder;
    border-radius: 32px;
    box-shadow: $avatarBoxShadow;
  }

  &__description {
    @include font-body;

    padding-left: 10px;
  }

  &__name {
    font-weight: 700;
  }

  &__date-of-visit {
    font-variant: normal;
  }

  &__body {
    display: flex;
    color: $textColor_75;
    line-height: 24px;

    p {
      margin: 0;
    }
  }

  &__like {
    padding: 8px 0 0 3.5px;
  }

  &__text {
    padding: 10px 0 0 14.3px;
  }
}
