include ../ui-kit-header/ui-kit-header.pug
include ../card/card.pug
include ../room-review-widget/room-review-widget.pug
include ../air-datepicker/air-datepicker.pug
include ../ui-kit-footer/ui-kit-footer.pug

mixin cards-page({ cards={}, calendar={}, roomReviewWidgets={}, footerLinks=[] })

  - const { search, registration, calculation, entry } = cards
  
  body.cards-page__wrapper
    .cards-page__header
      +ui-kit-header()
    main.cards-page__container
      .cards-page__content
        .cards-page__column
          +card(search)
          +card(registration)
        .cards-page__column
          +card(calculation)
          +card(entry)

        .cards-page__column
          .cards-page__calendar
            +air-datepicker()

          each widget in roomReviewWidgets
            +room-review-widget(widget)

    .cards-page__footer
      +ui-kit-footer({ footerLinks })
        