html,
body {
  height: 100%;
}

.cards-page {

  &__column {
    & > :not(:first-child){
      margin-top: 40px;
    }
    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #E5E5E5;
  }
  
  &__container {
    max-width: 1160px;
    min-width: 1160px;
    margin: 10px auto;
    flex: 1 0 auto;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__footer {
    flex-shrink: 0;
  }
}

/*---------------CARDS_PAGE CALENDAR---------------*/
.cards-page__calendar .text-field__input{
  display: none;
}
.cards-page__calendar .text-field{
  border: none;
  &:hover {
    border: none;
  }
}
.cards-page__calendar .datepicker-inline .datepicker{
  border: none;
}