include ../card/card.pug
include ../room-review-widget/room-review-widget.pug
include ../date-dropdown/date-dropdown.pug

mixin cards-page({ cards={}, calendar={}, roomReviewWidgets={} })

  - const { search, registration, calculation, entry } = cards
  
  .cards-page__wrapper 
    main.cards-page__container
      .cards-page__content
        .cards-page__column
          +card(search)
          +card(registration)
        .cards-page__column
          +card(calculation)
          +card(entry)

        .cards-page__column
          .cards-page__calendar
            +date-dropdown()

          each widget in roomReviewWidgets
            +room-review-widget(widget)
        