@import '@variables';
@import '@mixins';

.colors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-width: 270px;
    margin-right: 415px;
    padding-left: 10px;
  }

  &__square {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_dark_100 {
      background: $mainTextColor;
    }
    &_dark_75 {
      background: $textColor_75;
    }
    &_dark_50 {
      background: $textColor_50;
    }
    &_dark_25 {
      background: $textColor_25;
    }
    &_dark_5 {
      background: $textColor_5;
    }
    &_purple {
      background: $designColor_main;
    }
    &_green {
      background: $designColor_second;
    }
  }

  &__description {
    font: 400 19px/29px $mainFont;
    padding-left: 40px;
  }

  &__name {
    font-weight: 700;
  }
}
