//-colors
mixin colors( colorItems=[] )
  each colorItem in colorItems
    .colors
      - const colorClass = "colors__square_" + colorItem.color
      div&attributes({
        class: ["colors__square", colorClass]
      })
      .colors__description
        .colors__name #{colorItem.description}
        span.colors__code #{colorItem.colorCode}