@import '@variables';
@import '@mixins';

.colors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1.4286rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-width: 19.2857rem;
    margin-right: 29.6429rem;
    padding-left: 0.7143rem;
  }

  &__square {
    width: 5rem;
    height: 5rem;
    border-radius: 0.4286rem;

    &_dark_100 {
      background: $mainTextColor;
    }
    &_dark_75 {
      background: $textColor_75;
    }
    &_dark_50 {
      background: $textColor_50;
    }
    &_dark_25 {
      background: $textColor_25;
    }
    &_dark_5 {
      background: $textColor_5;
    }
    &_purple {
      background: $designColor_main;
    }
    &_green {
      background: $designColor_second;
    }
  }

  &__description {
    font: 400 1.3571rem/2.0714rem $mainFont;
    padding-left: 2.8571rem;
  }

  &__name {
    font-weight: 700;
  }
}
