include ../../blocks/links/links.pug
include ../../blocks/subscribe/subscribe.pug
include ../../blocks/logo/logo.pug
include ../../blocks/social/social.pug

footer.footer__wrapper
  .footer 
    .footer__logo
      +logo({ type: "colorWithText", width: "105.5px"})
      p.footer__award Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer__links
      .footer__links_column
        +links({ title: "навигация", linksList: [
          { name: "О нас", url: "./error-page.html"},
          { name: "Новости", url: "./error-page.html"},
          { name: "Служба поддержки", url: "./error-page.html"},
          { name: "Услуги", url: "./error-page.html"},
        ]})
      .footer__links_column
        +links({ title: "О нас", linksList: [
          { name: "О сервисе", url: "./error-page.html"},
          { name: "Наша команда", url: "./error-page.html"},
          { name: "Вакансии", url: "./error-page.html"},
          { name: "Инвесторы", url: "./error-page.html"},
        ]})
      .footer__links_column
        +links({ title: "Служба поддержки", linksList: [
          { name: "Соглашение", url: "./error-page.html"},
          { name: "Сообщества", url: "./error-page.html"},
          { name: "Связь с нами", url: "./error-page.html"},
        ]})
    +subscribe({ title: "Подписка", text: "Получайте специальные предложения и новости сервиса"})
  .footer__bottom
    .footer__bottom_wrapper
      .footer__copyright-text Copyright © 2018 Toxin отель. Все права зачищены.
      .footer__social
        +social({ socialLinks: [
            { title: "twitter", link: "https://twitter.com"},
            { title: "facebook", link: "https://facebook.com"},
            { title: "instagram", link: "https://instagram.com"},
        ]})
footer.footer-mobile
  .footer-mobile__wrapper
    +logo({ type: "colorWithText", width: "105.5px", height: "40px"})
    .footer-mobile__copyright-text Copyright © 2018 Toxin отель. Все&nbsp;права&nbsp;зачищены.
    .footer-mobile__social
      +social({ socialLinks: [
        { title: "twitter", link: "https://twitter.com"},
        { title: "facebook", link: "https://facebook.com"},
        { title: "instagram", link: "https://instagram.com"},
      ]})