.filter {
    
  &__dropdown-guests {
    padding-top: 20px;
  }

  &__range-slider {
    padding-top: 30px;
  }

  &__checkbox {
    padding-top: 30px;
  }

  &__rich-checkbox {
    padding-top: 30px;
  }

  &__dropdown-comfort {
    padding-top: 30px;
  }
  
  &__expandable-checkbox{
    padding-top: 30px;
  }
}