include ../info-icon/info-icon.pug
include ../room-number/room-number.pug
include ../room-price/room-price.pug

mixin card({ title, calculation=false })
  .card__wrapper
    if calculation
      .card__title-calculation
        +room-number({ symbol: "№", value: "888", text: "люкс" })
        +room-price({ value: "9 990₽", text: "в сутки"})
    else
      .card__title #{title}