include ../info-icon/info-icon.pug
include ../room-number/room-number.pug
include ../room-price/room-price.pug
include ../text-field/text-field.pug
include ../dropdown/dropdown.pug
include ../toggle/toggle.pug
include ../radio/radio.pug
include ../button/button.pug
include ../price-calc/price-calc.pug
include ../heading/heading.pug

mixin card({ formMethod="", formAction="", title="", type="", buttonText="", buttonType="", question="", numberOfGuests=0 })

  -
    const questionButton = question.toLowerCase().indexOf("нет") !== -1 ? "Создать" : "Войти"
    const questionButtonLink = questionButton === "Создать" ? "registration-page" : "sing-in-page"
    const search = (type === "search")
    const registration = (type === "registration")
    const calculation = (type === "calculation")
    const entry = (type === "entry")
    const searchOrCalculation = (search || calculation)

  .card
    if (calculation)
      .card__title-calculation
        +room-number({ symbol: "№", value: "888", text: "люкс" })
        +room-price({ value: "9 990", text: "в сутки"})
    else
      .card__title
        +heading({ level: "h1", title: title })
    form(method=`${formMethod}`, action=`./${formAction}.html`)
      if (searchOrCalculation)
        section.card__date-dropdown
          .card__date-dropdown-start
            +heading({ level: "h3", title: "прибытие" })
            +text-field({
                type: "text", dataType: "date-dropdown-start", placeholder: "ДД.ММ.ГГГГ", size:"small", name: "date", autocomplete: "off", arrow: true
            })
          .card__date-dropdown-end
            +heading({ level: "h3", title: "выезд" })
            +text-field({
                type: "text", dataType: "date-dropdown-end", placeholder: "ДД.ММ.ГГГГ", size:"small", name: "date", autocomplete: "off", arrow: true
            })
        div(class= search ? "card__guests-dropdown-search" : "card__guests-dropdown")
          +heading({ level: "h3", title: "гости" })
          +dropdown({
            isOpen: false, 
            group: "guests", 
            elements: [
              {title: "Взрослые", count: numberOfGuests},
              {title: "Дети", count: 0}, 
              {title: "Младенцы", count: 0}
            ]})
        if calculation
          .card__calculation
            +price-calc()

      else if (registration)
        section.card__register-details
          .card__register-details-name
            +text-field({ placeholder: "Имя", type: "text", name: "name", autocomplete: "on" })
          .card__register-details-surname
            +text-field({ placeholder: "Фамилия", type: "text", name: "surname", autocomplete: "on" })
        section.card__radio-buttons
          +radio({ group: "gender", title: "Мужчина", checked: true})
          +radio({ group: "gender", title: "Женщина", checked: false})
        .card__birthday
          +heading({ level: "h3", title: "дата рождения" })
          +text-field({ dataType: "masked-text-field", placeholder: "ДД.ММ.ГГГГ", type: "text", name: "birthday", autocomplete: "on" })
        section.card__login-details
          +heading({ level: "h3", title: "данные для входа в сервис" })
          .card__login-details-email
            +text-field({ placeholder: "Email", type: "email", name: "email", autocomplete: "on" })
          .card__login-details-password
            +text-field({ placeholder: "Пароль", type: "password", name: "password", autocomplete: "on" })
        .card__toggle
          +toggle({ title: "Получать спецпредложения" })

      else if (entry)
        section.card__login-details
          .card__login-details-email
            +text-field({ placeholder: "Email", type: "email", name: "email", autocomplete: "on" })
          .card__login-details-password
            +text-field({ placeholder: "Пароль", type: "password", name: "password", autocomplete: "on" })
      //- Add button
      if (buttonText !== "")
        .card__button
          +button({ buttonName: buttonText, type: buttonType, buttonVariation: "withArrow", textColor: "white", size: "large"})
      //- Add question
      if (question !== "")
        .card__question
          span.card__question-text #{question}
          .card__question-button
            +button({ buttonName: questionButton, buttonVariation: "fillWhite", textColor: "purple", size: "small", link: questionButtonLink })