@import '@variables';
@import '@mixins';

.card {
  &__wrapper {
    max-width: 27.1429rem;
    min-width: 14.2857rem;
    border: $cardsBorder;
    padding: 2.7857rem 2.1429rem 2.1429rem 2.0714rem;
    border-radius: $cardsBorderRadius ;
    box-sizing: border-box;
    background: $cardsBackground ;
    box-shadow: $mainBoxShadow;

    @media (max-width: 480px) {
      padding: 0.7143rem;
      margin: 0 0.7143rem;
    }
  }

  &__title {
    @include font-h1;

    @media (max-width: 480px) {
      padding: 1.4286rem 0 0 1.4286rem;
      line-height: 1.8571rem;
      font-size: 1.4286rem;
    }
  }

  &__title-calculation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__date-dropdown {
    display: flex;
    padding-top: 1.5714rem;

    & > :last-child {
      padding-left: 1.4286rem;
    }

    @media (max-width: 480px) {
      flex-direction: column;
      padding: 1.4286rem;

      .text-field__size_small {
        width: 100%;
      }

      & > :last-child {
        padding-left: 0;
        padding-top: 0.7143rem;
      }
    }
  }

  &__guests-dropdown {
    padding-top: 1.4286rem;

    &_search {
      padding-bottom: 0.8571rem;
    }

    &_title {
      @include font-h3;
      display: block;
      margin: 0rem 0 0.3571rem 0;
      color: $mainTextColor;

    }

    @media (max-width: 480px) {
      padding: 1.4286rem;

      .dropdown__guests {
        width: 100%;
      }
    }
  }

  &__register-details {
    padding-top: 1.4286rem;
    & .register__surname {
      padding-top: 0.7143rem;
    }
  }

  &__radio-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0.7143rem 7.1429rem 0 0;
    padding-right: 7.1429rem;
  }

  &__birthday {
    padding-top: 1.7857rem;
  }

  &__login-details {
    padding-top: 1.4286rem;
    & .login-details__email {
      padding-bottom: 0.7143rem;
    }
  }

  &__toggle {
    padding: 0.7143rem 0 0.5rem;
  }

  &__button {
    padding-top: 20px;
    @media (max-width: 480px) {
      padding: 1.4286rem;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.1429rem;
    &_text {
      display: block;
      align-self: center;
    }
    &_button {
      min-width: 7.0714rem;
    }
  }

  &__calculation {
    padding-top: 1.2857rem;
    padding-left: 0.0714rem;
  }
}
