@import "@variables";

.card {
  min-width: 200px;
  max-width: 380px;
  padding: 39px 30px 30px 29px;
  background: $cardsBackground;
  border: $cardsBorder;
  border-radius: $cardsBorderRadius;
  box-shadow: $mainBoxShadow;

  @media (max-width: 480px) {
    margin: 0 10px;
    padding: 10px;
  }

  &__title {
    color: $mainTextColor;
    font: 700 24px/29px $mainFont;

    @media (max-width: 480px) {
      max-width: 300px;
      padding: 20px 0 0 20px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__title-calculation {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__date-dropdown {
    padding-top: 22px;
  }

  &__guests-dropdown {
    min-width: 320px;
    padding-top: 21px;

    @media (max-width: 480px) {
      min-width: 200px;
    }
  }

  &__guests-dropdown-search {
    padding-top: 20px;
    padding-bottom: 12px;
  }

  &__register-details {
    padding-top: 20px;

    & .card__register-details-surname {
      padding-top: 10px;
    }
  }

  &__sex {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 0 0;
  }

  &__birthday {
    padding-top: 26px;
  }

  &__login-details {
    padding-top: 20px;

    & .card__login-details-email {
      padding-bottom: 10px;
    }
  }

  &__special-offers-subscription {
    padding: 9px 0 7px;
  }

  &__submit-button {
    padding-top: 20px;

    @media (max-width: 480px) {
      padding: 20px;
    }
  }

  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 29px;
  }

  &__question-button {
    min-width: 100px;
  }

  &__calculation {
    padding: 19px 0 0 1px;
  }
}
