@import '@variables';
@import '@mixins';

.navigation {
  display: flex;
  margin: 0;
  list-style-type: none;

  &__item {
    position: relative;
    padding-right: 1.4286rem;
  }

  &__link {
    cursor: pointer;
  }

  &__item_dropdown {
    position: relative;
    padding-right: 3.2857rem;

    &::after {
      @include font-material-icons;
      content: '\e5cf';
      position: absolute;
      right: 20px;
      line-height: 20px;
      color: $textColor_50;
      cursor: pointer;
    }

    &.navigation__dropdown_open {
      .navigation__dropdown {
        display: block;
      }
    }
  }
  &__link_active {
    font-weight: 700;
  }

  &__dropdown {
    display: none;
    position: absolute;
    z-index: 3000;
    width: 100%;
    right: 10px;
    box-shadow: $headerFooterBoxShadow;
    border-radius: $mainBorderRadius;
    background: $uiKitPagesBackground;

    @media (max-width: 960px) {
      background: $cardsBackground;
      box-shadow: $headerFooterBoxShadow;
    }

    & .links__item {
      padding: 0.5rem;
      text-align: center;

      @media (max-width: 960px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }

      &:first-child {
        padding: 0.5rem 0 0.5rem 0;
      }
    }
  }
}