@import '@variables';
@import '@mixins';

.navigation {
  display: flex;
  margin: 0;
  list-style-type: none;

  &__item {
    position: relative;
    padding-right: 20px;
  }

  &__link {
    cursor: pointer;

    &:focus {
      outline: none;
      color: $textColor_75;
    }
  }

  &__dropdown-arrow-up {
    position: relative;
    padding-right: 46px;

    &::after {
      @include font-material-icons;
      content: '\e5ce';
      position: absolute;
      right: 20px;
      line-height: 20px;
      color: $textColor_50;
      cursor: pointer;
    }
  }
  &__dropdown-arrow-down {
    position: relative;
    padding-right: 46px;

    &::after {
      @include font-material-icons;
      content: '\e5cf';
      position: absolute;
      right: 20px;
      line-height: 20px;
      color: $textColor_50;
      cursor: pointer;
    }
  }

  &__link_active {
    font-weight: 700;
  }

  &__dropdown {
    position: absolute;
    z-index: 3000;
    min-width: 140px;
    top: 25px;
    right: 8%;
    box-shadow: $mainBoxShadow;
    border-radius: $mainBorderRadius;
    background: $cardsBackground;

    &_visibility-hidden {
      visibility: hidden;
    }

    @media (max-width: 960px) {
      background: $cardsBackground;
      box-shadow: $headerFooterBoxShadow;
    }

    & .links__item {
      padding: 7px 14px;
      text-align: center;

      @media (max-width: 960px) {
        font-size: 21px;
        line-height: 21px;
      }
    }
  }
}
