include ../links/links.pug

mixin navigation({ navigationList=[] })
  nav
    ul.navigation
      each navigationItem in navigationList
        -
          const activeLinkClass = navigationItem.active ? "navigation__link_active" : ""
          const itemArrowModifier = navigationItem.dropdown ? "navigation__item_with-arrow-down" : ""
          const dropdownId = navigationItem.dropdown ? "navigation-dropdown-item" : ""

        li.navigation__item(class=itemArrowModifier data-id=dropdownId)
          a&attributes({
            class: ["navigation__link", activeLinkClass ],
            href: navigationItem.url,
            tabindex: "0",
            "data-type": "link-dropdown", 
          }) #{navigationItem.name}
          if navigationItem.dropdown
            .navigation__dropdown.navigation__dropdown_visibility-hidden
              +links({ linksList: navigationItem.subMenuItems || [] })