.no-config.iqdropdown
  p.iqdropdown-selection
  .iqdropdown-menu
    .iqdropdown-menu-option(data-id="item-1")
      div
        p.iqdropdown-item взрослые
    .iqdropdown-menu-option(data-id='item-2')
      div
        p.iqdropdown-item дети
    .iqdropdown-menu-option(data-id='item-3')
      div
        p.iqdropdown-item младенцы