include ../../basis/mixins.pug
nav
  ul.link
    +link-list('link.html', 'Support')
    +link-list('link.html', 'Documentation')
    +link-list('link.html', 'Community')
    +link-list('link.html', 'Get in Touch')