include ../../basis/mixins.pug
nav
  ul.link
    +link-list('link.html', 'About Us')
    +link-list('link.html', 'Who we are')
    +link-list('link.html', 'Our team')
    +link-list('link.html', 'Careers')
    +link-list('link.html', 'Investors')