include ../../basis/mixins.pug
nav
	ul.link
		+link-list('link.html', 'Navigation')
		+link-list('link.html', 'About Us')
		+link-list('link.html', 'News')
		+link-list('link.html', 'Support')
		+link-list('link.html', 'Products')

