ul {
	display: block;
	padding: 0px;
	margin: 0px;
}
.link {
		list-style-type: none;
		li{
			margin-bottom: 20px;
		}
		li:last-child{
			margin-bottom: 0;
		}
}
.link li:first-child{
			font-weight: bold;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			margin-bottom: 21px;
		a{
			color: #1F2041
		}
}