doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		// <link rel="stylesheet" href="style.css" />
		title Colors & Type
	body.body-wrapper
		header.header.screen-width
			.logo
				img(src='../src/img/logo.svg' alt='logo')
		main
			.content-wrapper__two-columns
				section.colors-wrapper
					.colors
						.square-100
						.square-100__designation
							p Dark Shade 100%
							span.colors__code #1F2041
					.colors
						.square-75
						.square-75__designation
							p Dark Shade 75%
							span.colors__code #1F2041
					.colors
						.square-50
						.square-50__designation
							p Dark Shade 50%
							span.colors__code #1F2041
					.colors
						.square-25
						.square-25__designation
							p Dark Shade 25%
							span.colors__code #1F2041
					.colors
						.square-5
						.square-5__designation
							p Dark Shade 5%
							span.colors__code #1F2041
					.colors
						.square-purple
						.square-purple__designation
							p Purple
							span.colors__code #BC9CFF
					.colors
						.square-green
						.square-green__designation
							p Green
							span.colors__code #6FCF97
				section.type-wrapper
					.type.type_font-size_h1
						.type__block-title.type__block-title_size_h1 H1
						.type__block-text.type__block-text_size_h1
							| This one is the sub-section or widget title
					.type.type_font-size_h2
						.type__block-title.type__block-title_size_h2 H2
						.type__block-text.type__block-text_size_h2
							| Next one is the item title inside widgets
					.type.type_font-size_h3
						.type__block-title.type__block-title_size_h3 H3
						.type__block-text_size_h3
							| This is a label or CTA text
					.type.type_font-size_body
						.type__block-title.type__block-title_size_body Body
						.type__block-text.type__block-text_size_body.type__block-text_font-style_body
							| This is the body text which is used for most of the design, like
							| paragraphs, lists, etc.