.room-number {
  font-family: Quicksand;
  font-weight: 700;

  &__symbol {
    font-size: 14px;
    line-height: 17px;
    color: $mainTextColor;
  }
  &__value{
    font-size: 24px;
    line-height: 30px;
    padding-left: 5px;
    color: $mainTextColor;
  }
  &__text {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    padding-left: 5px;
    color: $designColor_main;
  }

}