@import '@variables';
@import '@mixins';

.room-number {
<<<<<<< HEAD
  @include font-h1;
=======
>>>>>>> dev

  &__symbol {
    font-size: 1rem;
    line-height: 1.2143rem;
    color: $mainTextColor;
  }
  &__value {
<<<<<<< HEAD
    padding-left: 0.2857rem;
=======
>>>>>>> dev
    font-size: 1.7143rem;
    line-height: 2.1429rem;
    color: $mainTextColor;
  }
  &__text {
    @include font-h3;
    padding-left: 0.3571rem;
    text-align: end;
    color: $designColor_main;
  }
}
