@import "@variables";
@import "@mixins";

.heading {
  display: flex;
  justify-content: space-between;

  &__title {
    margin: 0;

    &_level_h1 {
      @include font-h1;
    }
    &_level_h2 {
      @include font-h2;

      &::first-letter {
        text-transform: uppercase;
      }
    }
    &_level_h3 {
      @include font-h3;

      padding-bottom: 5px;
    }
  }

  &__description {
    &_lowercase {
      font-size: 14px;
      text-transform: lowercase;
    }

    color: $textColor_50;
    font-size: 12px;
    text-transform: uppercase;
  }
}
