extends ../blocks/main

block variables
	- var title = "Headers & Footers"
	- var description = ""
	- var keywords = ""

block content
	body.body-wrapper
		header
			include ../blocks/header_gray/header_gray.pug
		main.content-wrapper
			section.colors__wrapper
				include ../blocks/colors/colors.pug