<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Headers & Footers
		link(rel='shortcut icon' href='../src/img/Colorlogo.svg')

	body.body-wrapper
		header
			include ../blocks/header_gray/header_gray.pug
		main
			.content-wrapper
				.colors__wrapper
					include ../blocks/colors/colors.pug 

					