extends ./layouts/main-layout.pug
include ../components/registration/registration.pug

block variables
  - const title = "Registration page"

block content
  +registration({
    registrationCard: {
      title: "Регистрация аккаунта",
      type: "registration",
      buttonText: "перейти к оплате",
      question: "Уже есть аккаунт на Toxin"
    }
  })