extends ../components/main
include ../components/room-details/room-details.pug

block variables
  - const title = "Room details"

block content
  +room-details({
    header: {
      logo: { type: "colorWithText", width: "106px", height: "40px"},
      navigationList: [
            { name: "О нас", url: "./error-page.html", active: true},
            { name: "Услуги", dropdown: true},
            { name: "Вакансии", url: "./error-page.html"},
            { name: "Новости", url: "./error-page.html"},
            { name: "Соглашения", dropdown: true},
      ],
      buttonEntry: "войти",
      buttonRegister: "зарегистрироваться",
    },
    roomPhoto: {
      main: "room-details-main.jpg",
      asideTop: "room-details-aside-top.jpg",
      asideBottom: "room-details-aside-bottom.jpg"
    },
    roomDignities: {
      title: "сведения о номере",
      items: [
        { icon: "mood", title: "Комфорт", subtitle: "Шумопоглощающие стены" },
        { icon: "location_city", title: "Удобство", subtitle: "Окно в каждой из спален" },
        { icon: "whatshot", title: "Уют", subtitle: "Номер оснащён камином" },
      ]
    },
    chartDoughnut: {
      title: "впечатления от номера",
      options: {
        sumOfVote: "260",
        legendItems: [
          { label: "великолепно" },
          { label: "хорошо" },
          { label: "удовлетворительно" },
          { label: "разочарован" },
        ]
      }
    },
    feedback: {
      title: "Отзывы посетителей номера",
      subtitle: "2 отзыва",
      items: [
        { 
          imageName: "comment-image-1.jpg", 
          name: "Мурад Сарафанов", 
          dateOfVisit: "5 дней назад", 
          commentText: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", 
          likeCount: 12
        },
        { 
          imageName: "comment-image-2.jpg", 
          name: "Патрисия Стёклышкова", 
          dateOfVisit: "Неделю назад", 
          commentText: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент", 
          likeCount: 2,
          isDisable: true
        },
      ]
    },
    bulletList: { 
      title: "правила",
      listItems: [ 
        { title: "Нельзя с питомцами" }, 
        { title: "Без вечеринок и мероприятий" },  
        { title: "Время прибытия — после 13:00, а\u00A0выезд до 12:00" }
      ]
    },
    cancel: { 
      title: "отмена",
      text: "Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги."
    },
    calculationCard: {
      type: "calculation",
      buttonText: "забронировать",
      numberOfGuests: 3,
      buttonLink: "error-page"
    },

    footer: {
      border: true,
      logo: { type: "colorWithText", width: "106px"},
      footerText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
      footerNavigation: {
        column1: { title: "навигация", 
          linksList: [
            { name: "О нас", url: "./error-page.html"},
            { name: "Новости", url: "./error-page.html"},
            { name: "Служба поддержки", url: "./error-page.html"},
            { name: "Услуги", url: "./error-page.html"},
          ]
        },
        column2: { title: "О нас", 
          linksList: [
            { name: "О сервисе", url: "./error-page.html"},
            { name: "Наша команда", url: "./error-page.html"},
            { name: "Вакансии", url: "./error-page.html"},
            { name: "Инвесторы", url: "./error-page.html"},
          ]
        },
        column3: { title: "Служба поддержки", 
          linksList: [
            { name: "Соглашение", url: "./error-page.html"},
            { name: "Сообщества", url: "./error-page.html"},
            { name: "Связь с нами", url: "./error-page.html"},
          ]
        },
      },
      subscribe: { title: "Подписка", text: "Получайте специальные   предложения и новости сервиса"},
      copyright: {
        text: "Copyright © 2018 Toxin отель. Все\u00A0права\u00A0зачищены."
      },
      social: { 
        socialLinks: [
          { title: "twitter", link: "https://twitter.com"},
          { title: "facebook", link: "https://facebook.com"},
          { title: "instagram", link: "https://instagram.com"},
        ]
      },
    }        
  })
block foot