extends ../layouts/main-layout.pug
include ../components/sing-in/sing-in.pug

block variables
  - const title = "Sing in page"

block content
  +sing-in({
    entryCard: {
       title: "Войти",
       type: "entry",
       buttonText: "войти",
       question: "Нет аккаунта на Toxin?"
    }
  })