extends ../components/main
include ../components/start-page/start-page.pug

block variables
  - const title = "Стартовая страница"

block content
  +start-page({
    logo: { type: "colorWithText", height: "80", width: "200"},
    menuItems: [
      { title: "Colors & Types", link: "index", image: "colors-type.jpg"},
      { title: "Headers & Footers", link: "headers-footers", image: "headers-footers.jpg"},
      { title: "Form & Elements", link: "form-elements", image: "form-elements.jpg"},
      { title: "Cards", link: "cards", image: "cards.jpg"},
      { title: "Landing page", link: "landing", image: "landing-page.jpg"},
      { title: "Registration page", link: "registration", image: "registration-page.jpg"},
    ]
  })

block foot