extends ../layouts/ui-kit-layout.pug
include ../components/start-page/start-page.pug

block variables
  - const title = "Стартовая страница"

block header
block content
  +start-page({
    logo: { type: "colorWithText", height: "80", width: "200"},
    menuItems: [
      { title: "Colors & Types", link: "ui-kit-colors-type", image: "colors-type.jpg"},
      { title: "Headers & Footers", link: "ui-kit-headers-footers", image: "headers-footers.jpg"},
      { title: "Form & Elements", link: "ui-kit-form-elements", image: "form-elements.jpg"},
      { title: "Cards", link: "ui-kit-cards", image: "cards.jpg"},
      { title: "Landing page", link: "landing-page", image: "landing-page.jpg"},
      { title: "Registration page", link: "registration-page", image: "registration-page.jpg"},
      { title: "Sing in page", link: "sing-in-page", image: "sing-in-page.jpg"},
      { title: "Search room", link: "search-room-page", image: "search-room.jpg"},
      { title: "Room details", link: "room-details-page", image: "room-details.jpg"},
    ]
  })

block footer