extends ../layouts/ui-kit-layout.pug
include ../components/cards-page/cards-page.pug

block variables
  - const title = "Cards"

block header
  +ui-kit-header({ background: true })  

block content
  +cards-page({
    cards: {
        search: {
        title: "Найдём номера под ваши\u00A0пожелания",
        type: "search",
        formAction: "error-page",
        buttonText: "подобрать номер",
        buttonType: "button",
      },
      registration: {
        title: "Регистрация аккаунта",
        type: "registration",
        formAction: "error-page",
        buttonText: "перейти к оплате",
        buttonType: "button",
        question: "Уже есть аккаунт на Toxin",
      },
      calculation: {
        type: "calculation",
        formAction: "error-page",
        buttonText: "забронировать",
        buttonType: "button",
        numberOfGuests: 3,
      },
      entry: {
        title: "Войти",
        type: "entry",
        formAction: "error-page",
        buttonText: "войти",
        buttonType: "button",
        question: "Нет аккаунта на Toxin?",
      }
    },
    calendar: {},
    roomReviewWidgets: [
      {
        images: [
          { name: "room-img-1.jpg"},
          { name: "room-img-2.jpg"},
          { name: "room-img-3.jpg"},
          { name: "room-img-4.jpg"},
        ],
        roomNumber: { symbol: "№", value: "888", text: "люкс" },
        roomPrice: { value: "9 990", text: "в сутки" },
        rating: { rating: 5 },
        commentCount: { value: "145", text: "Отзывов"} 
      },
      {
        images: [
          { name: "room-img-2.jpg"},
          { name: "room-img-5.jpg"},
          { name: "room-img-6.jpg"},
          { name: "room-img-7.jpg"},
        ],
        roomNumber: { symbol: "№", value: "840", text: "люкс" },
        roomPrice: { value: "9 900", text: "в сутки"},
        rating: { rating: 4 },
        commentCount: { value: "65", text: "Отзывов"} 
      }
    ],
  })