extends ../components/main
include ../components/cards-page/cards-page.pug

block variables
  - const title = "Cards"

block content
  +cards-page({
    cards: {
      search: {
        title: "Найдём номера под ваши\u00A0пожелания",
        type: "search",
        buttonText: "подобрать номер",
        buttonLink: "search-room"
      },
      registration: {
        title: "Регистрация аккаунта",
        type: "registration",
        buttonText: "перейти к оплате",
        question: "Уже есть аккаунт на Toxin",
        buttonLink: "error-page"
      },
      calculation: {
        type: "calculation",
        buttonText: "забронировать",
        numberOfGuests: 3,
        buttonLink: "error-page"
      },
      entry: {
        title: "Войти",
        type: "entry",
        buttonText: "войти",
        question: "Нет аккаунта на Toxin?",
        buttonLink: "error-page"
      }
    },
    calendar: {},
    roomReviewWidgets: [
      {
        images: [
          { name: "room-img-1.jpg"},
          { name: "room-img-2.jpg"},
          { name: "room-img-3.jpg"},
          { name: "room-img-4.jpg"},
        ],
        roomNumber: { symbol: "№", value: "888", text: "люкс" },
        roomPrice: { value: "9 990₽", text: "в сутки"},
        rating: { rating: 5 },
        commentCount: { value: "145", text: "Отзывов"} 
      },
      {
        images: [
          { name: "room-img-2.jpg"},
          { name: "room-img-5.jpg"},
          { name: "room-img-6.jpg"},
          { name: "room-img-7.jpg"},
        ],
        roomNumber: { symbol: "№", value: "840", text: "люкс" },
        roomPrice: { value: "9 900₽", text: "в сутки"},
        rating: { rating: 4 },
        commentCount: { value: "65", text: "Отзывов"} 
      }
    ],
  })