.dropdown.open
	input(
		type="text"
		class='dropdown__input'
		placeholder='Сколько гостей'
	)
	.fa.fa-chevron-down
	.dropdown__drop
		ul.dropdown__list
			li.dropdown__item Взрослые
			li.dropdown__item Дети
			li.dropdown__item Младенцы