@import '@variables';

.room-details {
  &__room-photo {
    max-width: 1440px;
    max-height: 485px;
    margin: 0 auto;
    display: flex;
  }

  &__content {
    max-width: 1160px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  }

  &__information {
    display: grid;
    grid-template-columns: 291px 1fr;
    grid-gap: 33px 70px;
    padding-bottom: 72px;

    @media (max-width: 800px) {
      grid-template-columns: 320px;
    }
    @media (max-width: 400px) {
      padding-left: 5px;
    }
  }

  &__calculation {
    @media (max-width: 1200px) {
      padding-bottom: 70px;
    }
  }
}

.information {
  &__title {
    font-family: 'Open Sans', Quicksand, sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: $mainTextColor;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__subtitle {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 14px;
    color: $textColor_50;
  }

  &__dignity {
    box-sizing: border-box;
    padding-right: 11px;

    & .dignity-room__item:nth-last-child(2) {
      padding-bottom: 0px;
    }
    & .dignity-room__item:nth-last-child(2) + hr {
      display: none;
    }
  }

  &__impressions {
    max-width: 320px;
  }

  &__feedback {
    max-width: 711px;
    grid-column: 1/3;
    @media (max-width: 800px) {
      grid-column: 1/2;
    }
  }

  &__rules {
    & .information__title {
      padding: 0px 0 17px 20px;
    }
  }

  &__cancel {
    max-width: 341px;
  }
}

.feedback {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__item {
    padding-top: 20px;
    &:last-child {
      padding-top: 23px;
    }
  }
}

.cancel {
  &__text {
    padding-top: 17px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $textColor_75;
  }
}
