.room-details {
  flex: 1 0 auto;

  &__room-photo {
    max-width: 1440px;
    max-height: 485px;
    margin: 0 auto;
    display: flex;
  }

  &__content {
    max-width: 1160px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
  }

  &__information {
    // flex: 1 0 auto;
    // margin-right: 69px;
    // border: 1px dashed black;
    display: grid;
    grid-template-columns: 291px 1fr;
    grid-gap: 30px 70px;
  }
  
  &__footer {
    flex-shrink: 0;
  }
}

.information {
  
  &__title {
    font-family: "Open Sans", Quicksand, sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: $mainTextColor;
    
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__subtitle {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 14px;
    color: $textColor_50;
  }

  &__dignity {
    box-sizing: border-box;
    // max-width: 291px;
    padding-right: 11px;

    & .dignity-room__item:nth-last-child(2){
      padding-bottom: 0px;
    }
    & .dignity-room__item:nth-last-child(2) + hr {
      display: none;
    }
  }
  
  &__impressions{
    width: 311px;
    height: 170px;
  }

  &__feedback {
    grid-column: 1/3;
    width: 712px;
    height: 306px;
  }

  &__rules {
    & .information__title {
      padding: 0 0 20px 20px;
    }
  }

  &__cancel {
    max-width: 341px;
  }
}

.feedback {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__item .comment{
    padding-top: 20px;
  }
  &__item .comment:first-child{
    padding-top: 22px;
  }
}

.cancel {

  &__text {
    padding-top: 20px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    color: $textColor_75;
  }
}