include ../logo/logo.pug
include ../menu-widget/menu-widget.pug

mixin start-page({ logo={}, menuItems=[] })
  .start-page
    .start-page__container
      .start-page__logo
        +logo(logo)
      .start-page__menu
        +menu-widget({ menuItems })