@import '@variables';

.start-page {
  flex: 1 0 auto;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__logo {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
  }

  &__menu {
    padding-top: 50px;
  }
}
