include ../logo/logo.pug
include ../menu-widget/menu-widget.pug
include ../toggle/toggle.pug

mixin start-page({ logo={}, uiKit=[], sitePages=[] })
  .start-page
    .start-page__container
      .start-page__logo
        +logo(logo)
      .start-page__toggle.js-start-page__toggle
        +toggle({title: "Показать изображения"})
      .start-page__header.js-start-page__header
        h2.start-page__header-ui-kit Ui Kit
        h2.start-page__header-pages Pages
      .start-page__menu
        +menu-widget({ uiKit, sitePages })