@import '@variables';
@import '@mixins';

.start-page {
  flex: 1 0 auto;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__header {
    @include font-h2;
    @include text-gradient-fill($mainGradient);

    min-height: 2.1429rem;
    display: flex;
    justify-content: space-around;
    padding-top: 2.1429rem;

    @media (max-width: 659px) {
      display: none;
    }
  }

  &__toggle {
    display: flex;
    padding: 20px 0 20px 50px;
    justify-content: start;
  }

  &__logo {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
  }

  &__menu {
    padding-top: 1.4286rem;
  }
}
