mixin room-photo()
  .room-photo
    .room-photo__main
      img&attributes({
        class: "room-photo__item",
        src: require("../../pages/room-details-page/images/room-photo/room-details-main.jpg"),
        alt: "room photo",
      })
    .room-photo__aside
      .room-photo__aside-top
        img&attributes({
          class: "room-photo__item",
          src: require("../../pages/room-details-page/images/room-photo/room-details-aside-top.jpg"),
          alt: "room photo",
        })
      .room-photo__aside-bottom
        img&attributes({
          class: "room-photo__item",
          src: require("../../pages/room-details-page/images/room-photo/room-details-aside-bottom.jpg"),
          alt: "room photo",
        })