include ../../components/logo/logo.pug
include ../../components/navigation/navigation.pug
include ../../components/button/button.pug

mixin header({ logo={}, navigationList=[], buttonEntry="", buttonRegister="", logged=false, userName="" })
  header.header
    .header__container
      .header__body
        +logo(logo)
        .header__menu-burger.js-header__menu-burger
          span.header__menu-burger_line.js-header__menu-burger_line
        .header__menu.js-header__menu
          .header__navigation
            +navigation({ navigationList })
          if logged
            .header__logged #{userName}
          else
            .header__login
              .header__login_entry
                +button({ classList: [], buttonName: buttonEntry, size: "stretch", textColor: "purple",  buttonVariation: "fillWhite" })
              .header__login_register
                +button({ classList: [], buttonName: buttonRegister, size: "stretch", textColor: "white" })