@import '@variables';

.header {
  background-color: $headerFooterBackground;
  box-shadow: $headerFooterBoxShadow;

  &__container {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 13px 126px 13px 140px;
    color: $textColor_50;

    @media (max-width: 1280px) {
      padding: 13px 30px 13px;
    }

    @media (max-width: 480px) {
      padding: 12px 30px 12px;
    }
  }

  &__menu-burger {
    display: none;

    @media (max-width: 960px) {
      display: block;
      position: relative;
      z-index: 2000;
      width: 36px;
      height: 36px;
      cursor: pointer;

      .header__menu-burger-line {
        position: absolute;
        top: 17px;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
        background-color: $textColor_50;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
        background-color: $textColor_50;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
  }

  &__menu-burger.header__menu-burger_active {
    position: fixed;
    right: 30px;

    &::before {
      top: 17px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 17px;
      transform: rotate(-45deg);
    }

    & .header__menu-burger-line {
      transform: scale(0);
    }

    & + .header__menu {
      left: 0;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    @media (max-width: 960px) {
      position: fixed;
      flex-direction: column;
      justify-content: space-evenly;
      z-index: 1000;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      transition: 0.1s;
      background-color: $uiKitPagesBackground;
    }
  }

  &__navigation .navigation {
    @media (max-width: 960px) {
      flex-direction: column;
      padding-bottom: 70px;
    }
  }

  @media (max-width: 960px) {
    .navigation__item {
      padding: 0 50px 20px 0;
      text-align: center;
    }
    .navigation__link {
      font-size: 21px;
    }
    .navigation__item-dropdown {
      padding-right: 50px;

      &::after {
        font-size: 31px;
        line-height: 28px;
      }
    }
  }

  &__login {
    display: flex;

    @media (max-width: 960px) {
      flex-direction: column;
    }
  }

  &__login-entry {
    margin-right: 20px;

    @media (max-width: 960px) {
      margin: 0 0 15px 0;
    }
  }

  &__logged {
    border-left: $mainBorder;
    padding: 6px 0 6px 20px;

    @media (max-width: 960px) {
      padding: 0 50px 0 0;
      border-left: none;
      font-size: 21px;
      color: $mainTextColor;
    }
  }
}
