include ./ui-kit-footer/ui-kit-footer.pug

block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel='shortcut icon' href='./assets/favicon/favicon.png')

  block content
  block foot
    +ui-kit-footer({ 
      footerLinks: [
        { link: "index", name: "Colors & Type" },
        { link: "headers-footers", name: "Headers & Footers" },
        { link: "form-elements", name: "Form Elements" },
        { link: "cards", name: "Cards" },
        { link: "landing", name: "Landing page" },
      ]
    })
  