.bar
	.bar__logo
		.bar__logo_img
			img(src="../src/img/color_logo.svg", alt="Logotype")
		.bar__logo_name
			img(src="../src/img/toxin.svg", alt="TOXIN")
	.bar__link.bar__link_font
		a(href="#") Home
		a(href="#") About Us
		a(href="#") Services 
			img(src="../src/img/expand_more.svg", alt="")
		a(href="#") Careers
		a(href="#") News
		a(href="#") Documentation
	.bar__button
		.bar__button_login
			img(src="../src/img/button_login.svg", alt="")
		.bar__button_register
			img(src="../src/img/button_register.svg", alt="")