mixin links({ title="", linksList=[] })
  ul.links.links__title #{title}
    each linkItem in linksList
      li.links__item
        a&attributes({
          class: "links__link",
          href: linkItem.url,
        }) #{linkItem.name}