mixin links({ title="", linksList=[] })
  ul.links.links__title #{title}
    each link in linksList
      li.links__element
        a&attributes({
          class: "links__link",
          href: link.url,
        }) #{link.name}