mixin range-slider()
  .range-slider__header
    .font__h3 Range slider
    input&attributes({
      class: "range-slider",
      type: "text",
      readonly: "readonly"
      })
  .range-slider__scale
    .range-slider__scale_border