@import '@variables';
@import '@mixins';

.colors-type {
  &__content-wrapper {
    display: flex;
    box-sizing: border-box;
    margin: 0rem auto 10.3571rem;
    padding-top: 0.3571rem;
    padding-left: 0.5rem;
    max-width: 82.8571rem;
  }
}