include ../colors/colors.pug
include ../type/type.pug

mixin colors-type({ colorItems, typeList })
  main.colors-type__content-wrapper
    section.colors__wrapper
      +colors({ colorItems })
    section.type__wrapper
      +type({ typeList })