mixin type( typeList=[] )
  ul.type
    each typeListItem in typeList
      - const typeClassBlock = "type__" + typeListItem.type

      li&attributes({ class: [typeClassBlock] })
        p.type__header #{typeListItem.title}
        p.type__text #{typeListItem.text}