mixin type( typeList=[] )
  -
    const types = ["h1", "h2", "h3", "body"]

  ul.type
    each typeListItem in typeList
      -
        const { type } = typeListItem
        const typeClassBlock = types.includes(type) ? `type__${type}` : ""

      li&attributes({ class: [typeClassBlock] })
        p.type__header #{typeListItem.title}
        p.type__text #{typeListItem.text}