@import '@variables';
@import '@mixins';

.type {
  padding-bottom: 3.7143rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-width: 28.7857rem;
    max-width: 31.1429rem;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    min-width: 2.6429rem;
    font-family: $mainFont;
    font-weight: 400;
    text-transform: capitalize;
    color: $textColor_25;
  }

  &__text {
    display: flex;
    padding-left: 2.1429rem;
    color: $mainTextColor;
  }

  &__h1 {
    @include font-h1;
    display: flex;
  }

  &__h2 {
    @include font-h2;
    display: flex;
    padding-right: 1.4286rem;
  }

  &__h3 {
    @include font-h3;
    display: flex;
    padding-bottom: 3.4286rem
  }

  &__body {
    @include font-body;
    display: flex;
    padding-right: 3.9286rem;
  }
}