mixin type( typeList=[] )
  section.type
    each typeListItem in typeList
      - const typeClassBlock = "type__" + typeListItem.type
      div&attributes({ class: [typeClassBlock] })
        .type__header #{typeListItem.title}
        .type__text #{typeListItem.text}