@import "@variables";
@import "@mixins";

.type {
  display: flex;
  flex-direction: column;
  min-width: 403px;
  max-width: 436px;
  margin: 0 8px 0 0;
  padding: 0;

  &__header {
    display: flex;
    justify-content: flex-end;
    min-width: 37px;
    max-width: 50px;
    margin: 0;
    padding: 1px;
    color: $textColor_25;
    font-weight: 400;
    font-family: $mainFont;
    text-transform: capitalize;
  }

  &__text {
    display: flex;
    margin: 0;
    padding-left: 30px;
    color: $mainTextColor;
  }

  &__h1 {
    @include font-h1;

    display: flex;
    padding-bottom: 52px;
  }

  &__h2 {
    @include font-h2;

    display: flex;
    padding-right: 20px;
    padding-bottom: 52px;
  }

  &__h3 {
    @include font-h3;

    display: flex;
    padding-bottom: 45px;
  }

  &__body {
    @include font-body;

    display: flex;
    padding-right: 55px;
    padding-bottom: 52px;
  }
}
