@import '@variables';
@import '@mixins';

.type {
  padding-bottom: 3.5714rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-width: 403px;
    max-width: 403px;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    min-width: 37px;
    font-family: $mainFont;
    font-weight: 400;
    text-transform: capitalize;
    color: $textColor_25;
  }

  &__text {
    display: flex;
    padding-left: 2.1429rem;
    color: $mainTextColor;
  }

  &__h1 {
    @include font-h1;
    display: flex;
  }

  &__h2 {
    @include font-h2;
    display: flex;
  }

  &__h3 {
    @include font-h3;
    display: flex;
  }

  &__body {
    @include font-body;
    display: flex;
  }
}