@import "@variables";
@import "@mixins";

.carousel {
  position: relative;
  height: 151px;

  &__item img {
    width: 100%;
    height: 151px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }
}

.slick-slider:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 100%;
  background: $gradientForShadow;
  border-radius: $cardsBorderRadius 0 0 0;
  content: "";
}

.slick-slider:hover::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 42px;
  height: 100%;
  background: $gradientForShadow;
  border-radius: 0 0 0 $cardsBorderRadius;
  transform: rotate(180deg);
  content: "";
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  font-size: 0;
  background: transparent;
  border: none;
  outline: none;
  transform: rotate(90deg);
}

.slick-arrow.slick-prev::after {
  width: 42px;
  height: 151px;
  background-color: turquoise;
}

.slick-arrow.slick-prev::before {
  @include font-material-icons;

  color: $arrowColorCarousel;
  visibility: hidden;
  cursor: pointer;
  content: "\e5cf";
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 4px;
  font-size: 0;
  background: transparent;
  border: none;
  outline: none;
  transform: rotate(-90deg);
}

.slick-arrow.slick-next::before {
  @include font-material-icons;

  color: $arrowColorCarousel;
  visibility: hidden;
  cursor: pointer;
  content: "\e5cf";
}

.slick-slider:hover {
  .slick-arrow.slick-prev::before {
    visibility: visible;
  }
  .slick-arrow.slick-next::before {
    visibility: visible;
  }
}

/* Точки (булиты) */
.slick-dots {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  display: flex;
}

.slick-dots li {
  margin: 0 2px;
  list-style: none;
}

.slick-dots li button {
  width: 7px;
  height: 7px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: $dotsBorderCarousel;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: $cardsBackground;
}
