.carousel {
  position: relative;
  height: 151px;

  &__item img{
    width: 100%;
    height: 151px;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
  }
}

.slick-slider:hover:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 100%;
  border-radius: 4px 0 0 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  z-index: 5;
}

.slick-slider:hover:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 100%;
  border-radius: 0px 0 0 4px;
  transform: rotate(180deg);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  z-index: 5;
}

.slick-slider:hover{
  .slick-arrow.slick-prev::before{
    visibility: visible;
  }
  .slick-arrow.slick-next::before{
    visibility: visible;
  }
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track{
  display: flex;
}

/* Стрелка */
.slick-arrow{
  position: absolute;
  top: 40%;
  z-index: 10;
}

/* Стрелка влево */
.slick-arrow.slick-prev{
  left: 0px;
  background: transparent;
  font-size: 0;
  transform: rotate(90deg);
  border: none;
  outline: none;
}

.slick-arrow.slick-prev::after{
  width: 42px;
  height: 151px;
  background-color: turquoise;
}

.slick-arrow.slick-prev::before{
  visibility: hidden;
  content: '\e5cf';
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
}

/* Стрелка вправо */
.slick-arrow.slick-next{
  right: 4px;
  background: transparent;
  font-size: 0;
  transform: rotate(-90deg);
  border: none;
  outline: none;
}

.slick-arrow.slick-next::before{
  visibility: hidden;
  content: '\e5cf';
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}

/* Точки (булиты) */
.slick-dots{
  display: flex;
  position: absolute;
  right: 13px;
  bottom: 4px;
  z-index: 10;
}

.slick-dots li{
  list-style: none;
  margin: 0 2px;
}

.slick-dots li button{
  padding: 0;
  font-size: 0;
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  cursor: pointer;

}

/* Активная точка */
.slick-dots li.slick-active button{
  background-color: #fff;
}