mixin carousel({ images=[], options={} })
  - const carouselOptions = JSON.stringify(options)

  .carousel.js-carousel(data-options=`${carouselOptions}`)
    each imageName in images
      .carousel__item
        a(class="carousel__link" href="./room-details-page.html")
          img(class="carousel__image" src=require(`../../pages/search-room-page/images/${imageName}`) alt="room photo")