mixin carousel({ images=[] })
  .carousel
    each image in images
      .carousel__item
        a(href="./room-details.html")
          img(src=require(`../components/carousel/image/${image.name}`).default)