mixin carousel( images=[] )
  .carousel.js-carousel
    each imageName in images
      .carousel__item
        a(href="./room-details-page.html")
          img(src=require(`../../pages/search-room-page/images/${imageName}`).default alt="room photo")