mixin carousel({ images=[] })
  .carousel.js-carousel
    each image in images
      .carousel__item
        a(href="./room-details-page.html")
          img(src=require(`../components/carousel/image/${image.name}`).default alt="room photo")