mixin carousel()
  .carousel
    .carousel__item
      img(src=require(`../carousel/image/room-img-1.png`).default)
    .carousel__item
      img(src=require(`../carousel/image/room-img-2.png`).default)
    .carousel__item
      img(src=require(`../carousel/image/room-img-3.png`).default)
    .carousel__item
      img(src=require(`../carousel/image/room-img-4.png`).default)