@import '@variables';
@import '@mixins';

.carousel {
  position: relative;
  height: 151px;

  &__item img {
    width: 100%;
    height: 151px;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
  }
}

.slick-slider:hover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 42px;
  height: 100%;
  border-radius: $cardsBorderRadius 0 0 0;
  background: $gradientForShadow;
}

.slick-slider:hover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 42px;
  height: 100%;
  border-radius: 0 0 0 $cardsBorderRadius;
  transform: rotate(180deg);
  background: $gradientForShadow;
}

.slick-slider:hover {
  .slick-arrow.slick-prev::before {
    visibility: visible;
  }
  .slick-arrow.slick-next::before {
    visibility: visible;
  }
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  transform: rotate(90deg);
  background: transparent;
  font-size: 0;
  border: none;
  outline: none;
}

.slick-arrow.slick-prev::after {
  width: 42px;
  height: 151px;
  background-color: turquoise;
}

.slick-arrow.slick-prev::before {
  @include font-material-icons;
  content: '\e5cf';
  visibility: hidden;
  z-index: 10;
  color: $arrowColorCarousel;
  cursor: pointer;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 4px;
  background: transparent;
  font-size: 0;
  transform: rotate(-90deg);
  border: none;
  outline: none;
}

.slick-arrow.slick-next::before {
  @include font-material-icons;
  content: '\e5cf';
  visibility: hidden;
  z-index: 10;
  color: $arrowColorCarousel;
  cursor: pointer;
}

/* Точки (булиты) */
.slick-dots {
  display: flex;
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 10;
}

.slick-dots li {
  list-style: none;
  margin: 0 2px;
}

.slick-dots li button {
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  padding: 0;
  font-size: 0;
  border: $dotsBorderCarousel;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: $cardsBackground ;
}
