@import "@variables";
@import "@mixins";

.checkbox {
  min-width: 266px;
  max-width: 266px;

  &__list {
    display: none;
    margin: 0;
    padding: 12px 0 0 0;

    &_opened {
      display: block;
    }
  }

  &__dropdown {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:focus-within {
      outline: none;
      box-shadow: 2px 2px 2px $designColor_main;
    }

    & + .checkbox__list {
      padding-top: 9px;
    }
  }

  &__dropdown-title {
    margin: 0;
    color: $mainTextColor;
    font: 700 12px/15px $mainFont;
    text-transform: uppercase;
  }

  &__dropdown-arrow-up {
    &::before {
      @include font-material-icons;

      padding-right: 10px;
      color: $textColor_50;
      line-height: 15px;
      content: "\e5ce";
    }
  }
  &__dropdown-arrow-down {
    &::before {
      @include font-material-icons;

      padding-right: 10px;
      color: $textColor_50;
      line-height: 15px;
      content: "\e5cf";
    }
  }

  &__title {
    &_font_bold {
      color: $textColor_75;
      font-weight: bold;
    }
  }

  &__item {
    display: block;
    box-sizing: content-box;
    min-height: 20px;
    margin-left: 30px;
    padding-bottom: 10px;
    color: $textColor_50;

    &:last-child {
      padding-bottom: 0;
    }

    &:hover {
      color: $textColor_75;
    }

    &:focus-within {
      color: $textColor_75;
    }
  }

  &__item-container {
    cursor: pointer;
  }

  &__box {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    background-color: #fff;
    border: $mainBorder;
    border-radius: 4px;

    &:hover {
      box-shadow: 3px 3px 2px $designColor_main;
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:focus-within + .checkbox__box {
      box-shadow: 3px 3px 2px $designColor_main;
    }

    &:checked + .checkbox__box {
      border-color: $designColor_main;
    }

    &:checked + .checkbox__box::after {
      position: absolute;
      top: 4px;
      left: 6px;
      width: 6px;
      height: 8px;
      border-style: solid;
      border-width: 0 2px 2px 0;
      -webkit-border-image: $mainGradient;
      -moz-border-image: $mainGradient;
      border-image: $mainGradient;
      border-image-slice: 1;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
    }
  }

  &__description {
    display: inline-block;
    margin-top: 5px;
    color: $textColor_50;
    font: 400 12px/14px $mainFont;
  }
}
