@import '@variables';
@import '@mixins';

.checkbox {
  min-width: 19rem;
  max-width: 19rem;

  &__header {
    @include font-h3;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2143rem;
    cursor: pointer;

    &_arrow-up {
      &::before {
        @include font-material-icons;
        content: '\e5ce';
        line-height: 1.0714rem;
        padding-right: 0.7143rem;
        color: $textColor_50;
      }
    }
    &_arrow-down {
      &::before {
        @include font-material-icons;
        content: '\e5cf';
        line-height: 1.0714rem;
        padding-right: 0.7143rem;
        color: $textColor_50;
      }
    }
  }

  &__title {
    font-weight: inherit;
  }

  &__item {
    display: block;
    min-height: 1.4286rem;
    margin-left: 2.1429rem;
    padding-bottom: 0.7143rem;
    box-sizing: content-box;
    color: $textColor_50;
    cursor: pointer;

    &:last-child {
      padding-bottom: 0;
    }

    &:hover {
      color: $textColor_75;
    }

    &:focus-within {
      color: $textColor_75;
    }
  }

  &__input {
    position: absolute;
    width: 0.0714rem;
    height: 0.0714rem;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .checkbox__box {
      border-color: $designColor_main;
    }

    &:checked + .checkbox__box::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 6px;
      width: 6px;
      height: 8px;
      box-sizing: border-box;
      border-style: solid;
      border-width: 0 2px 2px 0;
      -webkit-border-image: $mainGradient;
      -moz-border-image: $mainGradient;
      border-image: $mainGradient;
      border-image-slice: 1;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &__box {
    box-sizing: border-box;
    position: absolute;
    width: 1.4286rem;
    height: 1.4286rem;
    margin-left: -2.1429rem;
    border-radius: 0.2857rem;
    background-color: #fff;
    border: $mainBorder;
  }

  &__title_rich {
    font-weight: bold;
    color: $textColor_75;
  }

  &__description_rich {
    display: inline-block;
    margin-top: 5px;
    color: $textColor_50;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
}
