@import '@variables';
@import '@mixins';

.bullet-list {
  width: 266px;
  list-style: none;

  &__item {
    @include font-body;

    display: flex;
    align-items: baseline;
    padding-top: 10px;
    text-transform: none;

    &:first-child {
      padding-top: 0px;
    }
  }

  &__item::before {
    content: '';
    display: inline-block;
    min-height: 10px;
    min-width: 10px;
    margin-right: 11px;
    border-radius: 50%;
    background: $textColor_25;
  }
}
