block variables

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title #{title}
		link(rel='shortcut icon' href='../src/favicon/Colorlogo.svg')
		block head
	block content
	