@import '@variables';

.footer {
  box-sizing: border-box;
  display: flex;
  padding: 7.1429rem 9rem 7.1429rem 10rem;

  @media (max-width: 1280px) {
    justify-content: space-around;
  }

  &__wrapper {
    box-sizing: border-box;
    background-color: #fff;

    &_border {
      border-top: 1px solid $textColor_25;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__container {
    max-width: 102.8571rem;
    min-width: 22.8571rem;
    margin: 0px auto;
  }

  &__links {
    min-width: 40rem;
    display: flex;
    margin-left: 2.8571rem;
    flex-basis: 10.7143rem;
    justify-content: space-between;
    padding-top: 0.2857rem;
    transition: all 0.3s;

    @media (max-width: 1280px) {
      display: none;
    }

    &_column {
      min-width: 11.4286rem;
    }
  }

  & .subscribe {
    margin-left: auto;
  }

  &__award {
    padding-top: 0.9286rem;
    max-width: 18.5714rem;
    margin: 0;
    font-size: 1rem;
    line-height: 1.7143rem;
    color: $textColor_75;
  }
  &__bottom {
    border-top: 1px solid rgba(31, 32, 65, 0.1);
    box-shadow: 0px 10px 20px $textColor_5;

    &_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.6071rem 0rem;
      padding-left: 10rem;
      padding-right: 9rem;

      @media (max-width: 1280px) {
        justify-content: space-around;
      }
    }
  }

  &__copyright-text {
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 1.2143rem;
    color: $textColor_75;
  }

  &__social {
    padding-right: 0.1429rem;
  }
}
