.bar__button
	form.bar__button_login_back
		button(type='submit').bar__button_login_front.bar__button_text.bar__button_login_color LOGIN
	form
		button(type='submit').bar__button_register.bar__button_text.bar__button_reg_color REGISTER
