

.content-wrapper_form-elements{
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 320px);
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1160px;
  min-width: 1160px;
}
.form__header{ 		//form__text-field_wrap_large
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.form__text-field_s{		//form__text-field_wrap_s
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 50% 50%;
  width: 321px;
  height: 67px;
}


.form__title{
  margin: 0%;
  padding: 0%;
  // align-self: center;
  padding: 1px 0 0px 1px;
  // font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: $mainTextColor;
}



.form__description{
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: $textColor_50;
}

//---------------------------------
// .wrap__checkbox{
//   display: grid;
// }
// .wrap__radio-buttons{
// 	display: grid;
// }