.content-wrapper_form-elements{
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 320px);
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1160px;
  min-width: 1160px;
}
.form__header{ 		//form__text-field_wrap_large
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.form__text-field_s{		//form__text-field_wrap_s
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 50% 50%;
  width: 321px;
  height: 67px;
}

.text-field__input_size_large{
  width: 320px;
}
.text-field__input_size_m{
  width: 266px;
}
.text-field__input_size_s{
  width: 150px;
}
.form__title{
  margin: 0%;
  padding: 0%;
  // align-self: center;
  padding: 1px 0 0px 1px;
  // font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: $mainTextColor;
}
.text-field__input_wrapper{
  grid-column: 1/3;
  align-self: end;
  padding-left: 1px;
}
// .text-field__input_wrapper_s{
// 	grid-column: 2/3;
// 	align-self: end;
// 	padding-left: 1px;
// }
.text-field__input {
  box-sizing: border-box;
  padding: 0 0px 0 14px;
  height: 44px;
  border: $mainBorder;
  border-radius: 4px;
  font-family: $mainFont;
  font-size: $mainFont_size;
  line-height: 18px;
}
.text-field__input:hover{
  border: $focusBorder;
} 
.text-field__input:focus{
  border: $focusBorder;
} 
.form__description{
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: $textColor_50;
}
.text-field__input_hover{
  border: $focusBorder;
}
//---------------------------------
.wrap__checkbox{
  display: grid;
}
// .wrap__radio-buttons{
// 	display: grid;
// }


