extends ../../blocks/main.pug

block variables 
	- var title = "Form Elements"
	- var description = ""
	- var keywords = ""

block content
	body.body-wrapper
		header 
			include ../../basis/header_uikit/header_uikit.pug
		main.content-wrapper_form-elements
			label.text-field__wrapper
				.text-field__name TEXT FIELD
				.text-field__description DEFAULT
				.text-field__input
					input(type="Email" placeholder="Email")
		footer 
			include ../../basis/footer_uikit/footer_uikit.pug