extends ../../blocks/main.pug

block variables 
	- var title = "Form Elements"
	- var description = ""
	- var keywords = ""

block content
	body.body-wrapper
		header 
			include ../../basis/header_uikit/header_uikit.pug
		main
			include ../../basis/standart-bar/standart-bar.pug
		footer 
			include ../../basis/footer_uikit/footer_uikit.pug