@font-face {
	font-family: 'Quicksand';
	src: url('fonts/Quicksand-Bold.eot');
	src: local('☺'), url('fonts/Quicksand-Bold.woff') format('woff'), url('fonts/Quicksand-Bold.ttf') format('truetype'), url('fonts/Quicksand-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
	display: grid;
	justify-content: start;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	line-height: 29px;
}

/*Rectangle start*/
.rectangle {
	position: absolute;
	width: 70px;
	height: 70px;
	left: 150px;
	top: 145px;
}

.rectangle__designation {
	position: absolute;
	width: 159px;
	height: 57px;
	left: 260px;
	top: 152px;
	color: #1F2041;
}

.rectangle__color_dark_100 {
	background: #1F2041;
	border-radius: 6px;
}
/*Rectangle end*/

.logo {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 30px;
	top: 30px;
	border-radius: 50%;
}





