.footer-creative__wrapper
	.footer-creative
		.footer-creative__logo
			include ../bar/bar__logo/logo.pug
		p.footer-creative__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
		.bar__sochial 
			a(href='#'): i.fab.fa-twitter.gradient
			a(href='#'): i.fab.fa-facebook-square.gradient
			a(href='#'): i.fab.fa-instagram.gradient