include ../../blocks/links/links.pug
include ../../blocks/subscribe/subscribe.pug
include ../../blocks/copyright/copyright.pug
include ../../blocks/logo/logo.pug

.footer-widgets__wrapper
  .footer-widgets 
    .footer-widgets__logo
      +logo({ type: "colorWithText", width: "105px"})
      p.foorer-widgets__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .links__wrapper
      +links({ title: "навигация", linksList: [
        { name: "О нас", url: "#"},
        { name: "Новости", url: "#"},
        { name: "Служба поддержки", url: "#"},
        { name: "Услуги", url: "#"},
      ]})
      +links({ title: "О нас", linksList: [
        { name: "О сервисе", url: "#"},
        { name: "Наша команда", url: "#"},
        { name: "Вакансии", url: "#"},
        { name: "Инвесторы", url: "#"},
      ]})
      +links({ title: "Служба поддержки", linksList: [
        { name: "Соглашение", url: "#"},
        { name: "Сообщества", url: "#"},
        { name: "Связь с нами", url: "#"},
      ]})
    +subscribe({ title: "Подписка", text: "Получайте специальные предложения и новости сервиса"})
  +copyright({text: "Copyright © 2018 Toxin отель. Все права зачищены."})
