.footer-widgets__wrapper {
	height: 443px;
		box-sizing: border-box;
}
.footer-widgets {
	display: flex;
	height: 372px;
	justify-content: space-between;
	padding: 0px 140px 0px;
	background-color: #fff;
} 
.footer-widgets__logo{
	height: 156px;
	width: 260px;
}
.foorer-widgets__description {
	font-size: 14px;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.75);
}
/*-----------------------------------------------------------------*/
.subscribe h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #1F2041;
}
.subscribe p {
line-height: 24px;
width: 200px;
height: 48px;
color: rgba(31, 32, 65, 0.75);
}

.subscribe input {
	width: 260px;
	border: 1px solid rgba(31, 32, 65, .25);
	background: #fff;
	border-radius: 4px;
	padding-left: 14px;
	padding-bottom: 3px;
		font-family: Montserrat;
	font-size: 14px;
	color: rgba(31, 32, 65, .25)
}
.subscribe form {
	position: relative;
}
.subscribe input,button{
		height: 44px;
		box-sizing: border-box;
}
.subscribe button {
	border: 1px solid rgba(31, 32, 65, 0.25);
	width: 44px;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 0 4px 4px 0;
	border-left: none;
	cursor: pointer;
}

.subscribe__email_entry_icon {
	display: flex;
	align-items: center;
	text-align: center;
}
