.footer-widgets__wrapper {
	height: 443px;
	box-sizing: border-box;
}
.footer-widgets {
	display: flex;
	height: 372px;
	justify-content: space-between;
	padding: 0px 140px 0px;
	background-color: #fff;
} 
.footer-widgets__logo{
	height: 156px;
	width: 260px;
}
.foorer-widgets__description {
	font-size: 14px;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.75);
}
/*-----------------------------------------------------------------*/
.subscribe h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #1F2041;
}
.subscribe p {
	line-height: 24px;
	width: 200px;
	height: 48px;
	color: rgba(31, 32, 65, 0.75);
}

.subscribe input {
	font-size: 14px;
	line-height: 24px;
	width: 260px;
	border: 1px solid rgba(31, 32, 65, .25);
	background: #fff;
	border-radius: 4px;
	padding-left: 14px;
	padding-bottom: 3px;
	color: rgba(31, 32, 65, .25)
}
.subscribe form {
	position: relative;
}
.subscribe input,button{
		height: 44px;
		box-sizing: border-box;
}
.subscribe button {
	border: 1px solid rgba(31, 32, 65, 0.25);
	width: 44px;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 0 4px 4px 0;
	border-left: none;
	cursor: pointer;
}
.subscribe__email_entry_icon {
	display: flex;
	align-items: center;
	text-align: center;
}
/*________________________*/
.bar__copyright {
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.75);
}
.bar__sochial {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	min-width: 112px;
	max-width: 112px;
}
.bar__logo_top-line {
	box-sizing: border-box;
	border-top: 1px solid rgba(31, 32, 65, 0.1);
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.bar__sochial i::before {
	font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
	font-style: normal;
	font-weight: normal;
	width: 24px;
	height: 24px;
	font-size: 24px;
	line-height: 23px;
	display: block;
}
/*---------------------------------------*/
.footer-creative__wrapper {
	height: 367px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	background-color: #fff;
}
.footer-creative {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	padding: 97px 0px 0px 5px;
	align-items: center;
	height: 372px;
} 
.footer-creative__logo{
	height: 40px;
	width: 105.59px;
	padding: 0 0 20px 0;
}
.footer-creative__description {
	margin: 0;
	padding: 0 0px 29px 0;
	max-width: 560px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: rgba(31, 32, 65, 0.75);
}
