.footer-widgets__wrapper
	.footer-widgets 
		.footer-widgets__logo
			include ../bar/bar__logo/logo.pug
			p.foorer-widgets__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
		include ../../blocks/link/link-navigation.pug
		include ../../blocks/link/link-aboutUs.pug
		include ../../blocks/link/link-support.pug