mixin toggle({ title="", checked=false } = {})
  label.toggle
    .toggle__container
      input&attributes({
        class: "toggle__input js-toggle__input",
        type: "checkbox",
        name: title,
        checked: checked
      })
      span.toggle__box
      span.js-toggle-title.toggle__title #{title}