.bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 140px 0px;
	height: 70px;
	background-color: #fff;
	// margin-bottom: 40px;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.bar__logo_standart {
	margin-right: 269px;
}
