.bar.bar__logo_top-line
	.bar-wrapper
		.bar__copyright Copyright © 2018 Toxin UI Kit. All rights reserved
		.bar__sochial 
			a(href='#'): i.fab.fa-twitter.gradient
			a(href='#'): i.fab.fa-facebook-square.gradient
			a(href='#'): i.fab.fa-instagram.gradient