@import 'fonts/fonts.scss';
// @import 'basic/null.scss';
@import 'blocks/header_gray/header_gray.scss';
@import 'blocks/colors/colors.scss';
// @import 'blocks/colors_type/colors-type.scss';

.body-wrapper {
	display: block;
	margin: 0px;
}

.content-wrapper {
	display: flex;
	margin: 0px auto auto 145px;
	padding-top: 5px;
	max-width: 1160px;
	width: 80.55556%;
}