/*variables*/
//colors
$mainTextColor: #1F2041;
$textColor_75: rgba(31, 32, 65, 0.75);
$textColor_50: rgba(31, 32, 65, 0.50);
$textColor_25: rgba(31, 32, 65, 0.25);
$textColor_5: rgba(31, 32, 65, 0.05);
$designColor_main: #BC9CFF;
$designColor_second: #6FCF97;
$mainGradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$mainGradientTransperent: linear-gradient(180deg, rgba(#BC9CFF, 0.5) 0%, rgba(#8BA4F9, 0.5) 100%);
$mainGradientTransperent_25: linear-gradient(180deg, rgba(#BC9CFF, 0.25) 0%, rgba(#8BA4F9, 0.25) 100%);

// Fonts
$mainFont: Montserrat, Areal, san-serif;
$secondFont: Quiqksand, Areal, san-serif; 
$mainFont_size: 14px;


//borders
$mainBorder: 1px solid rgba(31, 32, 65, 0.25);
$colorBorder: 1px solid $designColor_main;
$focusBorder: 1px solid rgba(31, 32, 65, 0.5); 
$redBorder: 1px solid red;

@import 'fonts/fonts.scss';
@import 'basis/header_uikit/header_uikit.scss';
@import 'pages/colors_type/colors_type.scss';
@import 'pages/headers_footers/headers_footers.scss';
@import 'blocks/colors/colors.scss';
@import 'blocks/type/type.scss';
@import 'basis/footer_uikit/footer_uikit.scss';
@import 'basis/standart-bar/standart-bar.scss';
@import 'basis/bar/bar__navigation/navigation.scss';
@import 'basis/bar/bar__logo/logo.scss';
@import 'blocks/user_form/entry-button.scss';
@import 'basis/logged-bar/logged-bar.scss';
@import 'basis/footer-widgets/footer-widgets.scss';
@import 'blocks/link/link.scss';
@import 'basis/footer-creative/footer-creative.scss';
@import 'basis/bar/bar__sochial/sochial.scss';
@import 'blocks/subscribe/subscribe.scss';
@import 'pages/cards/cards.scss';
@import 'pages/form_elements/form_elements.scss';
@import 'blocks/checkbox/checkbox.scss';
@import 'blocks/radio/radio.scss';
@import 'blocks/toggle/toggle.scss';
@import 'blocks/button/button.scss';
@import 'blocks/like/like.scss';
@import 'blocks/rating/rating.scss';
@import 'blocks/range-slider/range-slider.scss';
@import 'blocks/bullet-list/bullet-list.scss';
@import 'blocks/dropdown/dropdown.scss';
@import 'blocks/mask/mask.scss';
@import 'blocks/air-datepicker/air-datepicker.scss';
@import 'blocks/dignity-room/dignity-room.scss';

.body-wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
main { 
    flex-grow: 1;
  }
}

body {
  box-sizing: border-box;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: $mainFont_size;
}

a {
  color: $textColor_50;
  text-decoration: none;
}
input:focus{
  outline: none;
    border: $focusBorder;
} 
.gradient {
  background: $mainGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.border {
  border: $redBorder;
}

