@import 'fonts/fonts.scss';
@import 'blocks/header_uikit/header_uikit.scss';
@import 'pages/colors_type/colors_type.scss';
@import 'blocks/colors/colors.scss';
@import 'blocks/type/type.scss';
@import 'blocks/footer_uikit/footer_uikit.scss';

.body-wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
  }
}