include ../heading/heading.pug
include ../pagination/pagination.pug
include ../room-review-widget/room-review-widget.pug

mixin room-selection({ title, widgets })
  .room-selection
    +heading({ level: "h1", title: title })
    ul.room-selection__widgets-list
      each widget in widgets
        li.room-selection__widgets-item
          +room-review-widget(widget)
    .room-selection__pagination
      +pagination({
        dataSource: [1, 2, 3, 4, 5],
        showNavigator: true,
        formatNavigator: '<span><%= currentPage %></span> – 12 из 100+ вариантов аренды',
      })