@import '@variables';
@import '@mixins';

.room-selection {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &__widgets-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
    padding: 22px 0 40.5px 0;
    max-width: 834px;
    list-style: none;

    @media (max-width: 1280px) {
      grid-template-rows: repeat(3, 1fr);
    }
  }
}
