@import '@variables';

.headers-footers {
  &__wrapper {
    background: $uiKitPagesBackground;
  }

  &__header_sing-in {
    margin-bottom: 2.8571rem;
  }
  &__header_logged {
    margin-bottom: 2.8571rem;
  }
}