@import '@variables';
@import '@mixins';

.start-page {
  flex: 1 0 auto;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: space-around;
    min-height: 80px;
    padding: 30px 100px 0 100px;
    font: 700 1.3571rem/23px $mainFont;

    @media (max-width: 840px) {
      padding: 30px 0 0 0;
    }

    @media (max-width: 659px) {
      display: none;
    }
  }

  &__header-text {
    @include text-gradient-fill($mainGradient);

    display: flex;
    align-items: center;
    font-size: 30px;
  }

  &__toggle {
    display: flex;
    justify-content: flex-end;
    padding: 20px 50px;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    padding-top: 5vh;
    padding-left: 50px;
  }

  &__menu {
    padding-top: 20px;
  }
}
