include ../components/header/header.pug
include ../components/footer/footer.pug

block variables
  -
    const description = "Отель Toxin в самом центре приглашает остановиться в одном из уютных номеров. Отличный вид, просторная закрытая парковка. Онлайн-бронирование"
    const keywords = "жильё, проживание, Отель, Отели, специальные предложения, пакеты услуг, предложения на выходные со скидками, специальные предложения."

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png")
    link(rel="manifest" href="./assets/favicon/site.webmanifest")
    link(rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")

  body
    .page-wrapper
      block header
        +header({
        logo: { type: "colorWithText" },
        navigationList: [
              { name: "О нас", url: "./error-page.html", active: true },
              { 
                name: "Услуги",
                dropdown: true,
                subMenuItems: [
                    { name: "Работа или отдых", url: "./error-page.html" },
                    { name: "Мероприятия", url: "./error-page.html" },
                    { name: "Размещение животных", url: "./error-page.html" },
                    { name: "Бесплатная отмена", url: "./error-page.html" },
                ]
              },
              { name: "Вакансии", url: "./error-page.html" },
              { name: "Новости", url: "./error-page.html" },
              { 
                name: "Соглашения",
                dropdown: true,
                subMenuItems: [
                    { name: "Общие положения", url: "./error-page.html" },
                    { name: "Условия пользования", url: "./error-page.html" },
                    { name: "Гарантии пользователя", url: "./error-page.html" },
                    { name: "Уведомления и рассылка", url: "./error-page.html" },
                ]
              },
        ],
        buttonEntry: "войти",
        buttonRegister: "зарегистрироваться",
      })
      .page-content
        block content

      block footer
        +footer({
          border: true,
          logo: { type: "colorWithText" },
          footerText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
          footerNavigation: {
            column1: {
              title: "навигация", 
              linksList: [
                { name: "О нас", url: "./error-page.html" },
                { name: "Новости", url: "./error-page.html" },
                { name: "Служба поддержки", url: "./error-page.html" },
                { name: "Услуги", url: "./error-page.html" },
              ]
            },
            column2: {
              title: "О нас", 
              linksList: [
                { name: "О сервисе", url: "./error-page.html" },
                { name: "Наша команда", url: "./error-page.html" },
                { name: "Вакансии", url: "./error-page.html" },
                { name: "Инвесторы", url: "./error-page.html" },
              ]
            },
            column3: {
              title: "Служба поддержки", 
              linksList: [
                { name: "Соглашение", url: "./error-page.html" },
                { name: "Сообщества", url: "./error-page.html" },
                { name: "Связь с нами", url: "./error-page.html" },
              ]
            },
          },
          subscribe: {
            title: "Подписка",
            text: "Получайте специальные предложения и новости сервиса"
          },
          copyright: "Copyright © 2018 Toxin отель. Все\u00A0права\u00A0защищены.",
          social: { 
            socialLinks: [
              { title: "twitter", link: "https://twitter.com" },
              { title: "facebook", link: "https://facebook.com" },
              { title: "instagram", link: "https://instagram.com" },
            ]
          },
        })