include ../components/ui-kit-header/ui-kit-header.pug
include ../components/ui-kit-footer/ui-kit-footer.pug

block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png")
    link(rel="manifest" href="./assets/favicon/site.webmanifest")
    link(rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")

  body
    .page-wrapper
      block header
        +ui-kit-header()
      block content

    block footer
      +ui-kit-footer({ 
        footerLinks: [
          { link: "ui-kit-colors-type", name: "Colors & Type" },
          { link: "ui-kit-headers-footers", name: "Headers & Footers" },
          { link: "ui-kit-form-elements", name: "Form Elements" },
          { link: "ui-kit-cards", name: "Cards" },
          { link: "landing-page", name: "Landing page" },
        ]
      })