.header {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__container {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
  }
  
  &__body {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(31,32,65,.5);
    padding: 15px 140px 15px;

    @media (max-width: 1280px) {
      padding: 15px 30px 15px;
    }

    @media (max-width: 480px) {
      padding: 12px 30px 12px;
    }
  }

  &__menu-burger {
    display: none;

    @media (max-width: 960px) {
      display: block;
      position: relative;
      width: 38px;
      height: 38px;

      .header__menu-burger_line {
        position: absolute;
        background-color: $designColor_main;
        left: 0;
        width: 100%;
        height: 2px;
        top: 18px;
      }

      &::after,
      &::before {
        content: '';
        background-color: $designColor_main;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0; 
      }
      &::before {
        top: 0;
      }    
      &::after {
        bottom: 0;
      }    
    }
    

  }


  &__menu {
    display: flex;
    align-items: center;
    @media (max-width: 960px) {
      display: none;
    }
  }

  &__login {
    display: flex;

  }
  &__login_entry {
     margin-right: 20px;
  }

  &__logged {
    border-left: $mainBorder;
    padding-left: 20px;
    padding: 6px 0 6px 20px;
  }
}