.header {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  
  &__content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(31,32,65,.5);
    padding: 15px 140px 15px;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__login {
    display: flex;

  }
  &__login_entry {
     margin-right: 20px;
  }

  &__logged {
    border-left: $mainBorder;
    padding-left: 20px;
    padding: 6px 0 6px 20px;
  }
}