@import '@variables';
@import '@mixins';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
}

.text-field {
  position: relative;
  border: $mainBorder;
  border-radius: $mainBorderRadius;
  box-sizing: border-box;

  &__size {
    &_medium {
      width: 266px;
    }
    &_small {
      width: 150px;
    }
  }

  &__arrow {
    &_down {
      position: absolute;
      top: 10px;
      right: 10px;

      &::before {
        @include font-material-icons;
        content: '\e5cf';
        color: $textColor_50;
        cursor: pointer;
      }
    }
  }

  &__subscribe_button {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 3.1429rem;
    border: none;
    border-left: none;
    border-radius: 0 0.2857rem 0.2857rem 0rem;
    outline: none;

    &::before {
      @include font-material-icons;
      content: '\e5c8';
      cursor: pointer;
    }
  }

  &__input {
    @include font-body;
    width: 100%;
    height: 3rem;
    padding: 0 0rem 0 1rem;
    box-sizing: border-box;
    border: none;
    border-radius: $mainBorderRadius;
    cursor: pointer;
    text-overflow: ellipsis;
    outline: none;

    &:focus {
      border: none;
    }

    &::placeholder {
      color: $textColor_25;
    }

    &_lowercase {
      text-transform: lowercase;
    }

    &_placeholder_dark-75 {
      &::placeholder {
        color: $textColor_75;
      }
    }
  }

  &__subscribe {
    width: 266px - $inputHeight;
  }

  &_hover {
    border: $focusBorder;
    & .text-field__input {
      border: none;
    }
    & .text-field__input::placeholder {
      letter-spacing: -0.18px;
      color: $textColor_75;
    }
    & .text-field__input {
      padding-bottom: 0.1429rem;
      color: $textColor_75;
    }
  }

  &:hover,
  &:focus-within {
    border: $focusBorder;
    
    & .text-field__input::placeholder {
      color: $textColor_75;
    }
  }
}