mixin text-field({ classList=[], type="", placeholder="", size="", name="", autocomplete="off", spellcheck=false, subscribe=false, arrow=false})

  -
    const mainTextFieldClass = "text-field__input"
    classList.push(mainTextFieldClass)
    const sizeTextFieldClass = `text-field__size_${size}`
    const hoverTextFieldClass = classList.includes("text-field_hover") ? "text-field_hover" : ""

    let inputAttributes = {
      class: classList,
      type: type,
      name: name,
      autocomplete: autocomplete,
      placeholder: placeholder,
      spellcheck: spellcheck
    }
  .text-field(class=[hoverTextFieldClass, sizeTextFieldClass])
    input&attributes(inputAttributes)
    if arrow
      div(class="text-field__arrow_down")&attributes({"data-type": "arrow", onmousedown: "return false"})
    if subscribe
      button&attributes({
        class: ["text-field__subscribe_button", "gradient"],
        type: "button",
        name: "subscribe"
      })