@import "@variables";

.room-dignities {
  &__item {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 16px;
  }

  &__icon-wrapper {
    padding-top: 4px;
  }

  &__icon {
    display: inline-block;
    font: 48px/41px "Material Icons", sans-serif;

    &_type {
      &_mood::before {
        content: "\e7f2";
      }
      &_location-city::before {
        content: "\e7f1";
      }
      &_whatshot::before {
        content: "\e80e";
      }
    }

    &_color_purple-gradient {
      background: $mainGradient;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48px;
    padding-left: 10px;
    color: rgba(31, 32, 65, 0.75);
    font-size: 14px;
    line-height: 24px;
  }

  &__title {
    font-weight: bold;
  }

  &__subtitle {
    font-weight: normal;
  }

  &__line {
    height: 1px;
    margin: 0;
    color: rgba(31, 32, 65, 0.1);
    background-color: rgba(31, 32, 65, 0.1);
    border: none;
  }
}
