
.room-review-card {
  max-width: 270px;
  max-height: 257.5px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
  &__info {
    padding: 18px 17px 19px 20px;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    & .room-number__value {
      font-size: 20px;
    }
  }

  &__border {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    padding-top: 7px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
  }
}

/*------------- ROOM REVIEW------------*/
.room-data {

  &__price_value {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    color: $textColor_50;
  }
  &__price_text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $textColor_50;
    padding-left: 5px;
  }
}