include ../carousel/carousel.pug
include ../room-number/room-number.pug
include ../rating/rating.pug

mixin room-review-card()
  .room-review-card
    .room-review-card__image
      +carousel({ 
        images: [
          { name: "room-img-1.png"},
          { name: "room-img-2.png"},
          { name: "room-img-3.png"},
          { name: "room-img-4.png"},
        ] 
      })
    .room-review-card__info
      .room-review-card__data
        +room-number({ symbol: "№", value: "888", text: "люкс" })
        .room-data__price
          span.room-data__price_value 9 990₽
          span.room-data__price_text в сутки
      .room-review-card__border
      .room-review-card__rating
        +rating({ rating: 5 })
        +comment-count({ value: "145", text: "Отзывов"})
