include ../carousel/carousel.pug
include ../room-number/room-number.pug
include ../rating/rating.pug
include ../comment-count/comment-count.pug
include ../room-price/room-price.pug

mixin room-review-card({ images=[], roomNumber={}, roomPrice={}, rating={}, commentCount={} })
  .room-review-card
    .room-review-card__image
      +carousel({ images })
    .room-review-card__info
      .room-review-card__data
        +room-number(roomNumber)
        .room-review-card__price
          +room-price(roomPrice)
      .room-review-card__border
      .room-review-card__rating
        +rating(rating)
        +comment-count(commentCount)
