include ../carousel/carousel.pug
include ../rating/rating.pug

mixin room-review-card()
  .room-review-card
    +carousel({ 
      images: [
        { name: "room-img-1.png"},
        { name: "room-img-2.png"},
        { name: "room-img-3.png"},
        { name: "room-img-4.png"},
      ] 
    })
    .room-review__data
      .room-data
        .room-data__number
          span.room-data__number_symbol №
          span.room-data__number_value 888
          span.room-data__number_text люкс
        .room-data__price
          span.room-data__price_value 9 990₽
          span.room-data__price_text в сутки
      .room-review__border
      .room-review__rating
        +rating({ rating: 5 })
        .room-review__reviews-counter
          span.room-review__reviews-counter_value 145
          span.room-review__reviews-counter_text Отзывов