include ../carousel/carousel.pug
include ../room-number/room-number.pug
include ../rating/rating.pug

mixin room-review-card()
  .room-review-card
    +carousel({ 
      images: [
        { name: "room-img-1.png"},
        { name: "room-img-2.png"},
        { name: "room-img-3.png"},
        { name: "room-img-4.png"},
      ] 
    })
    .room-review-card__data
      .room-data
        +room-number({ symbol: "№", value: "888", text: "люкс" })
        .room-data__price
          span.room-data__price_value 9 990₽
          span.room-data__price_text в сутки
      .room-review-card__border
      .room-review-card__rating
        +rating({ rating: 5 })
        .room-review-card__reviews-counter
          span.room-review-card__reviews-counter_value 145
          span.room-review-card__reviews-counter_text Отзывов