extends ../../layouts/ui-kit-layout.pug
include ../../components/colors/colors.pug
include ../../components/type/type.pug

block variables
  - const title = "Colors & Type"

block content
  main.colors-type-page
    +colors([
      { color: "opaque", description: "Dark Shade 100%", colorCode: "#1F2041" },
      { color: "75-percent-transparent", description: "Dark Shade 75%", colorCode: "#1F2041" },
      { color: "translucent", description: "Dark Shade 50%", colorCode: "#1F2041" },
      { color: "25-percent-transparent", description: "Dark Shade 25%", colorCode: "#1F2041" },
      { color: "5-percent-transparent", description: "Dark Shade 5%", colorCode: "#1F2041" },
      { color: "purple", description: "Purple", colorCode: "#BC9CFF" },
      { color: "green", description: "Green", colorCode: "#6FCF97" },
    ])
    +type([
      { type: "h1", title: "h1", text: "This one is the sub-section or widget title" },
      { type: "h2", title: "h2", text: "Next one is the item title inside widgets" },
      { type: "h3", title: "h3", text: "This is a label or CTA text" },
      { type: "body", title: "body", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc." }
    ])