@import '@variables';

.registration {
  &__content {
    background: url('../registration/image/registration-background.jpg')
      no-repeat;
    background-size: cover;
    background-size: 107.5%;
    background-position: 40.2% 51.5%;
    box-sizing: border-box;

    @media (max-width: 1280px) {
      background-size: cover;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    padding: 18.9994px 0 18px 0;
    margin: 0 auto;
    padding-left: 20px;

    @media (max-width: 960px) {
      flex-direction: row;
      justify-content: center;
      padding: 7.1429rem 0 7.1429rem 0;
    }

    @media (max-width: 480px) {
      padding: 7.1429rem 0 14.2857rem 0;
    }
  }

  &__registration {
    min-width: 380px;

    @media (max-width: 960px) {
      align-items: center;
      padding-bottom: 7.1429rem;
    }
    @media (max-width: 480px) {
      padding-bottom: 3.5714rem;
    }
  }
}