mixin bullet-list(item)
	li.bullet-list__item=item
	

ul.bullet-list
	+bullet-list("Нельзя с питомцами")
	+bullet-list("Без вечеринок и мероприятий")
	+bullet-list("Время прибытия — после 13:00, а выезд до 12:00")